@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

$skeleton-text-background-alpha: 0.065;
$skeleton-text-background: rgba(0, 0, 0, $skeleton-text-background-alpha);
$skeleton-text-background-animated-alpha: 0.135;
$skeleton-text-background-animated: rgba(0, 0, 0, $skeleton-text-background-animated-alpha);

:host {
  border-radius: bv.$radius;
  display: block;
  width: 100%;
  height: inherit;
  margin-top: 4px;
  margin-bottom: 4px;
  background: $skeleton-text-background;
  line-height: 10px;
  user-select: none;
  pointer-events: none;
}

span {
  display: inline-block;
}

// Animated Skeleton Text
// -----------------------------------------------------------

:host(.is-animated) {
  position: relative;

  background: linear-gradient(
    to right,
    $skeleton-text-background 8%,
    $skeleton-text-background-animated 18%,
    $skeleton-text-background 33%
  );
  background-size: 800px 104px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
