@if (showInline()) {
  @for (key of keys; track key) {
    <he-link-key-value
      [node]="node()"
      [nodeType]="nodeType()"
      [dataState]="dataState()"
      [dataKey]="dataKey()"
      [key]="key"></he-link-key-value>
  }
  @for (key of additionalKeys; track key) {
    <he-link-key-value
      [node]="node()"
      [nodeType]="nodeType()"
      [dataState]="dataState()"
      [dataKey]="dataKey()"
      [key]="key"></he-link-key-value>
  }
} @else {
  <he-link-key-value
    [node]="node()"
    [nodeType]="nodeType()"
    [dataState]="dataState()"
    [dataKey]="dataKey()"
    key="term"></he-link-key-value>

  <div class="columns is-p-0 is-my-0 is-overflow-visible">
    <div class="column is-p-0 is-my-0"></div>
    <div class="column is-p-0 is-my-0 is-narrow is-overflow-visible">
      <div ngbDropdown class="is-overflow-visible" autoClose="outside" placement="bottom-end">
        <button
          ngbDropdownToggle
          class="button is-small is-ghost has-text-white"
          type="button"
          aria-controls="config-menu">
          <span>Customise fields</span>
          <span class="icon is-small">
            <fa-icon [icon]="faCog" aria-hidden="true" />
          </span>
        </button>

        <div ngbDropdownMenu id="config-menu">
          <div
            class="dropdown-content is-overflow-y-auto"
            (click)="$event.stopPropagation()"
            cdkDropList
            (cdkDropListDropped)="dropTableKey($event)">
            @for (key of tableKeys(); track key.key; let keyIndex = $index) {
              <div class="dropdown-item cdk-drag-item" cdkDrag>
                <div class="field is-relative">
                  <input
                    type="checkbox"
                    class="selector"
                    [id]="key.key"
                    [name]="key.key"
                    [checked]="key.selected"
                    (change)="onTableKeyChange(key, keyIndex, $event.target.checked)" />
                  <label class="is-pl-2" [for]="key.key">{{ key.key }}</label>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-container is-mt-2">
    <table class="table is-dark is-narrow is-striped">
      <thead>
        @for (key of visibleTableKeys(); track key) {
          <th>
            <a class="is-dark" [href]="schemaBaseUrl + '/' + type() + '#' + key.split('.')[0]" target="_blank">
              <b>{{ key.includes('.') ? key.split('.')[1] : key }}</b>
            </a>
          </th>
        }
      </thead>
      <tbody>
        @for (node of nodes(); track node) {
          <tr>
            @for (key of visibleTableKeys(); track key) {
              <td>
                <he-link-key-value
                  [node]="node"
                  [nodeType]="nodeType()"
                  [dataState]="dataState()"
                  [dataKey]="dataKey()"
                  [key]="key"
                  [defaultValue]="defaultValue(key)"></he-link-key-value>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
}
