table {
  background-color: transparent;

  &::ng-deep he-link-key-value {
    > a:first-child,
    > a:first-child + span {
      display: none;
    }
  }
}

.dropdown-content {
  max-height: 300px;
}

.cdk-drag-preview {
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  list-style: none;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-item {
  cursor: move;
}
