@if (loading() || recommendations().length > 0) {
  <p class="is-my-2 is-size-7">
    <span class="is-pr-2">Recommendations</span>
    @if (loading()) {
      <span>
        <fa-icon [icon]="faSpinner" animation="spin" size="sm" />
      </span>
    } @else {
      <a (click)="visible.set(!visible())">
        @if (visible()) {
          <span>Hide</span>
        } @else {
          <span>Show</span>
        }
      </a>
    }
  </p>
}

@if (visible()) {
  <div>
    @for (id of recommendations(); track id; let index = $index) {
      <button class="button mr-2 mb-2 {{ buttonClass() }}" (click)="add(id, index)">
        <fa-icon [icon]="faPlusCircle" />
        <span class="pl-2">Add</span>
        <span class="pl-1">{{ id | keyToLabel }}</span>
      </button>
    }
  </div>
}
