<app-node-suggest-form [nodeType]="nodeType"></app-node-suggest-form>

<div class="field has-addons">
  <div class="control">
    <span class="button is-small is-secondary is-static">Select key</span>
  </div>
  <div class="control is-expanded">
    <div class="select is-small">
      <select [(ngModel)]="selectedKey" name="selectedKey">
        @for (k of keys; track k) {
          <option [ngValue]="k">{{ k.key }} ({{ k.filterTermTypes.join(', ') }})</option>
        }
      </select>
    </div>
  </div>
</div>

<app-node-list [nodeType]="nodeType"></app-node-list>

<he-impact-assessments-products
  [nodeKey]="selectedKey.key"
  [filterTermTypes]="selectedKey.filterTermTypes"
  [enableFilterMethodModel]="selectedKey.enableFilterMethodModel"
  [dataState]="dataState"></he-impact-assessments-products>
