<he-select
  class="is-block"
  (blur)="onClose()"
  (closed)="onClose()"
  (searchChanged)="onSearchFilter($event)"
  (selectionChanged)="onSelectionChange($event)"
  [displayWith]="displayWith"
  [formControl]="selectControl"
  [multiple]="multiple"
  [placeholder]="placeholder"
  [searchable]="true"
  [valueTemplate]="multiple ? valueTemplateRef : undefined"
  [disabled]="disabled"
  [value]="$any(value)">
  <ng-container *ngIf="showSelectedOnTop">
    <he-select-option
      *ngFor="let option of filterStore.selectedOptions()"
      [staticChecked]="true"
      [value]="option.value"
      class="selected">
      {{ option.label }}
    </he-select-option>
    <div *ngIf="filterStore.selectedOptions()?.length" class="border-line w-100"></div>
  </ng-container>
  <ng-container *ngFor="let option of filterStore.filteredData() | slice: 0 : limitValue(); trackBy: trackByFn">
    <!--    LAYER:1    -->
    <he-select-option *ngIf="option.type === 'option'" [value]="option.value">{{ option.label }}</he-select-option>
    <he-select-option-group *ngIf="option.type === 'group' && option | filterHasOptions" [label]="option.label">
      <he-select-option *ngIf="option.type === 'group' && option.toggleButton" toggleGroup>Select all</he-select-option>
      <!--    LAYER:2    -->
      <ng-container *ngFor="let child of option.options | slice: 0 : limitValue(); trackBy: trackByFn">
        <he-select-option *ngIf="child.type === 'option'" [value]="child.value">{{ child.label }}</he-select-option>
        <he-select-option-group *ngIf="child.type === 'group' && child | filterHasOptions" [label]="child.label">
          <he-select-option *ngIf="child.type === 'group' && child.toggleButton" toggleGroup>
            Select all
          </he-select-option>

          <!--    LAYER:3    -->
          <ng-container *ngFor="let child2 of child.options | slice: 0 : limitValue(); trackBy: trackByFn">
            <he-select-option *ngIf="child2.type === 'option'" [value]="child2.value">
              {{ child2.label }}
            </he-select-option>
            <he-select-option-group *ngIf="child2.type === 'group' && child2 | filterHasOptions" [label]="child2.label">
              <!--    LAYER:4    -->
              <he-select-option
                *ngIf="child2.type === 'group' && child2.toggleButton"
                [staticChecked]="false"
                toggleGroup>
                Select all
              </he-select-option>

              <he-select-option
                *ngFor="let child3 of child2.options | slice: 0 : limitValue(); trackBy: trackByFn"
                [value]="child3.value">
                {{ child3.label }}
              </he-select-option>
            </he-select-option-group>
          </ng-container>
        </he-select-option-group>
      </ng-container>
    </he-select-option-group>
  </ng-container>
</he-select>

<ng-template #valueTemplateRef let-value>
  <span class="has-text-ellipsis m-0">{{ valuePlaceholder }}</span>
</ng-template>

<!-- TODO: recursive way of rendering. There are problem with ContentChildren when using this approach (not working a11n and other bugs)-->
<!--<he-select [searchable]="true" multiple (searchChanged)="onSearchFilter($event)">-->
<!--  <ng-container *ngFor="let option of filteredData" [ngTemplateOutlet]="renderOption"-->
<!--                [ngTemplateOutletContext]="{$implicit: option}"-->
<!--                [ngTemplateOutletInjector]="selectInjector"-->
<!--  ></ng-container>-->
<!--</he-select>-->

<!--<ng-template #renderOption let-option>-->
<!--  <he-select-option *ngIf="option.type === 'option'" [value]="option.value">{{option.label}}</he-select-option>-->
<!--  <he-select-option-group *ngIf="option.type === 'group'" [label]="option.label">-->
<!--    <he-select-option *ngFor="let child of option.options" [value]="child.value">{{child.label}}</he-select-option>-->
<!--    <ng-container *ngFor="let child of option.options" [ngTemplateOutlet]="renderOption"-->
<!--                  [ngTemplateOutletContext]="{$implicit: child}"-->
<!--                  [ngTemplateOutletInjector]="selectInjector"></ng-container>-->
<!--  </he-select-option-group>-->
<!--</ng-template>-->
