<div #origin="cdkOverlayOrigin" cdkOverlayOrigin>
  <ng-container
    *ngTemplateOutlet="
      selectTemplate ?? defaultSelectTemplate;
      context: {
        $implicit: this,
        value,
        displayValue,
        labelState,
        icon,
        placeholder,
        searchPlaceholder,
        width,
        valueTemplate
      }
    "></ng-container>
</div>

<ng-template
  (backdropClick)="close()"
  (detach)="close()"
  [cdkConnectedOverlayOffsetX]="overlayOptions?.offsetX ?? -2"
  [cdkConnectedOverlayOffsetY]="overlayOptions?.offsetY ?? 4"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayBackdropClass]="['cdk-overlay-transparent-backdrop', 'pointer-none']"
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop>
  <div [style.width]="width" class="select-panel" (clickOutside)="close()">
    <ng-content></ng-content>
  </div>
</ng-template>

<ng-template #defaultSelectTemplate>
  <div class="is-flex is-justify-content-flex-start is-flex-direction-column | select-host">
    <div class="control is-flex is-justify-content-space-between is-align-items-center">
      <ng-container [ngSwitch]="labelState">
        <input
          #input
          (input)="onHandleInput($event)"
          *ngSwitchCase="'search'"
          [placeholder]="searchPlaceholder"
          class="select-search | is-transparent" />

        <ng-container *ngSwitchCase="'value'">
          <ng-container
            *ngTemplateOutlet="valueTemplate ?? defaultValueTemplate; context: { $implicit: value }"></ng-container>
        </ng-container>
      </ng-container>

      <span class="drop-down-icon ml-2">
        <fa-icon [icon]="icon" />
      </span>
    </div>
  </div>
</ng-template>

<ng-template #defaultValueTemplate>
  <span [ngClass]="{ empty: !value }" class="has-text-secondary | selected-value">
    {{ displayValue || placeholder }}
  </span>
</ng-template>
