@use 'bulma/sass/utilities/mixins' as mixins;
@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as v;

::ng-deep:root {
  --select-border-radius: 6px;
  --select-min-width: 250px;
  --select-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.select-host {
  padding: 5px 10px;
  box-sizing: border-box;
  min-width: var(--select-min-width);

  border-radius: var(--select-border-radius);
  border: 1px solid v.$grey-lightest;
  background: v.$white;
  box-shadow: var(--select-shadow);

  &:hover {
    cursor: pointer;
    background-color: var(--color-background, #eceff1);
  }

  &.select-panel-open {
    position: relative;
    z-index: 1001;
    border-radius: var(--select-border-radius) var(--select-border-radius) 0 0;
    box-shadow: none;
  }
}

::ng-deep.is-disabled .select-host {
  pointer-events: none;
  user-select: none;
  background: #f5f5f580;
  border-color: v.$grey-lighter;
  box-shadow: none;
  color: v.$grey-lighter;
}

.select-search {
  border: none;
  outline: none;
  background: transparent;
}

.select-panel {
  box-sizing: border-box;
  border-radius: 0 0 var(--select-border-radius, 6px) var(--select-border-radius, 6px);
  border: 1px solid v.$grey-lightest;
  background-color: v.$white;
  transform-origin: top;
  max-height: 350px;
  overflow: auto;
  box-shadow: var(--select-shadow);
}
