@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as v;

ul {
  max-height: 400px;

  li {
    width: 4px;
    padding-top: 20px;
    background: v.$blue;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 2px;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: inherit;
    }

    > div {
      width: 600px;
      margin-left: 24px;

      > span {
        display: inline-block;

        &:nth-child(1),
        &:nth-child(3) {
          width: 94px;
        }
      }
    }
  }
}
