<ul class="content is-pl-4 is-ml-4 is-pb-4 is-overflow-y-auto">
  @for (
    blankNode of blankNodes() | sortBy: ['startDate', 'endDate'] : ['asc', 'asc'];
    track trackByBlankNode($index, blankNode)
  ) {
    <li class="is-relative is-m-0">
      <div class="is-relative" [style.width]="lineWidth + 'px'">
        @if (blankNode.startDate) {
          <span>{{ blankNode.startDate | date: 'YYYY-MM-dd' }}</span>
        }
        @if (!blankNode.startDate) {
          <span>
            @if (blankNode.term?.termType === TermTermType.operation) {
              No date
            }
          </span>
        }
        <span class="px-1" [class.is-invisible]="!blankNode.startDate || !blankNode.endDate">-</span>
        <span [class.is-invisible]="!blankNode.endDate">{{ blankNode.endDate || now | date: 'YYYY-MM-dd' }}</span>
        <span class="pl-4" [innerHtml]="blankNode.term.name | compound: blankNode.term.termType"></span>
        <he-blank-node-state
          class="ml-1"
          [dataState]="dataState()"
          [node]="blankNode"
          key="value"></he-blank-node-state>
      </div>
    </li>
  }
</ul>
