@if (show()) {
  <p class="is-size-7 is-italic">
    <span class="pl-1 notice-data-unchaged">† Data uploaded by the user</span>
    <span class="pl-1 notice-data-added">* Data added by HESTIA</span>
    <span class="pl-1 notice-data-updated">** Data updated by HESTIA</span>
    @if (showDeleted()) {
      <span class="pl-1 notice-data-deleted">**** Data deleted by Hestia</span>
    }
  </p>
}
