<div class="is-overflow-auto | shell-content">
  <div [class.menu-expanded]="expanded()" class="shell__content--body | h-100">
    <ng-content />
  </div>
</div>

<aside class="shell-footer | is-flex is-justify-content-space-between">
  @for (button of buttons(); track button.id || button.label) {
    <button
      (click)="onMenuButtonClick(button)"
      class="button is-secondary is-flex is-flex-direction-column is-align-items-center | menu-button"
      [disabled]="button.disabled">
      <ng-container
        *ngTemplateOutlet="
          iconTemplate ?? defaultIconTemplate;
          context: { $implicit: button, isActive: button.isActive }
        " />
      @if (button.isActive && button.label) {
        <span class="is-size-8 | menu-button-label">{{ button.label }}</span>
      }
    </button>
  }
</aside>

<div [class.expanded]="expanded()" class="shell-menu | is-absolute w-100 h-100">
  <ng-template [ngTemplateOutlet]="menuRef()" />
</div>

<ng-template #defaultIconTemplate let-button>
  <fa-icon [icon]="button.icon" />
</ng-template>
