@use '../../variables' as hv;
@use 'bulma/sass/utilities/mixins' as mixin;
@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as v;

:host {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
  overflow: hidden;

  --menu-height: 2.875em;
}

.shell-footer {
  background: v.$blue;
  z-index: 10;
}

.shell-menu {
  bottom: 0;
  left: 0;
  background: hv.$background-white-alt;
  transform: translateY(100%);
  transition: transform 0.1s ease-out;

  padding-bottom: var(--menu-height);

  &.expanded {
    transform: translateY(0%);
  }
}

.menu-button-label {
  line-height: normal;
  letter-spacing: -0.01rem;
}

.menu-button {
  box-shadow: none;
  height: 3.5em;
  width: 2em;

  &:hover {
    background-color: initial;
  }
}
