@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

:host {
  --summary-files-border-edge: 1px solid #{bv.$grey-lightest};

  .border-top {
    border-top: var(--summary-files-border-edge);
  }

  .border-bottom {
    border-bottom: var(--summary-files-border-edge);
  }

  .border-right {
    border-right: var(--summary-files-border-edge);
  }

  .border-x {
    border-left: var(--summary-files-border-edge);
    border-right: var(--summary-files-border-edge);
  }

  .border-y {
    border-bottom: var(--summary-files-border-edge);
    border-top: var(--summary-files-border-edge);
  }
}

p,
span {
  word-break: break-word;
}

.errors-path {
  color: bv.$secondary-hover;
}

.errors-count {
  width: 110px;

  &--number {
    line-height: 1.3;
    border-radius: 1px;
    padding: 1px 5px;
  }
}

.resolved-actions {
  &--resolve {
    color: bv.$grey-light;

    &.is-resolved,
    &:hover {
      color: bv.$success;
    }
  }

  &--unresolve {
    color: bv.$grey-light;

    &:not(.is-resolved),
    &:hover {
      color: bv.$danger;
    }
  }
}
