<ng-template #headerTemplate>
  <div>
    <h1>Download in Progress</h1>
    <p>2 of 3 Downloaded</p>
  </div>
</ng-template>

<he-shelf-dialog [headerTemplate]="headerTemplate">
  <div>
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
  </div>
</he-shelf-dialog>
`
