<app-node-suggest-form [nodeType]="nodeType"></app-node-suggest-form>

<app-node-list [nodeType]="nodeType"></app-node-list>

<div class="is-mt-2">
  <div class="field has-addons">
    <div class="control">
      <span class="button is-small is-secondary is-static">Select section</span>
    </div>
    <div class="control is-expanded">
      <div class="select is-small">
        <select [ngModel]="selectedSectionTitle()" name="selectedSection" (change)="selectSection($event.target.value)">
          @for (section of sections; track section) {
            <option [value]="section.title">{{ section.title }}</option>
          }
        </select>
      </div>
    </div>
  </div>
</div>

<he-cycles-nodes
  [dataState]="dataState"
  [nodeKeys]="selectedSection().nodeKeys"
  [nodeKeyGroup]="selectedSection().nodeKeyGroup"></he-cycles-nodes>
