@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

:host {
  cursor: pointer;
  display: block;
}

$popover-max-width: 24rem !default;
$popover-color: bv.$white !default;
$popover-font-size: bv.$size-7 !default;
$popover-background-color: bv.$blue !default;
$popover-radius: bv.$radius-large !default;
$popover-shadow: bv.$dropdown-content-shadow !default;
$popover-caret-size: 0.4rem !default;
$popover-caret-shadow: -1px 1px 2px rgba(bv.$black, 0.2) !default;

@mixin top {
  .popover-content {
    top: auto !important;
    bottom: 100% !important;
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, -0.7rem) !important;

    &::before {
      top: 100% !important;
      bottom: auto !important;
      left: 50% !important;
      right: auto !important;
      transform: rotate(-45deg);
    }
  }
}

@mixin right {
  .popover-content {
    top: auto !important;
    bottom: 50% !important;
    left: 100% !important;
    right: auto !important;
    transform: translate(0.7rem, 50%) !important;

    &::before {
      top: 50% !important;
      bottom: auto !important;
      left: 0 !important;
      right: auto !important;
      transform: rotate(45deg);
    }
  }
}

@mixin bottom {
  .popover-content {
    top: 100% !important;
    bottom: auto !important;
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 0.7rem) !important;

    &::before {
      top: 0 !important;
      bottom: auto !important;
      left: 50% !important;
      right: auto !important;
      transform: rotate(135deg);
    }
  }
}

@mixin left {
  .popover-content {
    top: auto !important;
    bottom: 50% !important;
    left: auto !important;
    right: 100% !important;
    transform: translate(-0.7rem, 50%) !important;

    &::before {
      top: 50% !important;
      bottom: auto !important;
      left: 100% !important;
      right: auto !important;
      transform: rotate(-135deg);
    }
  }
}

.popover {
  .popover-content {
    z-index: 99999;
    position: absolute;
    display: none;
    font-size: $popover-font-size;
    padding: 0.4rem 0.8rem;
    color: $popover-color;
    background-color: $popover-background-color;
    border-radius: $popover-radius;
    box-shadow: $popover-shadow;
    width: max-content;
    max-width: $popover-max-width;

    &::before {
      position: absolute;
      content: '';
      border-style: solid;
      pointer-events: none;
      height: 0;
      width: 0;
      top: 100%;
      left: 50%;
      border-color: transparent;
      border-bottom-color: $popover-background-color;
      border-left-color: $popover-background-color;
      border-width: $popover-caret-size;
      margin-left: -$popover-caret-size;
      margin-top: -$popover-caret-size;
      transform-origin: center;
      // box-shadow: $popover-caret-shadow;
    }
  }

  @include top;

  &.is-popover-right {
    @include right;
  }

  &.is-popover-bottom {
    @include bottom;
  }

  &.is-popover-left {
    @include left;
  }

  &.is-popover-active,
  &.is-popover-hover:hover,
  .popover-trigger:focus ~ {
    .popover-content {
      display: block;
    }
  }
}
