<div class="is-inline-block is-relative popover is-popover-{{ position() }}" [class.is-popover-active]="active()">
  <ng-content></ng-content>

  <div class="popover-content">
    <ng-template
      [ngTemplateOutlet]="content() || ct"
      [ngTemplateOutletContext]="{ message: message(), data: data() }"></ng-template>

    <footer>
      <ng-content select="[actions]"></ng-content>
      <button class="button is-small is-info" (click)="$event.stopPropagation(); active.set(false)">
        <span i18n="@@close">Close</span>
      </button>
    </footer>
  </div>
</div>

<ng-template #ct>
  <p class="mb-2 is-pre-wrap" [innerHtml]="message()"></p>
</ng-template>
