@if (version()) {
  <div class="tags has-addons">
    <a class="tag is-info" [href]="url()" target="_blank" (click)="$event.stopPropagation()">
      {{ version() }}
      <fa-icon class="ml-2" [icon]="faExternalLinkAlt" size="sm" />
    </a>
    @if (showDetails()) {
      @if (version() === ENGINE_VERSION) {
        <span class="tag is-success">latest recalculations</span>
      } @else {
        <span class="tag is-warning">outdated recalculations</span>
      }
    }
  </div>
}
