<div class="p-3" [class.is-hidden]="!terms().length">
  <div class="field has-addons pt-2 px-3">
    <div class="control">
      <span class="button is-small is-static is-secondary">Select an Emission</span>
    </div>
    <div class="control is-expanded">
      <div class="select is-small is-fullwidth is-secondary">
        <select (change)="selectTerm($event)">
          @for (term of terms(); track term) {
            <option [value]="term['@id']">{{ term.name }} ({{ term.units }})</option>
          }
        </select>
      </div>
    </div>
  </div>

  <div class="is-mt-1">
    <he-chart class="is-relative" [data]="chartData()" [config]="chartConfig()"></he-chart>
  </div>
</div>
