@if (show()) {
  @for (star of stars(); track star) {
    <span>*</span>
  }
  @if (stars().length === 0 || currentState() === NodeKeyState.unchanged) {
    <span>†</span>
  }
  @if (showLink()) {
    <span class="is-ml-2">
      @if (model()) {
        <a [ngClass]="linkClass()" [href]="modelUrl()" target="_blank" (click)="$event.stopPropagation()">
          <span>Docs</span>
          <fa-icon class="ml-2" [icon]="faExternalLinkAlt" size="sm" />
        </a>
      }
    </span>
  }
}
