<div class="modal is-large is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Draw on Map</p>
      <button class="delete" aria-label="close" (click)="close()"></button>
    </header>
    <section class="modal-card-body p-0">
      <he-maps-drawing #map [value]="value()" [modes]="modes()"></he-maps-drawing>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" (click)="confirm()">
        <span>Confirm</span>
      </button>
      <button class="button is-ghost" (click)="close()">
        <span>Close</span>
      </button>
      <button class="button is-danger" (click)="map.clear()">
        <fa-icon class="mr-2" [icon]="faTimes" />
        <span>Clear</span>
      </button>
    </footer>
  </div>
</div>
