<app-node-suggest-form [nodeType]="nodeType" [multiple]="false"></app-node-suggest-form>

<app-node-list [nodeType]="nodeType"></app-node-list>

@if (nodes().length) {
  <div>
    <div class="card">
      <div class="card-content">
        <he-engine-models-version-link [node]="nodes()[0]" [showDetails]="true"></he-engine-models-version-link>
        <he-engine-models-stage [node]="nodes()[0]"></he-engine-models-stage>
      </div>
    </div>
  </div>
}
