<div class="is-flex is-flex-direction-column is-gap-24">
  <div>
    <div class="columns is-mobile is-vcentered has-text-secondary is-my-0">
      <div class="column is-py-0">
        <h2 class="has-text-weight-bold">
          <ng-content select="[box-title]"></ng-content>
        </h2>
      </div>
      <div class="column is-py-0 is-narrow" (click)="open.set(!open())" pointer>
        <fa-icon [icon]="open() ? faAngleUp : faAngleDown" />
      </div>
    </div>

    <hr class="section-divider w-100 is-mt-2 is-mb-0" />
  </div>

  @if (open()) {
    <ng-content select="[box-content]"></ng-content>
  }
</div>
