<header
  (click)="onGroupLabelClick($event)"
  (keyup.enter)="onGroupLabelClick($event)"
  class="option-group-header | is-align-items-center">
  <p class="option-group-label">{{ label }}</p>
  <fa-icon [icon]="suffixIcon" />
</header>

<div class="option-group-option-container">
  @if (expanded) {
    <ng-content></ng-content>
  }
</div>
