@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as v;

$group-hover-border-color: v.$turquoise;
$group-border-color: v.$grey-lightest;
$group-active-background-color: Rgba(123, 123, 222, 0.15);
$group-label-color: v.$blue;

@mixin group-option-typography {
  font-size: v.$size-7;
  font-style: normal;
  font-weight: 600;
  line-height: 128.571%;
}

@mixin is-active-option-group-header {
  .option-group-header {
    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      @content;
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;

  &.active > {
    .option-group-header {
      border-top-color: $group-hover-border-color;
      border-bottom-color: $group-hover-border-color;
      background-color: $group-active-background-color;
    }
  }

  @include is-active-option-group-header {
    border-top-color: $group-hover-border-color;
    border-bottom-color: $group-hover-border-color;
  }

  &:first-child {
    @include is-active-option-group-header {
      border-top-color: transparent;
    }
  }

  &:last-child:not(.expanded) {
    @include is-active-option-group-header {
      border-bottom-color: transparent;
    }
  }
}

.option-group-option-container {
  margin-left: 1em;
}

.option-group-header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5em;
  padding: 0.5em 1em;
  border: transparent 1px solid;
  border-top-color: $group-border-color;
  border-bottom-color: $group-border-color;
  @include group-option-typography;

  &:focus-visible {
    outline: transparent;
  }
}

.option-group-label {
  color: $group-label-color;
  font-feature-settings: 'calt' off;
  word-break: break-word;
}

.option-content {
  transition: transform 320ms ease-out;
  width: 100%;
}
