@if (error()) {
  <div class="has-text-danger">
    @switch (message()) {
      @case (ErrorKeys.PrivacyNotAllowed) {
        <div>
          <span>
            Uploading data with
            <code class="is-px-1">dataPrivate={{ error().value }}</code>
            is not allowed.
          </span>
          <span class="is-pl-1">
            Please try uploading with
            <code class="is-px-1">dataPrivate={{ !error().value }}</code>
            instead.
          </span>
        </div>
      }
      @case (ErrorKeys.InvalidJSON) {
        <div>
          <p>The uploaded content does not appear to contain valid JSON data:</p>
          <div class="is-mt-2">
            <pre><code>{{error().error}}</code></pre>
          </div>
          <p>
            Please validate your JSON content before uploading it using an
            <a href="https://jsoneditoronline.org" target="_blank">online tool</a>
            for example.
          </p>
        </div>
      }
      @case (ErrorKeys.NoData) {
        <div class="is-mb-2">
          <p>No Nodes could be found in your Upload. Please verify the column headers match the HESTIA schema.</p>
          <ng-container *ngTemplateOutlet="defaultError" />
        </div>
      }
      @case (SchemaErrorKeys.PropertyNotFound) {
        <div class="is-mb-2">
          <div class="notification is-danger" role="alert">
            <p>
              <fa-icon class="pr-2" [icon]="faExclamationTriangle" />
              <span>You have column headers that do not match the HESTIA schema.</span>
              <span class="px-1">Please refer to the</span>
              <a [href]="schemaUrl()" target="_blank">schema</a>
              <span class="pl-1">and then correct the column headers indicated below.</span>
            </p>
            <ng-container *ngTemplateOutlet="defaultError" />
          </div>
          <div class="is-mb-2">
            <pre><code>{{error().key}}</code></pre>
          </div>
        </div>
      }
      @case (SchemaErrorKeys.PropertyInvalidFormat) {
        <div class="is-mb-2">
          <div class="is-mb-2">
            <span>
              The following value in the column
              <i>{{ error().key }}</i>
              is not in the correct format:
            </span>
            <br />
            <pre class="is-mt-2"><code>{{stringify(error().value)}}</code></pre>
          </div>
          @switch (hasNumberWithCommasError()) {
            @case (true) {
              <p class="is-mt-2">
                Please format your numbers to remove commas and use a decimal point to separate the whole part of the
                number from the fractional part of the number.
              </p>
              <p class="is-mt-2 has-text-danger has-text-underline">Incorrect:</p>
              <pre class="is-mt-2"><code>3,510.1</code></pre>
              <p class="is-mt-2 has-text-success has-text-underline">Correct:</p>
              <pre class="is-mt-2"><code>3510.1</code></pre>
            }
            @case (false) {
              <ng-container *ngTemplateOutlet="schemaError" />
              <p>The error could either be a value in the column, or an error with the column header.</p>
              <p>
                If you are trying to set no data, we accept either
                <code>-</code>
                or an empty cell.
              </p>
            }
          }
        </div>
      }
      @case (ErrorKeys.PropertyRequired) {
        <div class="is-mb-2">
          <div class="is-mb-2">
            <span class="pr-1">The following field is required in the</span>
            @if (error().schema) {
              <a class="pr-1" [href]="schemaUrl()" target="_blank">{{ error().schema }}</a>
            }
            <span>schema:</span>
            <br />
            <pre class="is-mt-2"><code>{{error().property}}</code></pre>
          </div>
          <p>
            @switch (error().property) {
              @case ('id') {
                <span>
                  You must assign a unique
                  <code>id</code>
                  for every record in your data.
                </span>
              }
              @case ('type') {
                <span>
                  Every record in your data must contain a
                  <code>type</code>
                  .
                </span>
              }
            }
          </p>
        </div>
      }
      @case (ErrorKeys.PropertyInternal) {
        <div class="is-mb-2">
          <div class="is-mb-2">
            <span class="pr-1">
              The following field is
              <code>internal</code>
              in the
            </span>
            <a [href]="schemaKeyUrl()" target="_blank">{{ error().schema }} schema</a>
            <span>:</span>
            <br />
            <pre class="is-mt-2"><code>{{error().schemaKey || error().key}}</code></pre>
          </div>
          <p>
            You cannot upload
            <code>internal</code>
            fields to HESTIA.
          </p>
        </div>
      }
      @case (SchemaErrorKeys.SchemaNotFound) {
        <div class="is-mb-2">
          @if (error().key) {
            <div class="is-mb-2">
              <span>The following Node does not exist in the schema:</span>
              <br />
              <pre class="is-mt-2"><code>{{error().key}}</code></pre>
            </div>
          } @else if (error().schema) {
            <div class="is-mb-2">
              <span>The following Node Type does not exist in the schema or can not be uploaded directly:</span>
              <br />
              <pre class="is-mt-2"><code>{{error().schema}}</code></pre>
            </div>
          }
          <p>
            <span>The list of accepted values is:</span>
          </p>
          <div class="content">
            <ul>
              @for (type of nodeTypes; track type) {
                <li>
                  <i>{{ type }}</i>
                </li>
              }
            </ul>
          </div>
        </div>
      }
      @case (ErrorKeys.InvalidFirstColumn) {
        <div class="is-mb-2">
          <span>
            No data in the HESTIA format was detected on the first sheet. Either try selecting a different sheet in the
            upload screen, or check the sheet to ensure the headers follow the schema - see examples
          </span>
          <a class="pl-1" routerLink="/upload" fragment="example">here</a>
        </div>
      }
      @case (ErrorKeys.InvalidExcelFile) {
        <div class="is-mb-2">
          This file has been uploaded with a
          <code>{{ fileExt() }}</code>
          extension, but does not appear to be a valid Excel file.
        </div>
      }
      @case (ErrorKeys.NoHeaders) {
        <div class="is-mb-2">
          <p>
            No headers matching the HESTIA schema were found on the first row. Please remove all empty rows at the
            begining of the file and try uploading again.
          </p>
          <ng-container *ngTemplateOutlet="defaultError" />
        </div>
      }
      @case (ErrorKeys.InvalidSheetName) {
        <div class="is-mb-2">
          <div class="is-mb-2">
            <span class="pr-1">The Excel sheet</span>
            <code>{{ error().value }}</code>
            <span class="pl-1">does not exist.</span>
            <span class="pl-1">Your Excel file contains the following sheets:</span>
            <ul class="mt-1 content is-list-style-disc pl-5">
              @for (e of error().error.split(';'); track e) {
                <li>
                  <code>{{ e }}</code>
                </li>
              }
            </ul>
          </div>
          <p>
            <span>Please re-upload selecting one of the sheets above.</span>
          </p>
        </div>
      }
      @case (ErrorKeys.DuplicatedHeaders) {
        <div class="is-mb-2">
          <span>Your upload contains duplicated column headers.</span>
        </div>
      }
      @case (ErrorKeys.DuplicatedIds) {
        <div class="is-mb-2">
          <div>
            <span class="is-pr-1">You have multiple</span>
            <code>{{ error().schema | pluralize }}</code>
            <span class="is-px-1">with the same</span>
            <a [href]="schemaKeyUrl()" target="_blank">{{ error().schemaKey }}</a>
            <span class="is-px-1">but different data. The</span>
            <a [href]="schemaKeyUrl()" target="_blank">{{ error().schemaKey }}</a>
            <span class="is-pl-1">is:</span>
            <br />
            <pre class="is-mt-2"><code>{{error().value}}</code></pre>
          </div>
          <p class="is-mt-2 is-italic">
            <span class="is-pr-1">Please note that ussing different case does not make the</span>
            <a [href]="schemaKeyUrl()" target="_blank">{{ error().schemaKey }}</a>
            <span class="is-pl-1">unique.</span>
          </p>
        </div>
      }
      @case (SchemaErrorKeys.DuplicatedIdFields) {
        <div class="is-mb-2">
          <span class="is-pr-1">You have used both the</span>
          <code>&#64;id</code>
          <span class="is-px-1">and</span>
          <code>id</code>
          <span class="is-px-1">fields in the same data. Please use</span>
          <code>&#64;id</code>
          <span class="is-px-1">when linking to existing nodes on the Platform, and</span>
          <code>id</code>
          <span class="is-px-1">when linking to nodes you are uploading in this file using the same</span>
          <code>id</code>
          <span class="is-px-1">field.</span>
        </div>
      }
      @case (ErrorKeys.NestedHeaders) {
        <div class="is-mb-2">
          <p>
            To link nodes together, you first need to define the node (e.g.,
            <code>source.id</code>
            ,
            <code>source.bibliography.title</code>
            ) and then create the link (e.g.,
            <code>cycle.defaultSource.id</code>
            ). We do not allow nesting (e.g.,
            <code>cycle.defaultSource.bibliography.title</code>
            ).
          </p>
        </div>
      }
      @case (ErrorKeys.ReferenceExistingHeaders) {
        <div class="is-mb-2">
          <p>
            You have used the internal
            <code>&#64;id</code>
            field to upload a new Node.
          </p>
          <p>
            The
            <code>&#64;id</code>
            field should only be used to reference existing Node or Terms. Example:
          </p>
          <p class="is-mt-2 has-text-danger has-text-underline">Incorrect:</p>
          <pre class="is-mt-2"><code>cycle.&#64;id,cycle.inputs.0.term.&#64;id,source.id</code></pre>
          <p class="is-mt-2 has-text-success has-text-underline">Correct:</p>
          <pre class="is-mt-2"><code>cycle.id,cycle.inputs.0.term.&#64;id,source.id</code></pre>
        </div>
      }
      @case (SchemaErrorKeys.ObjectArrayInvalid) {
        <div class="is-mb-2">
          <p>The values in the column {{ error().key }} must be represented as arrays.</p>
          <ng-container *ngTemplateOutlet="schemaError" />
          <p>Examples:</p>
          <pre class="is-mt-2"><code>{{ error().key + '.0.term.name' }}</code></pre>
          <pre class="is-mt-2"><code>{{ error().key + '.0.value' }}</code></pre>
          <pre class="is-mt-2"><code>{{ error().key + '.1.term.name' }}</code></pre>
          <pre class="is-mt-2"><code>{{ error().key + '.1.value' }}</code></pre>
        </div>
      }
      @case (ErrorKeys.MaxSize) {
        <div class="is-mb-2">
          <span>The maximum file size limit is {{ maxFileSizeMb }}Mb (current file size: {{ error().value }}Mb).</span>
          <span class="pl-1">Please re-upload these data in multiple files.</span>
        </div>
      }
      @case (ErrorKeys.MaxRows) {
        <div class="is-mb-2">
          <span>
            Your file has {{ error().value | number }} rows. This might be an error caused by adding some data at the
            bottom of a spreadsheet by accident: delete any unused rows and resubmit the file.
          </span>
        </div>
      }
      @case (ErrorKeys.Mendeley) {
        <div class="is-mb-2">
          <p>An error occured while fetching the bibliographic information. Please try re-uploading the file.</p>
          <ng-container *ngTemplateOutlet="reportError" />
        </div>
      }
      @case (ErrorKeys.Timeout) {
        <div class="is-mb-2">
          <p>Time exceeded for current step.</p>

          @if (debug()) {
            <span>You can try to "Re-index" or "Re-upload" if it still does not work.</span>
          }

          <ng-container *ngTemplateOutlet="reportError" />
        </div>
      }
      @default {
        <div class="is-mb-2">
          <p>{{ message() }}</p>

          @if (debug()) {
            <pre><code>{{ error() | json }}</code></pre>
          }

          <ng-container *ngTemplateOutlet="reportError" />
        </div>
      }
    }

    @if (hasGeoJSONError()) {
      <div class="is-mb-2">
        <p>If the GeoJSON is too large, please try to simplify it following these steps:</p>
        <ul class="is-my-1 content is-list-style-decimal pl-5">
          <li>
            <span class="is-pr-1">Go to</span>
            <a href="https://mapshaper.org/" target="_blank">https://mapshaper.org/</a>
          </li>
          <li>
            <span>
              Save the boundary in a valid
              <code>.geojson</code>
              file.
            </span>
          </li>
          <li>
            <span>Import it on mapshaper.</span>
          </li>
          <li>
            <span>Click "Simplify" in the top right corner in the menu bar.</span>
          </li>
          <li>
            <span>Adjust the percentage to a lower value, like 50% to start with.</span>
          </li>
          <li>
            <span>
              Export to
              <code>GeoJson</code>
              or
              <code>CSV</code>
              .
            </span>
          </li>
          <li>
            <span>Copy the resulting content into your upload file.</span>
          </li>
        </ul>
        <p>If you encounter the error again, try again using a lower percentage at step 5.</p>
      </div>
    }

    @if (columns().length || (error().index && !isSchemaError())) {
      <div class="my-3">
        <b>Hint:</b>
        <span class="pl-1">the error might be located</span>
        @if (error().index && !isSchemaError()) {
          <span class="pl-1">on row {{ error().index }}</span>
        }
        @if (columns().length) {
          <span class="pl-1">in {{ 'column' | pluralize: columns().length }}:</span>
          <ul class="mt-1 content is-list-style-disc pl-5">
            @for (column of columns(); track column) {
              <li>
                <b class="pr-2">{{ column.column }}</b>
                <code>{{ column.name }}</code>
              </li>
            }
          </ul>
        }
      </div>
    }

    @if (error().suggestions?.length) {
      <div class="my-3">
        <b>Suggestions:</b>
        <span class="pl-1">did you mean instead:</span>
        <ul class="mt-1 content is-list-style-disc pl-5">
          @for (suggestion of error().suggestions; track suggestion) {
            <li>
              <code>{{ suggestion }}</code>
            </li>
          }
        </ul>
      </div>
    }

    @if (showCsvPreview()) {
      <div class="is-my-2">
        <b>
          Preview
          <sup>1</sup>
          :
        </b>
        <div class="table-container is-mt-2">
          <table class="table is-bordered is-fullwidth is-hoverable is-narrow mb-0">
            <thead>
              @if (error().index) {
                <th></th>
              }
              @for (header of headers(); track header) {
                <th>{{ header }}</th>
              }
            </thead>
            <tbody>
              @for (row of rows(); track row) {
                <tr>
                  @if (error().index) {
                    <td class="has-text-danger">
                      <span class="is-nowrap">Row {{ error().index }}</span>
                    </td>
                  }
                  @for (col of row; track col; let colIndex = $index) {
                    <td>
                      <span
                        [class.has-text-danger]="
                          message() === ErrorKeys.DuplicatedIds && hasDuplicatedError(col, colIndex)
                        ">
                        {{ col | ellipsis: 50 }}
                      </span>
                    </td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </div>
        <p class="is-size-7">
          <i>1. The preview does not necessarily reflect the original Upload's order or content.</i>
        </p>
      </div>
    }

    @if (showJsonPreview()) {
      <div class="is-my-2">
        <b>Preview:</b>
        <pre class="is-mt-2"><code>{{stringify(error().node)}}</code></pre>
      </div>
    }
  </div>
}

<ng-template #defaultError>
  <p class="is-mt-2 has-text-black">
    <span class="is-pr-1">If you are still stuck, please see</span>
    <a [href]="baseUrl + '/upload#example'" target="_blank">the example uploads and videos</a>
    <span class="is-px-1">
      or try using the Wizard to get the first few rows of data formatted correctly, or use the chat to ask for help.
    </span>
  </p>
</ng-template>

<ng-template #reportError>
  <p class="is-mt-2">
    To report this error, please
    <a class="is-pl-1" [href]="reportErrorUrl()" target="_blank">click here</a>
    .
  </p>
</ng-template>

<ng-template #schemaError>
  <p>
    <span class="pr-1">You can see the accepted field type and some examples</span>
    <a [href]="schemaKeyUrl()" target="_blank">here</a>
    <span>.</span>
  </p>
</ng-template>
