<div class="card">
  <div class="card-toggle p-4" (click)="isOpen.set(!isOpen())" pointer>
    <fa-icon [icon]="isOpen() ? faAngleDown : faAngleRight" />
    @if (nodeProperty()) {
      <span
        class="is-px-2"
        [class.has-text-danger]="nodeProperty().hasError"
        [class.has-text-warning]="nodeProperty().hasWarning">
        <he-node-icon [type]="schemaType()"></he-node-icon>
      </span>
    }
  </div>

  @if (isOpen() && nodeProperty()) {
    <ng-container *ngTemplateOutlet="showNewProperty; context: { $implicit: nodeProperty() }"></ng-container>
  }

  <div class="card-content">
    @if (isOpen()) {
      @if (nodeProperty()?.error) {
        <div class="py-4 pl-4">
          <ng-container *ngTemplateOutlet="propertyError; context: { property: nodeProperty() }"></ng-container>
        </div>
      }
    }

    <div class="columns is-multiline">
      @for (property of properties(); track trackByProperty($index, property)) {
        <ng-container *ngTemplateOutlet="showProperty; context: { $implicit: property }"></ng-container>
      }
    </div>
  </div>

  <ng-content></ng-content>
</div>

@if (!!bibliographiesSearchProperty()) {
  <he-bibliographies-search-confirm
    [search]="bibliographiesSearchProperty().value"
    [searchBy]="bibliographiesSearchKey(bibliographiesSearchProperty())"
    [searchSources]="bibliographiesSearchSources"
    (closed)="onBibliographiesSearchClosed($event)"></he-bibliographies-search-confirm>
}

<ng-template #labelDescription let-property>
  <span class="property-key" [ngbTooltip]="property.key" placement="right">
    <span class="is-inline-block is-align-middle is-nowrap has-text-ellipsis">{{ property.key }}</span>
    @if (property.schema?.description) {
      <he-schema-info
        class="is-inline-block is-pl-1 is-align-middle"
        triggers="click"
        [content]="property.schema.description"></he-schema-info>
    }
  </span>
</ng-template>

<ng-template #labelDefault let-property>
  <span>{{ property.key }}</span>
</ng-template>

<ng-template #showProperty let-property>
  @if ((isOpen() || property.closedVisible) && !property.isHidden) {
    <div
      class="column is-6"
      [id]="property.fullKey + '_' + property.id"
      [class.is-12]="property.properties.length || !property.key">
      @if (!property.properties.length) {
        <div class="columns is-multiline is-variable is-1">
          @if (property.key) {
            <div class="column is-3 py-1">
              <label class="label has-text-right-tablet has-text-ellipsis" [for]="property.id" [title]="property.key">
                <ng-container
                  *ngTemplateOutlet="
                    property.schema?.description && property.editable ? labelDescription : labelDefault;
                    context: { $implicit: property }
                  "></ng-container>
              </label>
            </div>
          }
          <div class="column is-9 py-1" [class.is-12]="!property.key">
            <div class="field">
              <ng-container *ngTemplateOutlet="inputForm; context: { $implicit: property }"></ng-container>
              <ng-container *ngTemplateOutlet="propertyError; context: { property: property }"></ng-container>
            </div>
          </div>
        </div>
      }
      @if (!!property.properties.length) {
        <div
          class="panel"
          [class.is-danger]="!property.changed && property.hasError"
          [class.is-warning]="!property.changed && property.hasWarning"
          [class.is-default]="!property.changed && !property.hasError && !property.hasWarning">
          <div
            class="open-group panel-heading py-0"
            (click)="property.isOpen = !property.isOpen"
            pointer
            [class.is-open]="property.isOpen"
            [class.has-text-white]="property.hasError || property.hasWarning">
            <div class="columns is-mobile is-vcentered is-multiline">
              <span class="column is-narrow py-1 my-0">
                <fa-icon [icon]="faAngleDown" [class.is-hidden]="!property.isOpen" />
                <fa-icon [icon]="faAngleRight" [class.is-hidden]="property.isOpen" />
              </span>
              <span class="column py-1 my-0">
                <span class="is-size-6">{{ property.key }}</span>
              </span>
              @if (property.schemaType) {
                <span class="column is-narrow py-1 my-0">
                  <span class="tags mb-0 has-addons">
                    <span class="tag mb-0 is-light">Type</span>
                    <span class="tag mb-0 is-white">
                      <he-schema-version-link linkClass="is-small" [node]="{ '@type': property.schemaType }">
                        <span>{{ property.schemaType }}</span>
                      </he-schema-version-link>
                    </span>
                  </span>
                </span>
              }
              <he-popover-confirm
                class="column is-narrow py-1 my-0 px-0"
                ngbTooltip="Remove group"
                placement="top"
                [message]="
                  '<p>This will remove the group completely.</p>' +
                  (property.isRequired ? '<p><u>Warning: this field is required.</u></p>' : '') +
                  '<p>Do you confirm?</p>'
                "
                popoverClass="px-3"
                (confirmed)="propertyChanged(null, property)">
                <fa-icon [icon]="faTimes" size="sm" />
              </he-popover-confirm>
            </div>
          </div>
          @if (property.isOpen) {
            <div class="panel-block is-block p-0">
              @if (property.error) {
                <div class="px-3 pt-4">
                  <ng-container *ngTemplateOutlet="propertyError; context: { property }"></ng-container>
                </div>
              }
              @if (!property.isArray) {
                <div class="mt-3">
                  @if (!property.editable) {
                    <p class="help py-1 px-2">
                      To change the {{ property.key }}, please delete it first, then add the field again
                    </p>
                  }
                  @if (property.editable) {
                    @switch (property.schema?.title) {
                      @case ('Bibliography') {
                        <p class="help py-1 px-2">
                          Search by Title or Document DOI to auto-populate the fields using the Mendeley catalogue
                        </p>
                      }
                    }
                  }
                  <ng-container *ngTemplateOutlet="showNewProperty; context: { $implicit: property }"></ng-container>
                  <div class="property-group py-2 px-3 mt-2">
                    <div class="columns is-multiline mb-0">
                      @for (prop2 of property.properties; track trackByProperty($index, prop2)) {
                        <ng-container *ngTemplateOutlet="showProperty; context: { $implicit: prop2 }"></ng-container>
                      }
                    </div>
                  </div>
                </div>
              }
              @if (property.isArray) {
                <div class="py-2 px-3 mt-2">
                  @for (prop2 of property.properties; track trackByProperty($index, prop2)) {
                    @if (prop2.key) {
                      <div class="card p-0 my-4" [id]="prop2.fullKey + '_' + prop2.id">
                        <div class="property-array-number">
                          <div class="tags has-addons">
                            <span class="tag is-dark">{{ prop2.key }}</span>
                            @if (property.editable) {
                              <span
                                class="tag is-info"
                                pointer
                                (click)="duplicateArrayGroup(property, prop2)"
                                [ngbTooltip]="'Duplicate ' + property.key | pluralize: 1"
                                placement="top">
                                <fa-icon [icon]="faClone" size="sm" />
                              </span>
                              @if (prop2.key !== '0') {
                                <span
                                  class="tag is-light"
                                  pointer
                                  (click)="moveArrayGroupUp(property, prop2)"
                                  ngbTooltip="Move Up"
                                  placement="top">
                                  <fa-icon [icon]="faLongArrowAltUp" size="sm" />
                                </span>
                              }
                              @if (prop2.key !== property.properties.length - 1) {
                                <span
                                  class="tag is-light"
                                  pointer
                                  (click)="moveArrayGroupDown(property, prop2)"
                                  ngbTooltip="Move Down"
                                  placement="top">
                                  <fa-icon [icon]="faLongArrowAltDown" size="sm" />
                                </span>
                              }
                              <he-popover-confirm
                                class="tag is-delete"
                                [ngbTooltip]="'Remove ' + property.key | pluralize: 1"
                                placement="top"
                                message="This will remove the group completely. Do you confirm?"
                                position="right"
                                (confirmed)="removeArrayGroup(property, prop2)"></he-popover-confirm>
                            }
                          </div>
                        </div>
                        <ng-container *ngTemplateOutlet="showNewProperty; context: { $implicit: prop2 }"></ng-container>
                        @if (prop2.error) {
                          <div class="px-4 mt-2">
                            <ng-container
                              *ngTemplateOutlet="propertyError; context: { property: prop2 }"></ng-container>
                          </div>
                        }
                        <div class="property-group card-content p-3">
                          <div class="columns is-multiline my-0">
                            @for (prop3 of prop2.properties; track trackByProperty($index, prop3)) {
                              <ng-container
                                *ngTemplateOutlet="showProperty; context: { $implicit: prop3 }"></ng-container>
                            }
                          </div>
                        </div>
                      </div>
                    }
                  }
                  @if (property.editable) {
                    <button class="button is-info is-small" type="button" (click)="addArrayGroup(property)">
                      <fa-icon [icon]="faPlusCircle" />
                      <span class="pl-2">Add</span>
                      <span class="pl-1">{{ property.key | pluralize: 1 }}</span>
                    </button>
                    <he-node-recommendations
                      buttonClass="is-small"
                      [node]="node"
                      [nodeField]="property.key"
                      (selectRecommendation)="onSelectRecommendation(property, $event)"></he-node-recommendations>
                  }
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  }
</ng-template>

<ng-template #inputForm let-property>
  @if (property.key) {
    @switch (property.suggestions?.type) {
      @case ('select') {
        <ng-container *ngTemplateOutlet="inputSelect; context: { $implicit: property }"></ng-container>
      }
      @default {
        <ng-container *ngTemplateOutlet="inputInput; context: { $implicit: property }"></ng-container>
      }
    }
  }
</ng-template>

<ng-template #inputInput let-property>
  <div class="field mb-0" [class.has-addons]="hasAddons(property)">
    <div class="control is-expanded" [class.has-icons-right]="property.loading">
      <input
        class="input is-small search-input"
        [class.is-dark]="property.key === 'type'"
        [class.is-danger]="(!property.changed && property.hasError) || isRequired(property)"
        [class.is-warning]="!property.changed && property.hasWarning"
        [(ngModel)]="property.value"
        #propertyModel="ngModel"
        [type]="property.schema?.type === 'number' ? 'number' : 'string'"
        [id]="property.id"
        name="randomname"
        [readonly]="!property.editable || property.schema?.internal"
        [placeholder]="property.placeholder"
        [appTagsInput]="{
          enabled: property.editable && property.schema?.type === 'array',
          items: property.schema?.items,
          delimiter: ';',
          allowDuplicates: true,
          placeholder: property.placeholder
        }"
        (change)="propertyChanged($event.target.value, property)"
        [pattern]="property.schema?.pattern"
        [required]="property.fullKey.endsWith('id') && property.fullKey !== 'id'"
        [min]="property.schema?.minimum"
        [max]="property.schema?.maximum"
        [ngbTypeahead]="property | applyPure: propertySuggest"
        [resultTemplate]="suggestion"
        [inputFormatter]="property.formatter"
        [focusFirst]="true"
        (focus)="property.editable && typeaheadFocus($event)"
        (selectItem)="suggestionSelected($event.item, property)" />

      <span class="icon is-small is-right has-text-grey-dark" [class.is-hidden]="!property.loading">
        <fa-icon [icon]="faSpinner" animation="spin" size="sm" />
      </span>
    </div>
    <ng-container *ngTemplateOutlet="inputAddons; context: { $implicit: property }"></ng-container>
  </div>
  @if (!property.hasError && propertyModel.invalid) {
    <p class="help is-danger-light">
      <span [innerHTML]="formatPropertyError(propertyModel.errors, property)"></span>
    </p>
  }
</ng-template>

<ng-template #inputSelect let-property>
  <div class="field mb-0" [class.has-addons]="hasAddons(property)">
    <div class="control is-expanded">
      <div
        class="select is-small is-fullwidth"
        [class.is-danger]="(!property.changed && property.hasError) || isRequired(property)"
        [class.is-warning]="!property.changed && property.hasWarning">
        <select
          [(ngModel)]="property.value"
          #propertyModel="ngModel"
          [id]="property.id"
          name="randomname"
          [disabled]="!property.editable || property.schema?.internal"
          (change)="propertyChanged($event.target.value, property)">
          <option value="">Select</option>
          @for (value of property.suggestions.values; track trackByIndex($index, value)) {
            <option [value]="value">
              {{ value }}
            </option>
          }
        </select>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="inputAddons; context: { $implicit: property }"></ng-container>
  </div>
  @if (!property.hasError && propertyModel.invalid) {
    <p class="help is-danger-light">
      <span [innerHTML]="formatPropertyError(propertyModel.errors, property)"></span>
    </p>
  }
</ng-template>

<ng-template #removeFieldAddon let-property>
  @if (!property.isRequired) {
    <div class="control">
      <a
        class="button is-small"
        title="Remove field"
        [class.is-outlined]="!property.changed && (property.hasError || property.hasWarning)"
        [class.is-danger]="!property.changed && property.hasError"
        [class.is-warning]="!property.changed && property.hasWarning"
        (click)="$event.stopPropagation(); propertyChanged(null, property)">
        <fa-icon [icon]="faTimes" />
      </a>
    </div>
  }
</ng-template>

<ng-template #inputAddons let-property>
  @if (property.editable) {
    @switch (property.schemaType) {
      @case (SchemaType.Cycle) {
        <ng-container *ngTemplateOutlet="cycleAddons; context: { $implicit: property }"></ng-container>
      }
    }
    @if (bibliographiesSearchKey(property)) {
      <div class="control">
        <button class="button is-small" title="Advanced Search" (click)="bibliographiesSearchProperty.set(property)">
          <fa-icon [icon]="faSearch" />
        </button>
      </div>
    }
    <ng-container *ngTemplateOutlet="removeFieldAddon; context: { $implicit: property }"></ng-container>
  }

  @if (property.addPropertyEnabled) {
    <div class="control">
      <a
        class="button is-small is-danger"
        title="Add field"
        (click)="$event.stopPropagation(); addMissingProperty(property)">
        <fa-icon [icon]="faPlusCircle" />
        <span class="pl-2">Add</span>
      </a>
    </div>
  }
  @if (isRequired(property)) {
    <div class="control">
      <label class="button is-small is-danger" [for]="property.id" ngbTooltip="This field is required" placement="top">
        <fa-icon [icon]="faExclamationTriangle" />
      </label>
    </div>
  }
  @if (property.externalUrl?.url) {
    <div class="control">
      <a
        class="button is-small"
        [href]="property.externalUrl.url + (property.externalUrl.urlParamValue ? property.value : '')"
        target="_blank"
        [title]="property.externalUrl.title"
        [ngClass]="{ 'is-info': property.key === 'type' }"
        [attr.disabled]="property.externalUrl.urlParamValue && !property.value ? true : null">
        <fa-icon [icon]="property.externalUrl.icon || faExternalLinkAlt" />
      </a>
    </div>
  }
</ng-template>

<ng-template #cycleAddons let-property>
  @if (property.key === 'cycleDuration') {
    <div class="control">
      <button
        class="button is-small"
        title="Calculate value from startDate and endDate"
        (click)="calculateCycleDuration(property)"
        [disabled]="!calculateCycleDurationEnabled(property)">
        <fa-icon [icon]="faCalculator" />
      </button>
    </div>
  }
  @if (property.key === 'startDate') {
    <div class="control">
      <button
        class="button is-small"
        title="Calculate value from endDate and cycleDuration"
        (click)="calculateCycleStartDate(property)"
        [disabled]="!calculateCycleStartDateEnabled(property)">
        <fa-icon [icon]="faCalculator" />
      </button>
    </div>
  }
</ng-template>

<ng-template #showNewProperty let-property>
  @if (property.editable && property.addPropertyEnabled) {
    <header class="card-header">
      <form class="py-3 px-4 is-flex-grow-1" (submit)="addProperty(property)" novalidate>
        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label" [for]="property.id + '_new'">
              <span>Add new field</span>
            </label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <div class="control is-expanded">
                <input
                  class="input is-small"
                  [(ngModel)]="property.newProperty"
                  [id]="property.id + '_new'"
                  name="randomname"
                  placeholder="Search and select field from results"
                  [ngbTypeahead]="property | applyPure: suggestNewProperty"
                  [resultTemplate]="suggestion"
                  [inputFormatter]="formatNewProperty"
                  [focusFirst]="false"
                  [editable]="false"
                  (focus)="typeaheadFocus($event)" />
              </div>
              <div class="control">
                <button
                  class="button is-small"
                  type="submit"
                  [disabled]="!property.newProperty || !property.newProperty.name">
                  <fa-icon [icon]="faPlus" />
                  <span class="pl-2">Add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </header>
  } @else {
    <div class="pt-1"></div>
  }
</ng-template>

<ng-template #propertyError let-property="property">
  @if (property.error) {
    <p class="help" [class.is-danger]="property.hasError" [class.is-warning]="property.hasWarning">
      <span class="is-pre-wrap" [innerHTML]="property.error.message"></span>
    </p>
  }
</ng-template>

<ng-template #suggestion let-r="result" let-t="term">
  <ngb-highlight
    [title]="r.bibliography?.title || r.bibliography?.documentDOI || r.bibliography?.scopus || r.name"
    [result]="r.bibliography?.title || r.bibliography?.documentDOI || r.bibliography?.scopus || r.name"
    [term]="t"></ngb-highlight>
</ng-template>
