@use 'sass:color';
@use 'bulma/sass/utilities/mixins' as mixins;
@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

$dark-shadow: rgba(bv.$dark, 0.32);

.panel.is-default .panel-heading {
  background-color: bv.$grey-lightest;
  color: bv.$dark;
}

.card-toggle {
  left: 0;
  position: absolute;
  top: 0;

  @include mixins.mobile {
    position: relative;
  }

  > fa-icon {
    display: inline-block;
    width: 10px;
  }
}

.card {
  overflow: visible;

  .card {
    box-shadow:
      2px 2px 0 $dark-shadow,
      0 0 0 1px $dark-shadow;

    > .card-header {
      box-shadow: 0 2px 1px $dark-shadow;
    }
  }
}

.property-key {
  span:first-child {
    width: calc(100% - 20px);
  }
}

.property-array-number {
  left: -4px;
  position: absolute;
  top: -12px;

  .tag.is-delete {
    border: 1px solid $dark-shadow;
  }
}

.control > .button {
  height: 100%;
}

.is-danger-light {
  color: color.adjust($color: bv.$red, $lightness: -10%);
}

he-sites-maps {
  height: 200px;
}
