:host {
  display: block;
  max-height: calc(100vh - 146px);
  min-height: 400px;
  position: relative;
}

google-map {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
