<a [href]="url()" target="_blank" [class]="linkClass()" (click)="$event.stopPropagation()">
  <ng-content></ng-content>
  @if (showExternalLink()) {
    <fa-icon class="ml-2" [icon]="faExternalLinkAlt" size="sm" />
  }
</a>
