<div class="columns">
  <div class="column is-narrow">
    <button class="button is-primary" (click)="showModal()">
      <span>Show modal</span>
    </button>
  </div>
  <div class="column is-narrow">
    <button class="button is-primary" (click)="showInline()">
      <span>Show inline</span>
    </button>
  </div>
</div>

@if (inlineVisible) {
  <he-maps-drawing (updated)="confirmed($event)" />
}

@if (result) {
  <div class="is-mt-3">
    <pre><code>{{result}}</code></pre>
  </div>
}
