<form class="needs-validation mt-3" novalidate [formGroup]="form">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label" for="productTermId">
        <span>Product Term ID</span>
      </label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded" [class.has-icons-right]="suggestingProductTermId()">
          <input
            class="input"
            formControlName="productTermId"
            name="productTermId"
            placeholder="Search product by ID or name"
            [editable]="false"
            [ngbTypeahead]="suggestProductTermId"
            [resultTemplate]="suggestionProductTermId"
            [inputFormatter]="inputFormatterProductTermId" />
          <span class="icon is-right has-text-grey-dark" [class.is-hidden]="!suggestingProductTermId()">
            <fa-icon [icon]="faSpinner" animation="spin" />
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal mt-3">
    <div class="field-label is-normal">
      <label class="label" for="productTermType">
        <span>Product Term Type</span>
      </label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select formControlName="productTermType" name="productTermType">
              <option [ngValue]="undefined">Select a Type</option>
              @for (termType of productTermTermType; track termType) {
                <option [value]="termType">
                  {{ termType | keyToLabel }}
                </option>
              }
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal mt-3">
    <div class="field-label is-normal">
      <label class="label" for="tier">
        <span>Emissions Method Tier</span>
      </label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select formControlName="tier" name="tier">
              <option [ngValue]="undefined">Select a Tier</option>
              @for (tier of EmissionMethodTier | keyvalue; track tier) {
                <option [value]="tier.value">{{ tier.value }}</option>
              }
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal mt-3">
    <div class="field-label is-normal">
      <label class="label" for="siteType">
        <span>Site Type</span>
      </label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select formControlName="siteType" name="siteType">
              <option [ngValue]="undefined">Select a Type</option>
              @for (siteType of SiteSiteType | keyvalue; track siteType) {
                <option [value]="siteType.value">
                  {{ siteType.value }}
                </option>
              }
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #suggestionProductTermId let-r="result" let-t="term">
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>
