fa-icon {
  display: inline-block;
  width: 10px;
}

he-data-table ::ng-deep {
  .table {
    thead tr th,
    tbody tr td {
      &:nth-child(2) {
        max-width: 102px;
        width: 102px;
      }
    }
  }
}
