@if (isGroupNode()) {
  <div class="tabs is-mb-1">
    <ul>
      @for (term of groupNodeTerms(); track term.name) {
        <li [class.is-active]="selectedGroupTerm() === term">
          <a (click)="selectedGroupTerm.set(term)">{{ term.name }}</a>
        </li>
      }
    </ul>
  </div>
}

<div class="columns is-variable is-align-items-center is-2 is-m-0">
  <div class="column">
    @if (hasData() && selectedView() === View.table) {
      <button class="button is-small is-ghost" (click)="showDownload()">
        <fa-icon [icon]="faDownload" size="lg" />
      </button>
    }
  </div>
  @if (selectedView() === View.table) {
    <div class="column is-narrow">
      <he-search-extend
        class="is-secondary is-small"
        placeholder="Filter terms by name"
        (search)="filterTerm.set($event)" />
    </div>
  }
  @if (views()?.length > 1) {
    <div class="column is-narrow">
      <div class="field has-addons">
        @for (view of views(); track view) {
          <div class="control">
            <button
              class="button is-small"
              [class.is-selected]="selectedView() === view"
              (click)="selectedView.set(view)">
              <span class="icon is-small">
                <fa-icon [icon]="viewIcon[view]" aria-hidden="true" />
              </span>
              <span class="is-hidden-mobile">{{ view }}</span>
            </button>
          </div>
        }
      </div>
    </div>
  }
</div>

@if (isNodeKeyAllowed()) {
  @switch (selectedView()) {
    @case (View.table) {
      <div class="is-px-3 is-pb-3">
        @if (hasData()) {
          <he-data-table class="mb-1 is-small" [small]="true" maxHeight="320">
            <table class="table is-fullwidth is-narrow is-striped">
              <thead>
                @if (dataKeys().length > 1) {
                  <tr class="has-text-weight-bold">
                    <th class="width-auto"></th>
                    <th [class.is-hidden]="isGroupNode()"></th>
                    @for (dataKey of dataKeys(); track dataKey; let dataKeyLast = $last) {
                      @if (data()[dataKey]?.length) {
                        <th [attr.colspan]="data()[dataKey].length" [class.has-border-right]="!dataKeyLast">
                          <span>{{ dataKey | keyToLabel }}</span>
                        </th>
                      }
                    }
                  </tr>
                }
                <tr class="has-text-weight-semibold">
                  <th class="width-auto has-border-right"></th>
                  <th class="has-border-right" [class.is-hidden]="isGroupNode()"></th>
                  @for (dataKey of dataKeys(); track dataKey; let dataKeyLast = $last) {
                    @for (node of data()[dataKey]; track node.value.term.name; let nodeLast = $last) {
                      <th
                        [attr.title]="node.value.term.name"
                        [class.has-border-right]="dataKeys().length > 1 && !dataKeyLast && nodeLast">
                        <he-node-link [node]="node.value.term">
                          <span
                            [innerHtml]="
                              node.value.term.name | ellipsis: 30 | compound: node.value.term.termType
                            "></span>
                        </he-node-link>
                      </th>
                    }
                  }
                </tr>
                <tr class="is-italic has-text-weight-semibold">
                  <th class="width-auto has-border-right"></th>
                  <th class="has-border-right" [class.is-hidden]="isGroupNode()">
                    <a [href]="schemaBaseUrl + '/Cycle#functionalUnit'" target="_blank">Functional unit</a>
                  </th>
                  @for (dataKey of dataKeys(); track dataKey; let dataKeyLast = $last) {
                    @for (node of data()[dataKey]; track node.value.term.name; let nodeLast = $last) {
                      <th
                        [attr.title]="node.value.term.units"
                        [class.has-border-right]="dataKeys().length > 1 && !dataKeyLast && nodeLast">
                        <span [innerHtml]="node.value.term.units | compound: node.value.term.termType"></span>
                        <he-terms-units-description class="is-inline-block is-ml-2" [term]="node.value.term" />
                      </th>
                    }
                  }
                </tr>
              </thead>
              <tbody>
                @for (cycle of cycles(); track trackById(cycleIndex, cycle); let cycleIndex = $index) {
                  <tr>
                    <td class="width-auto has-border-right" [attr.title]="defaultLabel(cycle)">
                      <he-node-link [node]="cycleNode(cycle)">
                        <span>{{ cycleIndex + 1 }}. {{ defaultLabel(cycle) }}</span>
                      </he-node-link>
                    </td>
                    <td class="has-border-right" [class.is-hidden]="isGroupNode()">
                      <he-cycles-functional-unit-measure [cycle]="cycle" />
                    </td>
                    @for (dataKey of dataKeys(); track dataKey; let dataKeyLast = $last) {
                      @for (node of data()[dataKey]; track node.value.term.name; let nodeLast = $last) {
                        <td
                          class="is-nowrap"
                          [class.has-border-right]="dataKeys().length > 1 && !dataKeyLast && nodeLast">
                          @if (node.value.values[cycle['@id']]) {
                            <span
                              class="trigger-popover"
                              [ngbPopover]="details"
                              autoClose="outside"
                              popoverClass="is-narrow is-overflow-visible"
                              placement="left"
                              container="body"
                              [popoverContext]="{ data: node.value.values[cycle['@id']], cycle, key: dataKey }">
                              <span pointer>
                                {{
                                  propertyValue(node.value.values[cycle['@id']].value, node.value.term['@id'])
                                    | precision: 3
                                    | default: '-'
                                }}
                              </span>
                              <he-blank-node-state
                                class="ml-1"
                                [dataState]="dataState()"
                                [node]="node.value.values[cycle['@id']].node"
                                key="value" />
                            </span>
                          } @else {
                            <span>-</span>
                          }
                        </td>
                      }
                    }
                  </tr>
                }
              </tbody>
            </table>
          </he-data-table>
          <he-blank-node-state-notice
            [dataState]="dataState()"
            [showDeleted]="firstNodeKey() === BlankNodesKey.emissions" />
        } @else {
          <div class="is-pt-3 has-text-centered">
            <span>No data available</span>
            <span class="is-pl-1" [class.is-hidden]="!filterTerm()">matching your search criteria</span>
            <span>.</span>
            @if (showSwitchToRecalculated()) {
              <span>
                Switch to
                <code>recalculated</code>
                version.
              </span>
            }
          </div>
        }
      </div>
    }
    @case (View.chart) {
      @switch (firstNodeKey()) {
        @case (BlankNodesKey.inputs) {
          <he-cycles-result [cycles]="cycles()"></he-cycles-result>
        }
        @case (BlankNodesKey.emissions) {
          <he-cycles-emissions-chart [cycles]="cycles()" />
        }
      }
    }
    @case (View.timeline) {
      <ng-container *ngTemplateOutlet="selectCycle" />
      <div class="is-px-3 is-pb-3">
        <he-cycles-nodes-timeline [recalculatedValues]="timelineValues()" [dataState]="dataState()" />
        <he-blank-node-state-notice [dataState]="dataState()" />
      </div>
    }
    @case (View.logs) {
      <ng-container *ngTemplateOutlet="selectCycle" />
      @if (nodeKeys().length > 1) {
        <div class="tabs is-mb-2">
          <ul>
            @for (nodeKey of nodeKeys(); track nodeKey) {
              <li [class.is-active]="selectedNodeKey() === nodeKey">
                <a (click)="selectedNodeKey.set(nodeKey)">{{ nodeKey | keyToLabel }}</a>
              </li>
            }
          </ul>
        </div>
      }
      @if (selectedNode()) {
        <he-node-logs-models
          [node]="selectedNode()"
          [nodeKey]="selectedNodeKey()"
          [logsKey]="selectedLogsKey()"
          [originalValues]="selectedOriginalValues()"
          [recalculatedValues]="selectedRecalculatedValues()"
          [filterTermTypes]="filterTermTypes()" />
      }
    }
  }
}

<ng-template #details let-node="cycle" let-data="data" let-key="key">
  <p>
    <b>{{ defaultLabel(node) }}</b>
  </p>
  <he-node-value-details
    class="is-overflow-visible"
    [data]="data"
    [dataState]="dataState()"
    [nodeType]="node['@type']"
    [dataKey]="key" />
</ng-template>

<ng-template #selectCycle>
  @if (cycles().length > 1) {
    <div class="field has-addons is-py-2 is-px-3">
      <div class="control">
        <span class="button is-small is-static is-secondary">Select a Cycle</span>
      </div>
      <div class="control is-expanded">
        <div class="select is-small is-fullwidth is-secondary">
          <select (change)="selectIndex($event)">
            @for (value of cycles(); track value; let cycleIndex = $index) {
              <option [value]="cycleIndex">{{ cycleIndex + 1 }}. {{ defaultLabel(value) }}</option>
            }
          </select>
        </div>
      </div>
    </div>
  }
</ng-template>
