@if (isRecalculated()) {
  @if (loading()) {
    <div class="loading-container has-text-center my-5 py-5">
      <fa-icon [icon]="faSpinner" animation="spin" size="lg" />
      <p class="is-mt-2 is-italic is-size-7">Loading chart, please wait...</p>
    </div>
  } @else {
    @if (filteredImpactAssessments().length > 1) {
      <div class="field has-addons pt-2 px-3 mb-0">
        <div class="control">
          <span class="button is-small is-static is-secondary">Select an Impact Assessment</span>
        </div>
        <div class="control is-expanded">
          <div class="select is-small is-fullwidth is-secondary">
            <select
              [ngModel]="selectedImpactAssessmentId()"
              (change)="selectedImpactAssessmentId.set($event.target.value)"
              [disabled]="loading()">
              @for (value of filteredImpactAssessments(); track value['@id']) {
                <option [value]="value['@id']">
                  {{ value.name || value['@id'] }}
                </option>
              }
            </select>
          </div>
        </div>
      </div>
    }
    @if (!noData()) {
      <div class="field has-addons py-2 px-3">
        <div class="control">
          <span class="button is-small is-static is-secondary">Select a model</span>
        </div>
        <div class="control is-expanded">
          <div class="select is-small is-fullwidth is-secondary">
            <select
              [ngModel]="selectedModelId()"
              (change)="selectedModelId.set($event.target.value)"
              [disabled]="loading()">
              @for (model of models(); track model['@id']) {
                <option [value]="model['@id']">{{ model.name || model['@id'] }}</option>
              }
            </select>
          </div>
        </div>
      </div>
    }
    @if (showWarnings()) {
      <div class="has-text-warning py-3 has-text-centered">
        @for (warning of warnings(); track warning) {
          <p class="is-mb-2">
            <fa-icon class="pr-2" [icon]="faExclamationTriangle" />
            @switch (warning) {
              @case ('missing-terms') {
                <span>Calculations are not up to date. Some terms may not display correctly.</span>
              }
            }
          </p>
        }
        <p class="is-underlined is-size-7"><a (click)="showWarnings.set(false)">View chart anyway.</a></p>
      </div>
    }
    @if (error()) {
      <p class="has-text-danger py-3">
        @switch (error()) {
          @case ('not-found') {
            <p>Impact Assessment not found</p>
          }
          @default {
            <div>
              <span>An unexpected error occurred:</span>
              <p class="mt-1">{{ error() }}</p>
            </div>
          }
        }
      </p>
    }
    @if (noData()) {
      <div class="py-3">
        <p class="has-text-centered">No chart available.</p>
      </div>
    }
  }
} @else {
  <p class="has-text-centered py-3">
    No chart available. Switch to
    <code>recalculated</code>
    version.
  </p>
}

@if (showChart()) {
  <he-hierarchy-chart [data]="chartData()" [terms]="allTerms()" (chartError)="error.set($event)" />
}
