<div class="mb-3 columns is-centered is-vcentered">
  @for (toast of toasts; track toast) {
    <div class="notification is-{{ toast.color }}" role="alert">
      <button class="delete" aria-label="delete" (click)="dismiss(toast)">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>
        @switch (toast.color) {
          @case ('danger') {
            @switch (toast.message) {
              @case ('Unauthorized') {
                <span>You are not allowed to perform this action.</span>
              }
              @case ('form-invalid') {
                <span>Please fix all the errors on this page.</span>
              }
              @case ('users-email-already-taken') {
                <span>Email already taken.</span>
              }
              @case ('users-auth-already-taken') {
                <span>Account already connected.</span>
              }
              @default {
                <span>
                  @if (toast.showRawMessage) {
                    <span>{{ toast.message }}</span>
                  }
                  <span [class.is-hidden]="toast.showRawMessage">
                    An unknown error occurred. Please try again later.
                  </span>
                </span>
              }
            }
          }
          @default {
            @if (toast.showRawMessage) {
              <span>{{ toast.message }}</span>
            }
            <span [class.is-hidden]="toast.showRawMessage">An unknown error occurred. Please try again later.</span>
          }
        }
      </strong>
    </div>
  }
</div>
