<he-select>
  <he-select-option [value]="1">Option 1</he-select-option>
  <he-select-option [value]="2">Option 2</he-select-option>
  <he-select-option [value]="3">Option 3</he-select-option>
  <he-select-option [value]="4">Option 4</he-select-option>
  <he-select-option [value]="5">Option 5</he-select-option>
</he-select>
