@use '../../variables' as hv;
@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as v;
@use 'bulma/sass/utilities/initial-variables' as iv;

::ng-deep :root {
  --menu-width: 200px;
  --menu-transition-time: 0.15s;
}

.shell {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'menu content';

  > aside {
    position: relative;
    grid-area: menu;

    .shell__menu {
      background: v.$blue;
      padding: 1.5em 0;
      z-index: 10;
      min-width: 2.875em;
    }

    .shell__menuContent {
      background-color: hv.$background-white-alt;
      width: var(--menu-width);
      top: 0;
      right: 1px;
      transform: translateX(0%);

      transition: transform var(--menu-transition-time) ease-out;

      &.expanded {
        transform: translateX(100%);
      }
    }
  }

  &__content {
    grid-area: content;

    &--body {
      transition: width var(--menu-transition-time) ease-out;
    }

    .menu-expanded {
      width: calc(100% - var(--menu-width));
    }
  }
}

.menu-button {
  border-radius: 0;
  padding: 1.25em 0.6em;
  box-shadow: none !important;
  border-width: 0;

  &.is-active {
    background-color: iv.$white;
    color: iv.$black;
  }

  &:hover:not(.is-active) {
    background-color: initial;
  }
}
