<div class="shell | h-100 is-overflow-hidden">
  <aside>
    <div class="shell__menu | is-relative h-100 is-flex is-flex-direction-column is-justify-content-space-between">
      <div class="shell__menu--section | is-flex is-flex-direction-column">
        @for (button of topMenuButtons(); track trackByFn($index, button)) {
          <ng-container
            [ngTemplateOutlet]="buttonTemplate"
            [ngTemplateOutletContext]="{ $implicit: button }"></ng-container>
        }
      </div>

      <div class="shell__menu--section | is-flex is-flex-direction-column">
        @for (button of bottomMenuButtons(); track trackByFn($index, button)) {
          <ng-container
            [ngTemplateOutlet]="buttonTemplate"
            [ngTemplateOutletContext]="{ $implicit: button }"></ng-container>
        }
      </div>
    </div>
    <div class="shell__menuContent | h-100 is-absolute" [class.expanded]="expanded()">
      <div class="h-100" [class.is-hidden]="!expanded()">
        <ng-template [ngTemplateOutlet]="menuRef()"></ng-template>
      </div>
    </div>
  </aside>

  <div class="shell__content | h-100 w-100 is-overflow-hidden is-flex is-justify-content-flex-end">
    <div
      class="shell__content--body | w-100"
      [class.menu-expanded]="!menuOverlap && expanded()"
      (click)="closeMenuOnOutsideClick ? hideMenu() : null">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<ng-template #buttonTemplate let-button>
  <button
    (click)="onMenuButtonClick(button)"
    class="menu-button button is-secondary"
    [ngClass]="button.isActive ? button.activeClassName : ''"
    [class.is-active]="button.isActive">
    <ng-container
      *ngTemplateOutlet="
        iconTemplate ?? defaultIconTemplate;
        context: { $implicit: button, isActive: button !== clickedButton }
      "></ng-container>
  </button>
</ng-template>

<ng-template #defaultIconTemplate let-button>
  <fa-icon [icon]="button.icon" />
</ng-template>
