<div class="columns is-variable is-align-items-center is-2 is-m-0">
  <div class="column">
    @if (hasData() && selectedView() === View.table) {
      <button class="button is-small is-ghost" (click)="showDownload()">
        <fa-icon [icon]="faDownload" size="lg" />
      </button>
    }
  </div>
  @if (selectedView() === View.table) {
    <div class="column is-narrow">
      <he-search-extend
        class="is-secondary is-small"
        placeholder="Filter terms by name"
        (search)="filterTerm.set($event)" />
    </div>
  }
  @if (views()?.length > 1) {
    <div class="column is-narrow">
      <div class="field has-addons">
        @for (view of views(); track view) {
          <div class="control">
            <button
              class="button is-small"
              [class.is-selected]="selectedView() === view"
              (click)="selectedView.set(view)">
              <span class="icon is-small">
                <fa-icon [icon]="viewIcon[view]" aria-hidden="true" />
              </span>
              <span class="is-hidden-mobile">{{ view }}</span>
            </button>
          </div>
        }
      </div>
    </div>
  }
</div>

@if (isNodeKeyAllowed()) {
  @switch (selectedView()) {
    @case (View.table) {
      <div class="is-px-3 is-pb-3">
        @if (hasData()) {
          <he-data-table class="mb-1 is-small" [small]="true" maxHeight="320">
            <table class="table is-fullwidth is-narrow is-striped">
              <thead>
                <tr class="has-text-weight-semibold">
                  <th class="width-auto has-border-right"></th>
                  @for (node of data(); track node.value.term.name) {
                    <th [attr.title]="node.value.term.name">
                      <he-node-link [node]="node.value.term">
                        <span
                          [innerHtml]="node.value.term.name | ellipsis: 30 | compound: node.value.term.termType"></span>
                      </he-node-link>
                    </th>
                  }
                </tr>
                <tr class="is-italic has-text-weight-semibold">
                  <th class="width-auto has-border-right"></th>
                  @for (node of data(); track node.value.term.name) {
                    <th [attr.title]="node.value.term.units">
                      <span [innerHtml]="node.value.term.units | compound: node.value.term.termType"></span>
                      <he-terms-units-description class="is-inline-block is-ml-2" [term]="node.value.term" />
                    </th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (site of sites(); track trackById(siteIndex, site); let siteIndex = $index) {
                  <tr>
                    <td class="width-auto has-border-right" [attr.title]="defaultLabel(site)">
                      <he-node-link [node]="site">
                        <span>{{ siteIndex + 1 }}. {{ defaultLabel(site) }}</span>
                      </he-node-link>
                    </td>
                    @for (node of data(); track node.value.term.name) {
                      <td class="is-nowrap">
                        @if (node.value.values[site['@id']]) {
                          <span
                            class="trigger-popover"
                            [ngbPopover]="details"
                            autoClose="outside"
                            popoverClass="is-narrow is-overflow-visible"
                            placement="left"
                            container="body"
                            [popoverContext]="{ data: node.value.values[site['@id']], site }">
                            @if (isMeasurement()) {
                              <span pointer>
                                {{
                                  measurementValue($any(node).value.values[site['@id']], node.value.term['@id'])
                                    | precision: 3
                                    | default: '-'
                                }}
                              </span>
                            } @else {
                              <span pointer>
                                {{
                                  propertyValue(node.value.values[site['@id']].value, node.value.term['@id'])
                                    | precision: 3
                                    | default: '-'
                                }}
                              </span>
                            }
                            <he-blank-node-state
                              class="ml-1"
                              [dataState]="dataState()"
                              [node]="node.value.values[site['@id']].node"
                              key="value" />
                          </span>
                        }
                        @if (isMeasurement() && !node.value.values[site['@id']]) {
                          <span>
                            <span>-</span>
                            @if (siteTooBig(site)) {
                              <sup class="pl-1">(1)</sup>
                            }
                          </span>
                        }
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          </he-data-table>
          <he-blank-node-state-notice [dataState]="dataState()" />
          @if (showAreaTooBig()) {
            <p class="is-size-7 is-italic">
              (1) This region is >{{ maxAreaSize }}km2 and is too large to reliably gap fill Measurements.
            </p>
          }
        } @else {
          <div class="is-pt-3 has-text-centered">
            <span>No data available</span>
            <span class="is-pl-1" [class.is-hidden]="!filterTerm()">matching your search criteria</span>
            <span>.</span>
            @if (showSwitchToRecalculated()) {
              <span>
                Switch to
                <code>recalculated</code>
                version.
              </span>
            }
          </div>
        }
      </div>
    }
    @case (View.chart) {
      @if (nodeKey() === BlankNodesKey.management) {
        <ng-container *ngTemplateOutlet="selectSite" />
        @if (selectedNode()) {
          <div class="is-px-3 is-pb-3">
            <he-sites-management-chart [site]="selectedNode()" />
          </div>
        }
      }
    }
    @case (View.logs) {
      <ng-container *ngTemplateOutlet="selectSite" />
      @if (selectedNode()) {
        <he-node-logs-models
          [node]="selectedNode()"
          [nodeKey]="nodeKey()"
          [originalValues]="selectedOriginalValues()"
          [recalculatedValues]="selectedRecalculatedValues()"
          [filterTermTypes]="filterTermTypes()"
          [filterTermTypesLabel]="nodeKey() | capitalize" />
      }
    }
  }
}

<ng-template #emptyValue>
  <span>-</span>
</ng-template>

<ng-template #details let-node="site" let-data="data">
  <p>
    <b>{{ node.name }}</b>
  </p>
  <he-node-value-details
    class="is-overflow-visible"
    [data]="data"
    [dataState]="dataState()"
    [nodeType]="node['@type']"
    [dataKey]="nodeKey()" />
</ng-template>

<ng-template #selectSite>
  @if (sites().length > 1) {
    <div class="field has-addons pt-2 px-3">
      <div class="control">
        <span class="button is-small is-static is-secondary">Select a Site</span>
      </div>
      <div class="control is-expanded">
        <div class="select is-small is-fullwidth is-secondary">
          <select (change)="selectIndex($event)">
            @for (value of sites(); track value; let siteIndex = $index) {
              <option [value]="siteIndex">{{ siteIndex + 1 }}. {{ defaultLabel(value) }}</option>
            }
          </select>
        </div>
      </div>
    </div>
  }
</ng-template>
