@if (!hide()) {
  <small class="has-text-{{ color() }}">
    @if (delta() > 0) {
      <span>+</span>
    }
    @switch (displayType()) {
      @case (DeltaDisplayType.absolute) {
        <span>{{ delta() | precision: 3 }}</span>
      }
      @case (DeltaDisplayType.percent) {
        <span>{{ delta() | number: '1.0-2' }}</span>
        <span>%</span>
      }
    }
  </small>
}
