:host {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.no-location {
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;

  > span {
    display: inline-block;
    margin-top: 12%;
  }
}
