@if (mapLoaded$ | async) {
  <google-map (mapInitialized)="mapLoaded()" height="100%" width="100%" [zoom]="zoom()" [center]="mapCenter()">
    @for (marker of markers(); track trackByMarker($index, marker)) {
      <map-marker [position]="marker.position" [icon]="marker.icon"></map-marker>
    }
    @for (polygon of sitePolygons(); track trackByPolygon($index, polygon)) {
      <map-polygon [paths]="polygon.paths" [options]="polygon.options" />
    }
    @for (polygon of termPolygons(); track trackByPolygon($index, polygon)) {
      <map-polygon [paths]="polygon.paths" [options]="polygon.options" />
    }
  </google-map>
}

@if (showNotice()) {
  <p class="mt-2 is-italic is-size-7">The information provided might not be complete</p>
}

@if (showNoLocation()) {
  <div class="no-location has-text-center has-text-light">
    <span>No precise location data</span>
  </div>
}
