@if (showLink()) {
  <a [ngClass]="linkClass()" [href]="url()" [target]="target()" (click)="$event.stopPropagation()">
    <ng-container *ngTemplateOutlet="content"></ng-container>

    @if (showExternalLink()) {
      <fa-icon class="no-print is-ml-2" [icon]="faExternalLinkAlt" size="sm" />
    }
  </a>
} @else {
  <span #placeholder><ng-content></ng-content></span>
  @if (placeholder.children.length === 0) {
    <span>{{ id() }}</span>
  }
}

<ng-template #content>
  <span #placeholder><ng-content></ng-content></span>
  @if (placeholder.children.length === 0) {
    <span>{{ id() }}</span>
  }
</ng-template>
