@use 'bulma/sass/utilities/mixins' as mixins;
@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

$small-height: 30px;
$normal-height: 42px;
$first-column-width: 300px;
$first-column-width-mobile: 180px;
$first-column-width-small: 200px;
$first-column-width-small-mobile: 160px;
$table-border-bottom: inset 0 -1px 0;
$table-border-right: inset -2px 0px;
$table-border-right-fixed-column: 2px 0px 4px;
$table-border-bottom-color: bv.$yellow;
$table-border-right-color: rgba(196, 174, 108, 0.1);
$table-dark-border-bottom-color: #c5cdd5;
$table-dark-border-right-color: #6c8093;

:host {
  display: block;
  height: inherit;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  .data-table-holder {
    z-index: 1;
  }

  .data-table-content {
    top: 0;
    left: 0;
    z-index: 1;
  }

  ::ng-deep {
    * {
      box-sizing: border-box;
    }

    > .data-table-holder > .data-table-content > .table-container {
      overflow: auto !important;
      width: 100%;
      height: 100%;

      > .table {
        width: 100%;

        > thead > tr > th {
          height: $normal-height;
          white-space: nowrap;
        }

        > thead > tr > th,
        > tbody > tr > td {
          border: none;

          span:first-child {
            display: inline-block;
            max-width: 100%;
          }
        }

        > thead > tr > th,
        > tbody > tr > td:first-child,
        .fixed-column {
          position: sticky;
        }

        > tbody > tr > td {
          z-index: 10;

          &:first-child,
          &.fixed-column {
            z-index: 11;
          }
        }

        // make sure z-index goes over popover/tooltip
        > thead > tr > th {
          top: 0;
          z-index: 1070;

          &:first-child,
          &.fixed-column {
            z-index: 1071;
          }
        }

        > thead > tr > th,
        > tbody > tr > td {
          &.has-border-right {
            box-shadow: $table-border-right $table-border-right-color;
          }

          &:first-child,
          &.fixed-column {
            left: 0;
            max-width: $first-column-width;
            width: $first-column-width;

            @include mixins.mobile {
              max-width: $first-column-width-mobile;
              width: $first-column-width-mobile;
            }

            &.has-border-right {
              box-shadow: none;

              &:after {
                position: absolute;
                content: '';
                height: 100%;
                top: 0;
                right: 0;
                width: 4px;
                box-shadow: $table-border-right-fixed-column $table-border-right-color;
              }
            }
          }

          &.fixed-column {
            left: $first-column-width;

            @include mixins.mobile {
              left: $first-column-width-mobile;
            }
          }
        }

        > thead > tr:last-child > th {
          box-shadow: $table-border-bottom $table-border-bottom-color;

          &.has-border-right {
            box-shadow:
              $table-border-bottom $table-border-bottom-color,
              $table-border-right $table-border-right-color;
          }

          &:first-child,
          &.fixed-column {
            &.has-border-right {
              box-shadow: $table-border-bottom $table-border-bottom-color;

              &:after {
                box-shadow:
                  $table-border-bottom $table-border-bottom-color,
                  $table-border-right-fixed-column $table-border-right-color;
              }
            }
          }
        }

        &.is-dark {
          > thead > tr > th,
          > tbody > tr > td {
            &.has-border-right {
              box-shadow: $table-border-right $table-dark-border-right-color;
            }

            &:first-child,
            &.fixed-column {
              &.has-border-right {
                &:after {
                  box-shadow: $table-border-right-fixed-column $table-dark-border-right-color;
                }
              }
            }
          }

          > thead > tr:last-child > th {
            box-shadow: $table-border-bottom $table-dark-border-bottom-color;

            &.has-border-right {
              box-shadow:
                $table-border-bottom $table-dark-border-bottom-color,
                $table-border-right $table-dark-border-right-color;
            }

            &:first-child,
            &.fixed-column {
              &.has-border-right {
                box-shadow: $table-border-bottom $table-dark-border-bottom-color;

                &:after {
                  box-shadow:
                    $table-border-bottom $table-dark-border-bottom-color,
                    $table-border-right-fixed-column $table-dark-border-right-color;
                }
              }
            }
          }
        }

        > tbody > tr {
          background-color: transparent !important;
        }

        > thead > tr + tr {
          th {
            top: $normal-height;
          }

          + tr th {
            top: $normal-height * 2;
          }
        }

        > thead > tr > th,
        > tbody > tr > td {
          background-color: bv.$white;
        }

        &.is-hoverable {
          > tbody {
            > tr:not(.is-selected) {
              &:hover > td {
                background-color: bv.$table-row-hover-background-color;
              }
            }
          }
        }

        &.is-striped {
          > tbody {
            > tr:not(.is-selected) {
              &:nth-child(even) {
                > td {
                  background-color: bv.$table-striped-row-even-background-color;
                }
              }
            }
          }

          &.is-hoverable {
            > tr:not(.is-selected) {
              &:nth-child(even) {
                &:hover > td {
                  background-color: bv.$table-striped-row-even-hover-background-color;
                }
              }
            }
          }
        }

        &.is-narrow {
          font-size: bv.$size-7;
          line-height: bv.$size-6;

          > thead > tr > th {
            height: $small-height;
          }

          > thead > tr > th,
          > tbody > tr > td {
            &:first-child,
            &.fixed-column {
              min-width: $first-column-width-small;
              max-width: $first-column-width-small;
              width: $first-column-width-small;

              @include mixins.mobile {
                min-width: $first-column-width-small-mobile;
                max-width: $first-column-width-small-mobile;
                width: $first-column-width-small-mobile;
              }
            }

            &.fixed-column {
              left: $first-column-width-small;

              @include mixins.mobile {
                left: $first-column-width-small-mobile;
              }
            }
          }

          > thead > tr + tr {
            th {
              top: $small-height;
            }

            + tr th {
              top: $small-height * 2;
            }
          }

          .select,
          .select select,
          .input {
            height: 30px;
            font-size: bv.$size-7;
            line-height: bv.$size-6;
          }

          .select select,
          .input {
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}
