<div
  class="w-100 is-relative is-overflow-hidden | data-table-holder"
  [style.height]="height()"
  (resized)="onResized($event)">
  <div class="is-absolute | data-table-content" [style.height]="height()" [style.width]="width()">
    <div class="table-container">
      <ng-content></ng-content>
    </div>
  </div>
</div>
