<app-navbar />

<he-drawer-container
  id="left-drawer"
  position="left"
  [resizable]="true"
  [links]="links"
  compactBreakpoint="desktop"
  contentPaddingStyles="content-screen-padding-start"
  compactHeaderClass="container is-p-3 is-px-desktop-0">
  <ng-container drawer-content>
    <he-drawer-container
      id="right-drawer"
      position="right"
      [resizable]="true"
      [drawerHeaderTemplate]="pageLayoutService.rightDrawerContent()"
      compactBreakpoint="desktop"
      contentPaddingStyles="content-screen-padding-end is-py-5">
      <ng-container drawer-content>
        <section class="container">
          <router-outlet />
        </section>
      </ng-container>
    </he-drawer-container>
  </ng-container>
</he-drawer-container>
