<app-node-suggest-form [nodeType]="nodeType"></app-node-suggest-form>

<app-node-list [nodeType]="nodeType"></app-node-list>

@if (nodes()?.length) {
  <he-node-logs-file class="has-background-light" [node]="nodes()[0]" [dataState]="dataState"></he-node-logs-file>
}
