<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Export as CSV</p>
      <button class="delete" aria-label="close" (click)="close()"></button>
    </header>
    <section class="modal-card-body">
      @if (isUpload()) {
        <div class="notification is-info" role="alert">
          <span>After Download, you can edit and</span>
          <a class="px-1" routerLink="../">upload the CSV file</a>
          <span>to submit your content on the HESTIA platform, and your draft will remain unchanged.</span>
          <p>
            <span>
              Alternatively, you can import the CSV file right back by clicking on the "Import from CSV" button and
              selecting the exported file.
            </span>
          </p>
        </div>
      } @else if (includedNodes().length > 1) {
        <p class="mb-2">
          <b>{{ includedNodes().length }}</b>
          <span class="px-1">Nodes will be included in your download.</span>
          <a (click)="showIncludeNodes.set(!showIncludeNodes())">
            @if (showIncludeNodes()) {
              Hide list
            } @else {
              Show list
            }
          </a>
        </p>
        @if (showIncludeNodes()) {
          <he-data-table maxHeight="400">
            <table class="table is-fullwidth is-striped is-mb-0">
              <thead>
                <tr>
                  <th class="width-auto has-border-right">
                    <span>Type</span>
                  </th>
                  <th>
                    <span>Name</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                @for (node of includedNodes(); track node) {
                  <tr>
                    <td class="width-auto has-border-right">
                      {{ node.node['@type'] }}
                    </td>
                    <td>
                      <he-node-link [node]="node.node" [showExternalLink]="true">
                        <span>{{ node.node.name }}</span>
                      </he-node-link>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </he-data-table>
        }
      }

      <he-node-csv-select-headers
        [class.is-hidden]="isUpload()"
        [csv]="csvData()"
        [keys]="headerKeys()"
        [includeDefaultCSV]="isUpload()"
        (headersChanged)="headers.set($event)"></he-node-csv-select-headers>
    </section>
    <footer class="modal-card-foot">
      <a
        class="button is-primary"
        target="_blank"
        [attr.disabled]="csvContent() ? null : true"
        [href]="csvContent()"
        [attr.download]="csvContent() ? downloadFilename() : null"
        (click)="close()">
        <fa-icon class="mr-2" [icon]="faDownload" />
        <span>Download CSV</span>
      </a>
      <button class="button is-ghost" (click)="close()">
        <span>Cancel</span>
      </button>
    </footer>
  </div>
</div>
