<form class="is-my-2" [formGroup]="form" (submit)="form.valid && submit()">
  <div class="field has-addons">
    <div class="control">
      <span class="button is-small is-secondary is-static">Add {{ nodeTypeLabel() }}</span>
    </div>
    <div class="control is-expanded has-icons-right">
      <input
        class="input search-input is-small is-secondary"
        placeholder="Search by name, product, country, etc."
        formControlName="search"
        name="search"
        [ngbTypeahead]="suggestNode"
        [inputFormatter]="formatter"
        [resultTemplate]="suggestion"
        [focusFirst]="true" />
      <a class="icon is-small is-right" [class.is-hidden]="!form.get('search').value" (click)="resetForm()">
        <fa-icon [icon]="faTimes" />
      </a>

      <span class="icon is-small is-right has-text-grey-dark" [class.is-hidden]="!suggesting">
        <fa-icon [icon]="faSpinner" animation="spin" size="sm" />
      </span>
    </div>
    <div class="control">
      <button class="button is-small is-secondary" type="submit" [disabled]="suggesting">
        <fa-icon [icon]="faPlus" />
      </button>
    </div>
  </div>
</form>

<ng-template #suggestion let-node="result" let-t="term">
  <div class="is-block">
    @if (node.aggregated) {
      <b class="is-pr-1 is-align-middle">Aggregated:</b>
    }
    <ngb-highlight class="is-align-middle" [result]="node.name || node.cycle?.name" [term]="t"></ngb-highlight>
  </div>
  <div class="columns is-flex">
    @if (node.termType) {
      <div class="column">
        <span class="pr-1 has-text-underline">Term Type:</span>
        <span class="is-inline-flex"><ngb-highlight [result]="node.termType" [term]="t"></ngb-highlight></span>
      </div>
    }
    @if (node.country) {
      <div class="column">
        <span class="pr-1 has-text-underline">Country:</span>
        <span class="is-inline-flex"><ngb-highlight [result]="node.country.name" [term]="t"></ngb-highlight></span>
      </div>
    }
    @if (node.product) {
      <div class="column">
        <span class="pr-1 has-text-underline">Product:</span>
        <span class="is-inline-flex">
          <ngb-highlight [result]="node.product.term?.name || node.product.name" [term]="t"></ngb-highlight>
        </span>
      </div>
    }
    @if (node.endDate) {
      <div class="column">
        <span class="pr-1 has-text-underline">Date:</span>
        <span class="is-inline-flex"><ngb-highlight [result]="node.endDate" [term]="t"></ngb-highlight></span>
      </div>
    }
  </div>
</ng-template>
