<div class="field has-addons">
  <div class="control">
    <span class="button is-small is-secondary is-static">Select a Type</span>
  </div>
  <div class="control is-expanded">
    <div class="select is-small is-secondary is-fullwidth">
      <select [(ngModel)]="nodeType" name="nodeType" id="nodeType">
        @for (type of nodeTypes; track type) {
          <option [value]="type">{{ type }}</option>
        }
      </select>
    </div>
  </div>
</div>

<he-engine-orchestrator-edit [nodeType]="nodeType"></he-engine-orchestrator-edit>
