@use '../../variables' as hv;
@use 'bulma/sass/grid/columns' as columns;
@use 'bulma/sass/utilities/mixins' as mixins;
@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

$grid-gap: 4px !default;

$menu-font-size: bv.$size-7;
$menu-icon-size: 20px;
$menu-caret-icon-size: 10px;
$menu-item-label-padding-x: 5px;
$menu-item-grid-gap: 10px !default;
$menu-item-secondary-padding-left: $menu-item-label-padding-x + $menu-icon-size + $menu-item-grid-gap !default;
$menu-item-secondary-padding-right: 0 !default;
$menu-item-nested-padding-left: $menu-item-secondary-padding-left + $menu-caret-icon-size + $menu-item-grid-gap !default;
$menu-item-nested-padding-right: $menu-item-secondary-padding-right !default;
// grid
$nested-row-bg-color: bv.$yellow-light;

.navigation-menu {
  width: 100%;
  display: block;

  .card-header {
    padding: 6px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: bv.$secondary-hover;
    color: bv.$white;
  }

  .card-title {
    font-size: $menu-font-size;
    line-height: 16px;
  }

  .card-content {
    padding: 12px 0 24px 0;
    background-color: hv.$background-white-alt;

    @include mixins.tablet {
      padding: 8px 0 24px;
    }
  }

  .menu {
    font-size: $menu-font-size;
    line-height: 16px;
    color: bv.$blue;
    font-weight: 400;

    width: 100% !important;
    max-width: 100% !important;

    @include mixins.desktop {
      width: hv.$navigation-menu-width-desktop !important;
      min-width: hv.$navigation-menu-width-desktop !important;
      max-width: hv.$navigation-menu-width-desktop !important;
      padding: 20px 0;

      border-style: solid;
      border-color: bv.$primary;
      border-width: 1px 0;
    }

    &.fixed-top {
      transform: translate3d(0, bv.$navbar-height + (bv.$navbar-padding-vertical * 2) + 0.5rem, 0);
    }

    &.sticky {
      position: sticky;
      top: bv.$navbar-height + (bv.$navbar-padding-vertical * 2) + 0.5rem;
    }
  }

  a {
    text-decoration: none !important;

    &:focus,
    &:active {
      outline: 0 !important;
    }
  }

  .cursor-default {
    cursor: default !important;
  }

  .he-menu-item {
    color: bv.$blue;

    &__label,
    &__title {
      display: block;
      color: bv.$blue !important;
    }

    &--with-icon {
      > span:first-child {
        height: $menu-icon-size;
        width: $menu-icon-size;
        min-width: $menu-icon-size;
      }
    }

    &__icon {
      color: bv.$blue;
      height: $menu-icon-size;
      width: $menu-icon-size;
    }

    &--primary,
    &--secondary,
    &--nested {
      gap: $menu-item-grid-gap;
    }

    &--primary {
      margin: 12px 0;
      padding: 6px $menu-item-label-padding-x;
    }

    &--secondary {
      cursor: pointer;
      padding: 0 $menu-item-secondary-padding-right 0 $menu-item-secondary-padding-left;

      > a.item-with-icons,
      > span {
        &:first-child {
          margin-left: $menu-item-grid-gap * 2;
        }
      }
    }

    &--nested {
      padding: 0 $menu-item-nested-padding-right 0 $menu-item-nested-padding-left;
    }

    &__label {
      padding: $grid-gap $menu-item-label-padding-x;
      border-radius: 3px;
      align-self: stretch;
      flex: 1 1 0;

      &--selectable:not(.link-active):hover {
        background-color: hv.$background-white-alt;
      }
    }

    &__caret-icon {
      color: bv.$primary;
      width: $menu-caret-icon-size;
    }

    &__expand-icon {
      cursor: pointer;
      padding-left: $menu-item-label-padding-x;
      padding-right: $menu-item-label-padding-x;
      width: $menu-caret-icon-size + $menu-item-grid-gap !important;
    }

    &__nested-border {
      width: 1px;
      align-self: stretch;
      background-color: bv.$primary;
    }
  }

  .link-active {
    background-color: bv.$link-active-background-color;
    color: bv.$blue !important;
  }

  .is-grid-menu {
    .link-active {
      background-color: bv.$link-active-background-color;
    }
  }

  &.column + .column {
    overflow: hidden;
    width: 100%;
  }

  @include mixins.desktop {
    &.column + .column {
      max-width: calc(100% - #{hv.$navigation-menu-width-desktop + (columns.$column-gap * 2)});
    }
  }

  &.is-small {
    .he-menu-item--primary {
      margin: 0;
    }
  }
}
