<aside class="is-overflow-hidden | menu" [class.sticky]="sticky()">
  <div class="ng-content-outer-container">
    <ng-content select="[outer-content]"></ng-content>
  </div>

  <div>
    <div class="ng-content-inner-container">
      <ng-content select="[inner-content]"></ng-content>
    </div>

    <ul class="is-block-menu">
      @for (primaryLink of links(); track trackByLink(primaryLink); let primaryLinkIndex = $index) {
        <li>
          @if (primaryLink.url) {
            <a
              (click)="close()"
              [routerLink]="primaryLink.url"
              [queryParams]="primaryLink.queryParams"
              [fragment]="primaryLink.fragment"
              routerLinkActive="link-active"
              [routerLinkActiveOptions]="primaryLinkActiveOptions(primaryLink)"
              (isActiveChange)="$event && primaryLinkActiveChange(primaryLink)"
              class="is-flex is-align-items-center | he-menu-item he-menu-item--primary"
              [class.has-text-weight-bold]="primaryLink.links?.length > 0"
              [class.he-menu-item--with-icon]="withPrimaryIcons()">
              <ng-container *ngTemplateOutlet="primaryLinkContent; context: { $implicit: primaryLink }"></ng-container>
            </a>
          } @else {
            <span
              class="is-flex is-align-items-center | he-menu-item he-menu-item--primary has-text-weight-bold"
              [class.he-menu-item--with-icon]="withPrimaryIcons()"
              (click)="primaryLink.collapsible && (primaryLink.expanded = !primaryLink.expanded)"
              [class.pointer]="primaryLink.collapsible">
              <ng-container *ngTemplateOutlet="primaryLinkContent; context: { $implicit: primaryLink }"></ng-container>
            </span>
          }
        </li>
        @if (primaryLink.links?.length) {
          <ul
            class="is-flex is-flex-direction-column is-align-items-stretch is-gap-4"
            [class.is-hidden]="!primaryLink.expanded">
            @for (secondaryLink of primaryLink.links; track trackByLink(secondaryLink)) {
              <li
                class="is-flex is-align-items-center | he-menu-item he-menu-item--secondary"
                (click)="
                  secondaryLink.url ? $event.stopPropagation() : toggleSecondaryLink(secondaryLink, primaryLinkIndex)
                ">
                @if (!!secondaryLink.links?.length) {
                  <fa-icon
                    [icon]="secondaryLink.expanded ? faCaretDown : faCaretRight"
                    (click)="$event.stopPropagation(); toggleSecondaryLink(secondaryLink, primaryLinkIndex)"
                    size="sm"
                    class="is-inline-block | he-menu-item__caret-icon" />
                }
                <a
                  (click)="secondaryLink.url ? close() : null"
                  [routerLink]="secondaryLink.url"
                  [queryParams]="secondaryLink.queryParams"
                  [fragment]="secondaryLink.fragment"
                  [routerLinkActiveOptions]="secondaryLink.activeMatchOptions || routerLinkMatchOptions()"
                  routerLinkActive="link-active"
                  (isActiveChange)="$event && secondaryLinkActiveChange(secondaryLink, primaryLinkIndex)"
                  class="he-menu-item__label he-menu-item__label--selectable"
                  [class.item-with-icons]="withSublinks(primaryLink)"
                  [ngClass]="{ 'he-menu-item__label--selectable': !!secondaryLink?.url }">
                  <span [innerHTML]="secondaryLink.title"></span>
                </a>
              </li>
              @if (secondaryLink?.links?.length) {
                <li [class.is-hidden]="!secondaryLink.expanded">
                  <ul>
                    @for (nestedItem of secondaryLink.links; track trackByLink(nestedItem)) {
                      <li class="is-flex is-align-items-center he-menu-item--nested">
                        <div class="he-menu-item__nested-border"></div>
                        <a
                          (click)="nestedItem.url ? close() : null"
                          [routerLink]="nestedItem.url"
                          [queryParams]="nestedItem.queryParams"
                          [fragment]="nestedItem.fragment"
                          [routerLinkActiveOptions]="nestedItem.activeMatchOptions || routerLinkMatchOptions()"
                          routerLinkActive="link-active"
                          (isActiveChange)="$event && secondaryLinkActiveChange(secondaryLink, primaryLinkIndex)"
                          class="he-menu-item__label he-menu-item__label--selectable">
                          <span [innerHTML]="nestedItem.title"></span>
                        </a>
                      </li>
                    }
                  </ul>
                </li>
              }
            }
          </ul>
        }
      }
    </ul>
  </div>
</aside>

<ng-template #primaryLinkContent let-link>
  @if (primaryLinkExpandable(link)) {
    <fa-icon
      [icon]="link.expanded ? faCaretDown : faCaretRight"
      (click)="$event.stopPropagation(); link.expanded = !link.expanded"
      size="sm"
      class="is-inline-block | he-menu-item__caret-icon he-menu-item__expand-icon" />
  } @else {
    <span class="is-inline-block has-text-centered">
      <svg-icon class="is-inline-block" [name]="link.icon" svgClass="he-menu-item__icon" />
    </span>
  }
  <span class="has-text-weight-bold he-menu-item__title" [innerHTML]="link.title"></span>
</ng-template>
