<div class="is-mb-2">
  <span>Status:</span>
  <span class="is-pl-1">{{ model().status }}</span>
</div>

@if (model().status === LogStatus.notRequired && model().logs?.is_not_relevant === 'True') {
  <ul class="is-pl-3 is-list-style-disc">
    @if (model().logs.logs?.siteType_allowed === 'False') {
      <li>
        The
        <code class="is-mx-1">site.siteType</code>
        is not relevant.
      </li>
    }
    @if (model().logs.logs?.product_id_allowed === 'False') {
      <li>
        None of the
        <code class="is-mx-1">Product</code>
        <code class="is-mr-1">term.&#64;id</code>
        is relevant.
      </li>
    }
    @if (model().logs.logs?.product_termType_allowed === 'False') {
      <li>
        None of the
        <code class="is-mx-1">Product</code>
        <code class="is-mr-1">term.termType</code>
        is relevant.
      </li>
    }
    @if (model().logs.logs?.input_id_allowed === 'False') {
      <li>
        None of the
        <code class="is-mx-1">Input</code>
        <code class="is-mr-1">term.&#64;id</code>
        is relevant.
      </li>
    }
    @if (model().logs.logs?.input_termType_allowed === 'False') {
      <li>
        None of the
        <code class="is-mx-1">Input</code>
        <code class="is-mr-1">term.termType</code>
        is relevant.
      </li>
    }
  </ul>
}

@if (model().logs && model().status !== LogStatus.notRequired && model().status !== LogStatus.skipHierarchy) {
  <ul class="is-pl-3 is-list-style-disc">
    @if (model().logs?.shouldRunOrchestrator === false) {
      <li class="is-no-run-orchestrator">
        @if (!model().logs.runRequired) {
          @if (model().logs.logs?.node_type_allowed === 'False') {
            <span class="is-run-node-type-not-allowed">
              This model should not run for {{ nodeType() | pluralize: 0 }}
            </span>
          }
        }
        @if (model().config) {
          <p class="is-run-strategy-{{ model().config.runStrategy }}">
            @switch (model().config.runStrategy) {
              @case ('always') {
                <span></span>
              }
              @case ('add_key_if_missing') {
                <span>We only gap-fill this key if not present</span>
              }
              @case ('add_blank_node_if_missing') {
                <span>We only gap-fill this Blank Node if not present.</span>
              }
            }
          </p>
          <p class="is-mt-1">
            @if (
              model().config.runArgs?.runNonMeasured && hasMethodTier(data().original, EmissionMethodTier.measured)
            ) {
              <span class="is-run-with-measured">
                The
                <code class="is-mx-1">{{ model().config.value }}</code>
                was reported as measured.
              </span>
            }
          </p>
        } @else if (model().logs.logs?.is_empty === 'False') {
          <span class="is-run-not-empty">
            The {{ data().type || 'blank node' }} with Term
            <code class="is-mx-1">{{ data().termId }}</code>
            is already present or already added by another model().
          </span>
        }
      </li>
    } @else {
      <li class="is-run-orchestrator">
        @if (model().logs?.shouldRun) {
          <p>All the requirements were met to run the model().</p>
        }
        @if (!model().logs?.shouldRun) {
          <p>Some of the requirements were not met to run the model().</p>
          <p>You can click on the model name on the left to view the debugging logs.</p>
        }
        @if (model().logs?.logs?.error) {
          <p>The model failed to run for the following reason:</p>
          <p>
            <code>{{ model().logs.logs.error }}</code>
          </p>
        }
      </li>
    }
    @if (model().logs?.replaceLowerTier !== undefined) {
      <li>
        <span>
          The recalculated
          <b>methodTier</b>
          was
        </span>
        @if (!model().logs.replaceLowerTier) {
          <span class="is-pl-1 is-underlined">lower than</span>
        }
        @if (model().logs.replaceLowerTier) {
          <span class="is-pl-1 is-underlined">higher than or equal to</span>
        }
        <span class="is-pl-1">
          the original
          <b>methodTier</b>
          .
        </span>
      </li>
    }
    @if (model().logs.replaceLowerTier) {
      <li class="is-merge-replaceLowerTier">
        <span>The recalculated</span>
        <b class="is-pl-1">{{ model().config?.mergeArgs?.replaceThreshold?.[0] || 'value' }}</b>
        <span class="is-pl-1">was</span>
        <span class="is-pl-1">
          @if (model().config?.mergeArgs) {
            @if (!model().logs.replaceThreshold) {
              <span class="is-underlined">less than</span>
            }
            @if (model().logs.replaceThreshold) {
              <span class="is-underlined">more than or equal to</span>
            }
            <b class="is-pl-1">{{ model().config.mergeArgs.replaceThreshold[1] * 100 }}%</b>
          }
          @if (!model().config?.mergeArgs) {
            @if (!model().logs.replaceThreshold) {
              <span class="is-underlined">not sufficiently</span>
            }
            @if (model().logs.replaceThreshold) {
              <span class="is-underlined">sufficiently</span>
            }
          }
        </span>
        <span class="is-pl-1">different from the original</span>
        <b class="is-pl-1">{{ model().config?.mergeArgs?.replaceThreshold?.[0] || 'value' }}.</b>
      </li>
    }
  </ul>
}
