@if (contentString()) {
  <span
    class="has-text-secondary"
    [ngbTooltip]="tooltipContent"
    [placement]="placement()"
    [triggers]="triggers()"
    [autoClose]="autoClose()"
    [container]="container()">
    <fa-icon [icon]="faQuestionCircle" size="sm" />
  </span>
}

<ng-template #tooltipContent>
  <span class="is-pre-line">
    {{ contentString() | removeMarkdown }}
  </span>
</ng-template>
