<button class="button is-primary" (click)="show = true">
  <span>Show modal</span>
</button>

@if (show) {
  <he-bibliographies-search-confirm (closed)="show = false"></he-bibliographies-search-confirm>
}
