<app-node-suggest-form [nodeType]="nodeType"></app-node-suggest-form>

<app-node-list [nodeType]="nodeType"></app-node-list>

<he-cycles-completeness [dataState]="dataState"></he-cycles-completeness>
