@if (loading()) {
  <div class="has-text-center py-3">
    <fa-icon [icon]="faSpinner" animation="spin" size="lg" />
  </div>
} @else {
  <div class="table-container data-table-container">
    <table class="table is-fullwidth is-hoverable is-striped mb-0">
      <thead>
        <tr>
          <th>
            <span>Filename</span>
          </th>
          <th>
            <span>Column Title</span>
          </th>
          <th>
            <span>Row (term.id)</span>
          </th>
          <th>
            <span>Model</span>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (log of logs(); track log) {
          <tr>
            <td>{{ log.filename }}</td>
            <td>
              @if (log.column) {
                <span>{{ log.column }}</span>
              } @else {
                <span>-</span>
              }
            </td>
            <td>
              @if (log.termId) {
                <span>{{ log.termId }}</span>
              } @else {
                <span>-</span>
              }
            </td>
            <td>
              @if (log.model) {
                <span>{{ log.model }}</span>
                @if (log.key) {
                  <span class="pl-1">/ {{ log.key }}</span>
                }
                @if (log.term && log.term !== log.termId) {
                  <span class="pl-1">/ {{ log.term }}</span>
                }
              } @else {
                <span>-</span>
              }
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="3">
              <span>No missing lookup factors.</span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
