<div class="modal is-large is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Search Bibliographies</p>
      <button class="delete" aria-label="close" (click)="cancel()"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="formGroup" novalidate>
        <div class="field has-addons">
          <div class="control is-expanded has-icons-right">
            <input
              class="input search-input"
              [attr.placeholder]="'Search bibliography by ' + searchBy()"
              formControlName="search"
              name="bibliography"
              autocomplete="off"
              (focus)="searchFocus($event)" />
            <a class="icon is-small is-right" [class.is-hidden]="loading()" (click)="resetSearch()">
              <fa-icon [icon]="faTimes" />
            </a>

            <span class="icon is-right has-text-grey-dark" [class.is-hidden]="!loading()">
              <fa-icon [icon]="faSpinner" animation="spin" size="sm" />
            </span>
          </div>
        </div>
      </form>

      <div class="is-mt-2">
        <span [class.is-hidden]="loading() || !searchControl?.value || hasResults()">
          No bibliographies found matching query.
        </span>

        <ul>
          @for (result of results(); track result) {
            <li>
              <a
                class="is-block p-1 search-result"
                (click)="selectedResult.set(result)"
                [class.is-active]="selectedResult() === result">
                <ngb-highlight
                  [result]="result.bibliography?.title ?? result.title"
                  [term]="searchControl?.value"></ngb-highlight>
                <span class="px-1">-</span>
                <span class="px-1">
                  <i>{{ result.name }}</i>
                </span>
                @if (result.bibliography?.documentDOI || result.documentDOI) {
                  <span class="px-1">
                    -
                    <b>documentDOI:</b>
                  </span>
                }
                <ngb-highlight
                  [result]="result.bibliography?.documentDOI ?? result.documentDOI"
                  [term]="searchControl?.value"></ngb-highlight>
                @if (result.bibliography?.scopus || result.scopus) {
                  <span class="px-1">
                    -
                    <b>scopus:</b>
                  </span>
                }
                <ngb-highlight
                  [result]="result.bibliography?.scopus ?? result.scopus"
                  [term]="searchControl?.value"></ngb-highlight>
                <span>
                  <ng-container
                    *ngTemplateOutlet="
                      mendeleyLink;
                      context: { $implicit: result.bibliography?.mendeleyID ?? result.mendeleyID }
                    "></ng-container>
                </span>
              </a>
            </li>
          }
        </ul>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" (click)="confirm()" [disabled]="!selectedResult()">
        <span>Confirm</span>
      </button>
      <button class="button is-ghost" (click)="cancel()">
        <span>Close</span>
      </button>
    </footer>
  </div>
</div>

<ng-template #mendeleyLink let-id>
  @if (id) {
    <a [href]="'https://www.mendeley.com/catalogue/' + id" target="_blank" (click)="$event.stopPropagation()">
      <fa-icon class="ml-2" [icon]="faExternalLinkAlt" size="sm" />
    </a>
  }
</ng-template>
