<form class="is-mb-3" (submit)="addNode()" novalidate>
  <div class="field has-addons">
    <div class="control is-expanded">
      <div class="select is-secondary is-fullwidth">
        <select
          [ngModel]="newNodeType()"
          (change)="newNodeType.set($event.target.value)"
          name="newNodeType"
          id="newNodeType">
          <option [value]="undefined">Add a new Node</option>
          @for (type of nodeTypes; track type) {
            <option [value]="type">{{ type }}</option>
          }
        </select>
      </div>
    </div>
    <div class="control">
      <button class="button is-secondary" type="submit" [disabled]="!newNodeType()">
        <fa-icon [icon]="faPlus" />
        <span class="pl-2" i18n="@@add">Add</span>
      </button>
    </div>
  </div>
</form>

<div class="is-flex is-align-items-center is-gap-16">
  <div>Select action</div>

  <div class="field has-addons is-flex-wrap-wrap">
    @for (mode of modes; track mode) {
      <div class="control">
        <a
          class="button is-small"
          [class.is-selected]="selectedMode() === mode"
          routerLink="./"
          [queryParams]="{ mode }">
          @switch (mode) {
            @case (Mode.view) {
              <span>View data</span>
            }
            @case (Mode.editable) {
              <span>Edit fields</span>
            }
            @case (Mode.resolve) {
              <span>Resolve errors</span>
            }
          }
        </a>
      </div>
    }
  </div>
</div>

<ng-template #rightDrawer>
  <he-collapsible-box class="is-p-1" [open]="true">
    <ng-container box-title>
      <span class="is-size-5 has-text-secondary">Errors and Warnings summary</span>
    </ng-container>
    <ng-container box-content>
      <he-files-error-summary
        [nodes]="nodes()"
        [errors]="validationErrors()"
        (resolvedErrorsChange)="resolvedErrors.set($event)"
        (unresolvedIndexesChange)="unresolvedIndexes.set($event)" />
    </ng-container>
  </he-collapsible-box>
</ng-template>

<div class="is-mt-5">
  @if (errorMode() && hasErrors() && responsiveService.isTouch()) {
    <ng-container *ngTemplateOutlet="rightDrawer" />
  }

  @for (node of errorMode() ? nodesWithErrors() : nodesWithIndex(); track node.index) {
    <div class="card-actions-container is-relative is-mb-5">
      <div class="card-actions is-absolute field has-addons">
        <div class="control">
          <button class="button is-small is-secondary" (click)="duplicateNode(node)">
            <fa-icon [icon]="farClone" size="sm" />
          </button>
        </div>
        <div class="control">
          <button class="button is-small is-danger" (click)="removeNode(node)">
            <fa-icon [icon]="faTimes" size="sm" />
          </button>
        </div>
      </div>
      @if (editable()) {
        <he-files-form-editable
          class="is-block is-pt-3"
          [node]="node.node"
          [errors]="node.errors"
          [nodeMap]="nodeMap()"
          (nodeChanged)="nodeChanged($event, node)" />
      } @else {
        <he-files-form
          class="is-block is-pt-3"
          [node]="node.node"
          [errors]="node.errors"
          (nodeErorrResolved)="nodeErorrResolved($event, node)" />
      }
    </div>
  } @empty {
    @if (nodes().length) {
      <p>All errors resolved.</p>
    }
  }
</div>
