<div
  class="is-flex is-flex-direction-column is-gap-8 is-py-2 is-pl-2 | engine-models-stage--container is-type-{{ type }}"
  [style.border-color]="nodeColour()">
  <div class="is-flex is-flex-direction-row is-justify-content-space-between is-gap-8">
    @if (canExpand()) {
      <div (click)="expanded.set(!expanded())" pointer>
        <fa-icon [icon]="expanded() ? faAngleDown : faAngleRight" />
      </div>
    }

    <div
      class="is-flex is-flex-direction-row is-justify-content-space-between is-gap-8 is-flex-wrap-wrap is-flex-grow-1">
      <he-node-link class="is-flex-grow-1" [node]="node()" [showExternalLink]="true">
        <span>{{ type() }} {{ id() }}</span>
      </he-node-link>

      <div class="is-flex is-flex-direction-column is-gap-4 | engine-models-stage--calculations">
        <div class="is-flex is-gap-4 is-pr-2">
          <span class="has-text-secondary has-text-weight-bold">Calculations:</span>

          @if (inProgress()) {
            <span [class.has-text-danger]="stage() === 0" [class.has-text-warning]="stage() > 0">
              stage {{ stage() }} / {{ maxStage() }}
            </span>
          } @else {
            <span
              class="trigger-popover"
              [ngbPopover]="popoverDetails"
              autoClose="outside"
              popoverClass="is-narrow"
              placement="left"
              container="body">
              <span class="has-text-success">complete</span>
            </span>
          }
        </div>
      </div>
    </div>
  </div>

  @if (expanded()) {
    @if (loading() && nodesLength() > 0) {
      @for (node of nodesLength() | times; track $index) {
        <he-skeleton-text [width]="60" />
      }
    }

    @for (relatedNode of expandableNodes(); track trackNode(relatedNode)) {
      <div class="related-node">
        <he-engine-models-stage-deep
          [node]="relatedNode"
          [expanded]="false"
          [expandedNode]="expandedNode() || node()" />
      </div>
    }
  }
</div>

<ng-template #popoverDetails>
  <div class="is-flex is-flex-direction-column is-gap-4 has-text-white w-100">
    <div class="is-flex is-align-items-center is-gap-8 w-100">
      <span class="has-text-weight-bold">Calculated Date:</span>
      <span>{{ recalculatedAt() | date: 'mediumDate' }}</span>
    </div>
    <div class="is-flex is-align-items-center is-gap-8 w-100">
      <span class="has-text-weight-bold">Calculated Version:</span>
      <he-engine-models-version-link [node]="node()" [showDetails]="true"></he-engine-models-version-link>
    </div>
  </div>
</ng-template>
