@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

.engine-models-stage {
  &--container {
    border: 1px solid transparent;
    border-radius: bv.$radius;
  }

  &--calculations {
    width: 175px;
  }
}

he-engine-models-stage-deep ::ng-deep {
  .engine-models-stage--container {
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
