@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

.table {
  &.is-striped {
    tbody tr {
      &:nth-child(even) {
        background-color: bv.$white;
      }

      &:nth-child(odd) {
        background-color: bv.$primary-lighter !important;
      }
    }
  }

  tbody tr:last-child td {
    border-bottom-width: thin;
  }
}

he-files-error-summary-item {
  border: 2px solid transparent;
  border-radius: bv.$radius;

  &.is-selected {
    border-color: bv.$primary-hover;
    background: bv.$table-striped-row-even-background-color;
  }
}
