@if (summaries().length) {
  <div class="table-container">
    <table class="table is-fullwidth is-striped">
      <tbody>
        @for (summary of summaries(); track summary.index) {
          <tr>
            <he-files-error-summary-item
              class="is-block is-p-2 pointer"
              [summary]="summary"
              [class.is-selected]="isSelected(summary)"
              (click)="toggleSummary(summary)" />
          </tr>
        }
      </tbody>
    </table>
  </div>
}
