<app-node-suggest-form [nodeType]="nodeType" [multiple]="false"></app-node-suggest-form>

<div class="field has-addons">
  <div class="control">
    <span class="button is-small is-secondary is-static">Select property</span>
  </div>
  <div class="control is-expanded">
    <div class="select is-small">
      <select [(ngModel)]="selectedProperty" name="selectedProperty" [disabled]="!properties().length">
        <option [value]="undefined">
          {{ properties().length ? 'Please select' : 'No properties available for this term' }}
        </option>
        @for (p of properties(); track p) {
          <option [ngValue]="p">{{ p.term.name }}</option>
        }
      </select>
    </div>
  </div>
</div>

<app-node-list [nodeType]="nodeType"></app-node-list>

@if (selectedProperty) {
  <div>
    <he-terms-property-content [property]="selectedProperty"></he-terms-property-content>
  </div>
}
