<nav class="navbar is-spaced has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div
      class="navbar-brand is-justify-content-space-between is-mx-3 is-mx-tablet-4 is-mx-desktop-auto is-px-tablet-2 is-px-desktop-0">
      <a class="navbar-item" href="/">
        <img
          loading="eager"
          class="logo-yellow"
          src="https://cdn.hestia.earth/prod/assets/images/logo-yellow.svg"
          width="180"
          height="69" />
        <img
          loading="eager"
          class="logo-white is-hidden"
          src="https://cdn.hestia.earth/prod/assets/images/logo-white.svg"
          width="180"
          height="69" />
      </a>

      <span class="is-size-5 is-flex is-align-items-center">UI Components</span>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar-dd"
        (click)="menuActive = !menuActive"
        [class.is-active]="menuActive">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-dd" class="navbar-menu" [class.is-active]="menuActive">
      <div class="navbar-end">
        <a class="navbar-item" [href]="gitHome + '/hestia-ui-components'" target="_blank" title="View on Gitlab">
          <fa-icon [icon]="faGitlab" size="xl" />
        </a>
      </div>
    </div>
  </div>
</nav>
