<div class="is-relative">
  <div class="copy-clipboard">
    <div class="field has-addons">
      @if (showFilters()) {
        <div class="control">
          <input
            class="input is-secondary is-small"
            [ngModel]="modelFilter()"
            id="modelFilter"
            (input)="modelFilter.set($event.target.value)"
            placeholder="Filter by Method / Model" />
        </div>
        <div class="control">
          <input
            class="input is-secondary is-small"
            [ngModel]="termFilter()"
            id="termFilter"
            (input)="termFilter.set($event.target.value)"
            placeholder="Filter by Term" />
        </div>
        <div class="control">
          <div class="select is-secondary is-small">
            <select [ngModel]="selectedLevel()" (change)="selectedLevel.set($event.target.value)" id="selectedLevel">
              @for (level of Level | keyvalue; track level) {
                <option [value]="level.value">{{ level.value }}</option>
              }
            </select>
          </div>
        </div>
      }
      <div class="control">
        <button
          class="button is-small"
          (click)="showFilters.set(!showFilters())"
          [ngbTooltip]="showFilters() ? 'Hide filters' : 'Show filters'"
          placement="bottom"
          container="body">
          <fa-icon [icon]="faFilter" />
        </button>
      </div>
      <div class="control">
        <he-clipboard
          clipboardClass="button is-secondary is-small"
          [value]="nodeLog()"
          [hideText]="true"
          [icon]="farClone"
          size="lg"
          rotate="180"></he-clipboard>
      </div>
      <div class="control">
        <a class="button is-info is-small" target="_blank" [href]="csvContent()" [download]="csvFilename()">
          <fa-icon [icon]="faDownload" />
        </a>
      </div>
    </div>
  </div>

  <pre class="pl-3 pt-3 ml-3">
    @for (line of nodeLogLines(); track line) {
      <code class="is-block {{line.class}}">{{line.data.timestamp}} {{('[' + line.data.level + ']:').padEnd(9, ' ')}} {{line.data.message}}</code>
    }
  </pre>
</div>
