@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

:host {
  display: block;
}

pre {
  background-color: inherit;
  color: inherit;
  min-height: 38px;
  max-height: 500px;

  font-size: 0;

  > code {
    font-size: bv.$size-7;
    line-height: 20px;
  }
}
