<div class="columns is-variable is-align-items-center is-2 m-0">
  <div class="column">
    @if (selectedView() === View.table) {
      <button class="button is-small is-ghost" (click)="showDownload()">
        <fa-icon [icon]="faDownload" size="lg" />
      </button>
    }
  </div>
  @if (views()?.length > 1) {
    <div class="column is-narrow">
      <div class="field has-addons">
        @for (view of views(); track view) {
          <div class="control">
            <button
              class="button is-small"
              [class.is-selected]="selectedView() === view"
              (click)="selectedView.set(view)">
              <span class="icon is-small">
                <fa-icon [icon]="viewIcon[view]" aria-hidden="true" />
              </span>
              <span class="is-hidden-mobile">{{ view }}</span>
            </button>
          </div>
        }
      </div>
    </div>
  }
</div>

@switch (selectedView()) {
  @case (View.table) {
    <div class="px-3 pb-3">
      @if (hasData()) {
        <he-data-table class="mb-1 is-small" [small]="true" maxHeight="320">
          <table class="table is-narrow is-striped">
            <thead>
              <tr class="has-text-weight-semibold">
                <th class="width-auto has-border-right"></th>
                @for (completeness of completenessKeys(); track completeness) {
                  <th [attr.title]="completeness">
                    <a [href]="schemaBaseUrl + '/Completeness#' + completeness" target="_blank">
                      {{ keyToLabel(completeness) }}
                    </a>
                  </th>
                }
              </tr>
            </thead>
            <tbody>
              @for (cycle of cycles(); track trackById(i, cycle); let i = $index) {
                <tr>
                  <td class="width-auto has-border-right" [attr.title]="defaultLabel(cycle)">
                    <he-node-link [node]="cycle">
                      <span>{{ i + 1 }}. {{ defaultLabel(cycle) }}</span>
                    </he-node-link>
                  </td>
                  @for (key of completenessKeys(); track key) {
                    <td class="is-nowrap">
                      <span>{{ getCompleteness(cycle)[key] ? 'Complete' : 'Incomplete' }}</span>
                      <he-blank-node-state
                        class="ml-1"
                        [dataState]="dataState()"
                        [node]="getCompleteness(cycle)"
                        [key]="key"></he-blank-node-state>
                    </td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </he-data-table>
        <he-blank-node-state-notice [dataState]="dataState()"></he-blank-node-state-notice>
      } @else {
        <div class="panel-block">
          <span>No completeness data</span>
        </div>
      }
    </div>
  }
  @case (View.logs) {
    @if (cycles().length > 1) {
      <div class="field has-addons pt-2 px-3">
        <div class="control">
          <span class="button is-small is-static is-secondary">Select a Cycle</span>
        </div>
        <div class="control is-expanded">
          <div class="select is-small is-fullwidth is-secondary">
            <select (change)="selectIndex($event)">
              @for (value of cycles(); track value; let i = $index) {
                <option [value]="i">{{ i + 1 }}. {{ defaultLabel(value) }}</option>
              }
            </select>
          </div>
        </div>
      </div>
    }
    @if (selectedNode()) {
      <he-node-logs-models
        [node]="selectedNode()"
        [nodeKey]="nodeKey"
        [logsKey]="selectedLogsKey()"
        [originalValues]="selectedOriginalValues()"
        [recalculatedValues]="selectedRecalculatedValues()"></he-node-logs-models>
    }
  }
}
