<div class="columns is-centered py-2 is-size-7 is-mobile is-multiline">
  @for (legendItem of legend(); track legendItem.type) {
    <div class="column is-narrow py-0 is-flex-mobile is-flex-direction-column is-align-items-center | is-legend-item">
      <span
        class="is-inline-block-tablet is-align-middle | key-colour"
        [style.backgroundColor]="nodeColours[legendItem.type]"></span>
      <strong class="has-text-black is-align-middle is-pl-tablet-2 is-size-8-mobile">
        <span class="is-hidden-desktop">{{ legendItem.mobileText }}</span>
        <span class="is-hidden-touch">{{ legendItem.text }}</span>
      </strong>
    </div>
  }
</div>

<div class="chart-container is-relative w-100">
  <svg class="w-100 h-100" #chart></svg>

  <span
    class="is-hidden"
    [ngbPopover]="tipContent"
    triggers="manual"
    placement="right left auto"
    container="body"
    #t="ngbPopover"
    positionTarget=".tip-target"
    popoverClass="is-narrow driver-chart-tooltip"
    [animation]="true"></span>
</div>

<ng-template #tipContent let-tipData="tipData">
  @if (tipData.hasWeightedValue) {
    <p>contribution: {{ tipData.weightedValueText }}</p>
  }
  <p>
    <a class="is-dark" target="_blank" [href]="tipData.valueKeyHref">value</a>
    : {{ tipData.valueValueText }}
    @if (tipData.hasValue) {
      <a class="is-dark" [href]="tipData.modelDocsHref" target="_blank">
        <span>Docs</span>
        <fa-icon class="ml-1" [icon]="faExternalLinkAlt" size="sm" />
      </a>
    }
  </p>
  <p>
    <a class="is-dark" target="_blank" [href]="tipData.modelKeyHref">methodModel</a>
    :
    <a class="is-dark" target="_blank" [href]="tipData.modelValueHref">{{ tipData.modelValue }}</a>
  </p>
  <p>
    <a class="is-dark" target="_blank" [href]="tipData.termKeyHref">term</a>
    :
    <a class="is-dark" target="_blank" [href]="tipData.termValueHref">{{ tipData.termValue }}</a>
  </p>
</ng-template>
