@use 'bulma/sass/utilities/mixins' as mixins;
@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

.is-legend-item {
  @include mixins.widescreen {
    min-width: 130px;
  }
}

.key-colour {
  border-radius: 2px;
  box-shadow:
    0 2px 3px 0 rgb(0 0 0 / 10%),
    inset 0 0 0 1px rgb(0 0 0 / 10%);
  height: 1.5em;
  width: 1.5em;
  opacity: 0.7;
}

$link-colour: #999;
$stroke-width-large: 3;
$stroke-width-medium: 2;

@mixin group-line-styles {
  stroke-dasharray: 2, 5;
  stroke: $link-colour;
  stroke-width: $stroke-width-medium;
}

@mixin node-border-radius {
  rx: 10px;
  ry: 10px;
}

svg {
  pointer-events: none;
}

:host ::ng-deep {
  .node-box {
    @include node-border-radius;
    fill-opacity: 0;
    stroke-opacity: 0.5;
    pointer-events: auto;
  }

  .node-open {
    stroke-width: $stroke-width-large;
  }

  .node-openable {
    &:hover {
      stroke-width: $stroke-width-large;
    }

    cursor: pointer;
    stroke-opacity: 1;
    fill-opacity: 0.1;
  }

  .group-button {
    fill: bv.$white;
    cursor: pointer;
    pointer-events: auto;
    @include group-line-styles;
    &:hover {
      fill: bv.$black;
    }

    &:hover + text {
      fill: bv.$white;
    }
  }

  .group-button-text {
    text-anchor: middle;
    alignment-baseline: central;
  }

  .group-border,
  .group-line {
    @include group-line-styles;
    fill: none;
  }

  .group-label {
    font-weight: bold;
    fill: dimgrey;
    text-anchor: start;
    alignment-baseline: central;
  }

  .node-label {
    font-weight: bold;
    fill: bv.$black;
    text-anchor: middle;
    alignment-baseline: central;
  }

  .node-label tspan {
    alignment-baseline: inherit;
  }

  .bar-label {
    font-weight: bold;
    fill: dimgrey;
    alignment-baseline: central;
  }

  .sibling-mask {
    fill: rgba(250, 250, 250);
    fill-opacity: 0.8;
    stroke-opacity: 0.9;
    stroke: rgba(250, 250, 250);
    @include node-border-radius;
    stroke-width: $stroke-width-large;
    pointer-events: none;
  }

  .mask-openable {
    &:hover {
      fill: none;
      stroke: none;
    }

    pointer-events: all;
  }

  .bar-background {
    fill: lightgrey;
    fill-opacity: 0.5;
  }

  .link-path {
    fill: none;
    stroke: $link-colour;
  }

  .bar-foreground {
    fill-opacity: 0.5;
  }
}
