<form class="field has-addons" novalidate (submit)="submit()">
  <div class="control is-expanded has-icons-right" [class.is-hidden]="!extended()">
    <input
      #searchInput
      type="text"
      [ngModel]="value()"
      class="input search-input {{ class() }}"
      name="search"
      [disabled]="disabled()"
      [attr.placeholder]="placeholder()"
      (input)="value.set($event.target.value)" />
    <a class="icon is-small is-right" [class.is-hidden]="!value() || disabled()" (click)="clear()">
      <fa-icon [icon]="faTimes" />
    </a>
  </div>
  <div class="control">
    <button class="button {{ class() }}" type="submit">
      <fa-icon [icon]="faSearch" />
    </button>
  </div>
</form>
