<div>
  <p class="is-mb-2">
    Select a Schema Type to view some information. You can also enter a field to see it's description.
  </p>

  <div class="field has-addons">
    <div class="control">
      <div class="select is-fullwidth">
        <select [(ngModel)]="selectedSchemaType" name="selectedSchemaType">
          @for (schemaType of schemaTypes; track schemaType) {
            <option [value]="schemaType">{{ schemaType }}</option>
          }
        </select>
      </div>
    </div>

    <div class="control is-expanded">
      <input class="input" type="text" [(ngModel)]="schemaField" placeholder="Schema field" />
    </div>

    <div class="control">
      <div class="button is-light is-static pointer-all">
        <he-schema-info [type]="selectedSchemaType" [field]="schemaField" placement="left"></he-schema-info>
      </div>
    </div>
  </div>
</div>
