<p class="mb-2">Please select which columns you would like to include:</p>

<p class="my-2 is-size-7">
  <i>You can drag and drop the headers to sort them as they would appear in the CSV file.</i>
</p>

<div class="columns toggle-all mx-4 pb-1 mb-0">
  <div class="column">
    <label class="checkbox ml-1">
      <input type="checkbox" class="selector" [ngModel]="allSelected()" (change)="selectAll($event.target.checked)" />
      <span class="ml-2">Toggle All</span>
    </label>
  </div>

  <div class="column is-narrow">
    <div ngbDropdown container="body" placement="bottom-end">
      <button ngbDropdownToggle class="button is-small" type="button" id="select-menu">
        <span>Advanced Filters</span>
        <span class="icon is-small">
          <fa-icon [icon]="faFilter" aria-hidden="true" />
        </span>
      </button>
      <div ngbDropdownMenu aria-labelledby="select-menu">
        <div class="dropdown-content">
          <a ngbDropdownItem>
            <label class="checkbox ml-1">
              <input
                type="checkbox"
                class="selector"
                [ngModel]="showNonIncluded()"
                (change)="showNonIncluded.set($event.target.checked)" />
              <span class="ml-2">
                Include
                <code>internal</code>
                fields
              </span>
            </label>
          </a>
          <div class="dropdown-item">
            <p>Toggle Term Fields</p>
          </div>
          @for (field of termFields; track field) {
            <div ngbDropdownItem>
              <label class="checkbox ml-1">
                <input
                  type="checkbox"
                  class="selector"
                  [checked]="isTermFieldSelect(field)"
                  (change)="toggleTermField($event.target.checked, field)" />
                <span class="ml-2">{{ field }}</span>
              </label>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

@if (loading()) {
  <div class="has-text-center py-3">
    <fa-icon [icon]="faSpinner" animation="spin" size="lg" />
  </div>
} @else {
  <div class="is-overflow-y-auto | drag-container">
    @for (group of groups(); track group.key) {
      <div class="card">
        <header class="card-header">
          <div class="card-header-title">
            <label class="checkbox ml-1">
              <input
                type="checkbox"
                class="selector"
                [indeterminate]="group.partialSelected"
                [ngModel]="group.selected"
                (change)="updateGroup($event.target.checked, group)" />
              <span class="ml-2">{{ group.key }}</span>
            </label>
          </div>
          <span
            class="card-header-icon has-text-secondary"
            aria-label="open / close"
            (click)="group.open = !group.open"
            pointer>
            <span class="icon">
              <fa-icon [icon]="faAngleDown" [class.is-hidden]="!group.open" />
              <fa-icon [icon]="faAngleLeft" [class.is-hidden]="group.open" />
            </span>
          </span>
        </header>
        <div class="card-content p-3" [class.is-hidden]="!group.open">
          <ul cdkDropList (cdkDropListDropped)="dropHeader($event, group)">
            @for (header of group.headers; track header.key) {
              @if (header.included || showNonIncluded()) {
                <li cdkDrag>
                  <label class="checkbox ml-2">
                    <input
                      type="checkbox"
                      class="selector"
                      [ngModel]="header.selected"
                      (change)="updateHeader($event.target.checked, group, header)" />
                    <span class="ml-2">{{ header.key }}</span>
                  </label>
                </li>
              }
            }
          </ul>
        </div>
      </div>
    }
  </div>
}
