@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

.toggle-all {
  border-bottom: 1px solid bv.$grey;
}

.cdk-drag-preview {
  border-radius: bv.$radius;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  list-style: none;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
