<h1 class="title is-3">Welcome to the Demo of the HESTIA UI Components library</h1>

<p>Below is a list of the components used on HESTIA that only require css.</p>
<p>You can also select a component from the navbar menu to see the HESTIA Angular components.</p>

<hr class="section-divider my-4" />

<div class="anchor" id="buttons"></div>

<h2 class="title is-4">
  <a class="title-anchor" routerLink="./" fragment="buttons">
    <fa-icon [icon]="faLink" />
  </a>
  <span>Buttons</span>
</h2>

<div class="columns is-multiline is-vcentered">
  @for (classes of buttons; track classes) {
    <div class="column is-narrow">
      <button class="button {{ cssClasses(classes) }}">
        @for (v of classes; track v; let f = $first) {
          <span class="is-capitalized" [class.is-pl-2]="!f">{{ v }}</span>
        }
      </button>
    </div>
  }
</div>

<div class="columns is-multiline is-vcentered">
  @for (classes of buttonSizes; track classes) {
    <div class="column is-narrow">
      <button class="button {{ cssClasses(classes) }}">
        @for (v of classes; track v; let f = $first) {
          <span class="is-capitalized" [class.is-pl-2]="!f">{{ v }}</span>
        }
      </button>
    </div>
  }
</div>

<h3 class="title is-5">Button Segments</h3>

<div class="field has-addons">
  <p class="control">
    <button class="button is-small">
      <span>Table</span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small">
      <span>Chart</span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small" disabled>
      <span>Map</span>
    </button>
  </p>
</div>

<hr class="section-divider my-4" />

<div class="anchor" id="issue-confirm"></div>

<h2 class="title is-4">
  <a class="title-anchor" routerLink="./" fragment="issue-confirm">
    <fa-icon [icon]="faLink" />
  </a>
  <span>Report an Issue</span>
</h2>

<button class="button is-secondary is-outlined" (click)="showReportIssue()">Show dialog</button>

<hr class="section-divider my-4" />

<div class="anchor" id="forms"></div>

<h2 class="title is-4">
  <a class="title-anchor" routerLink="./" fragment="forms">
    <fa-icon [icon]="faLink" />
  </a>
  <span>Forms</span>
</h2>

<div class="field has-addons">
  <div class="control is-expanded has-icons-right">
    <input
      type="string"
      class="input search-input is-secondary"
      id="search"
      name="search"
      [(ngModel)]="search"
      placeholder="Standard search bar" />
    <a class="icon is-small is-right" [class.is-hidden]="!search" (click)="search = ''">
      <fa-icon [icon]="faTimes" />
    </a>
  </div>
  <div class="control">
    <button class="button search-button is-secondary" type="submit">
      <fa-icon [icon]="faSearch" />
    </button>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" for="input">
      <span>Input</span>
    </label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input type="string" class="input" />
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" for="input">
      <span>Textarea</span>
    </label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <textarea class="textarea" rows=""></textarea>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal"></div>
  <div class="field-body">
    <div class="field is-relative">
      <input type="checkbox" class="switch is-small is-rounded" id="switch" [(ngModel)]="switch" />
      <label class="checkbox" for="switch">
        <span class="is-block">Switch</span>
      </label>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal"></div>
  <div class="field-body">
    <div class="field is-relative">
      <label class="checkbox" for="checkbox">
        <input type="checkbox" class="checkbox" id="checkbox" [(ngModel)]="checkbox" />
        Checkbox
      </label>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal"></div>
  <div class="field-body">
    <div class="control">
      <label class="radio">
        <input type="radio" name="answer" />
        Radio option 1
      </label>
      <label class="radio">
        <input type="radio" name="answer" />
        Radio option 2
      </label>
    </div>
  </div>
</div>

<hr class="section-divider my-4" />

<div class="anchor" id="tags"></div>

<h2 class="title is-4">
  <a class="title-anchor" routerLink="./" fragment="tags">
    <fa-icon [icon]="faLink" />
  </a>
  <span>Tags</span>
</h2>

<div class="columns is-multiline is-vcentered">
  <div class="column is-narrow">
    <span class="tag is-rounded is-light">
      Standard with button
      <button class="delete is-small"></button>
    </span>
  </div>

  <div class="column is-narrow">
    <span class="tag is-primary">Primary</span>
  </div>

  <div class="column is-narrow">
    <div class="tags has-addons">
      <span class="tag is-info">Multi-tags</span>
      <span class="tag is-dark">20</span>
    </div>
  </div>
</div>

<hr class="section-divider my-4" />

<div class="anchor" id="panels"></div>

<h2 class="title is-4">
  <a class="title-anchor" routerLink="./" fragment="panels">
    <fa-icon [icon]="faLink" />
  </a>
  <span>Panels</span>
</h2>

<section class="panel">
  <p class="panel-heading">
    <span>Default panel header</span>
  </p>

  <div class="panel-block">
    <p>Panel content</p>
  </div>
</section>

<section class="panel is-secondary">
  <p class="panel-heading">
    <span>Highlighted panel header</span>
  </p>

  <div class="panel-block">
    <p>Panel content</p>
  </div>
</section>

<hr class="section-divider my-4" />

<div class="anchor" id="tabs"></div>

<h2 class="title is-4">
  <a class="title-anchor" routerLink="./" fragment="tabs">
    <fa-icon [icon]="faLink" />
  </a>
  <span>Tabs</span>
</h2>

<div class="tabs is-mb-2">
  <ul>
    @for (tab of tabs; track tab) {
      <li [class.is-active]="selectedTab === tab" (click)="selectedTab = tab">
        <a>{{ tab }}</a>
      </li>
    }
  </ul>
</div>

<div>Content for {{ selectedTab }}</div>

<hr class="section-divider my-4" />

<div class="anchor" id="notifications"></div>

<h2 class="title is-4">
  <a class="title-anchor" routerLink="./" fragment="notifications">
    <fa-icon [icon]="faLink" />
  </a>
  <span>Notifications</span>
</h2>

<div class="notification is-info" role="alert">
  <fa-icon class="pr-2" [icon]="faInfoCircle" />
  <span class="pr-1">Information</span>
</div>

<div class="notification is-success" role="alert">
  <fa-icon class="pr-2" [icon]="faCheckCircle" />
  <span class="pr-1">Success</span>
</div>

<div class="notification is-warning" role="alert">
  <fa-icon class="pr-2" [icon]="faExclamationTriangle" />
  <span class="pr-1">Warning</span>
</div>

<div class="notification is-danger" role="alert">
  <fa-icon class="pr-2" [icon]="faTimesCircle" />
  <span class="pr-1">Error</span>
</div>

<hr class="section-divider my-4" />

<div class="anchor" id="progress"></div>

<h2 class="title is-4">
  <a class="title-anchor" routerLink="./" fragment="progress">
    <fa-icon [icon]="faLink" />
  </a>
  <span>Progress Bars</span>
</h2>

<div class="is-mb-2">
  <p>Primary</p>
  <progress class="progress is-primary" value="20" max="100"></progress>
</div>

<div class="is-mb-2">
  <p>Info small</p>
  <progress class="progress is-info is-small" value="20" max="100"></progress>
</div>

<div class="is-mb-2">
  <p>Secondary large indeterminate</p>
  <progress class="progress is-secondary is-large" max="100"></progress>
</div>

<hr class="section-divider my-4" />

<div class="anchor" id="responsive"></div>

<h2 class="title is-4">
  <a class="title-anchor" routerLink="./" fragment="responsive">
    <fa-icon [icon]="faLink" />
  </a>
  <span>Responsive service</span>
</h2>

<p>
  <span class="has-text-weight-bold">Resolution:</span>
  <code>{{ responsiveService.resolutionName() }}</code>
</p>
