<div (clickOutside)="showSortBy = false" [class.is-active]="showSortBy" [ngClass]="'is-' + alignment" class="dropdown">
  <div (click)="showSortBy = !showSortBy" class="dropdown-trigger">
    <button
      [class.is-active]="showSortBy"
      [disableTooltip]="showSortBy"
      aria-controls="sort-menu"
      aria-haspopup="true"
      class="button is-ghost"
      container="body"
      ngbTooltip="Sort options"
      placement="bottom">
      <fa-icon aria-hidden="true" [icon]="faSortAmountUpAlt" />
    </button>
  </div>
  <div class="dropdown-menu" id="sort-menu" role="menu">
    <div (click)="showSortBy = false" class="dropdown-content">
      @for (option of sortOptions; track option) {
        <a (click)="sort(option)" [class.is-selected]="sortBySignal() === option.id" class="dropdown-item">
          <fa-icon
            [icon]="arrowIcon()"
            [style.visibility]="sortBySignal() === option.id ? 'visible' : 'hidden'"
            class="is-pr-2" />
          <span [style.border-color]="option.color ?? 'transparent'" class="is-pl-2 is-inline-block is-capitalized">
            {{ option.label }}
          </span>
        </a>
      }
    </div>
  </div>
</div>
