@if (loading()) {
  <div class="has-text-center py-3">
    <fa-icon [icon]="faSpinner" animation="spin" size="lg" />
  </div>
} @else {
  <div class="p-3" [class.is-hidden]="!terms()?.length">
    <div class="columns">
      <div class="column">
        <div class="field has-addons">
          <div class="control">
            <span class="button is-small is-static is-secondary">Select an Indicator</span>
          </div>
          @if (terms()?.length) {
            <div class="control is-expanded">
              <div class="select is-fullwidth is-small is-secondary">
                <select (change)="selectTerm($event)">
                  @for (term of terms(); track term) {
                    <option [value]="term['@id']">{{ term.name }} ({{ term.units }})</option>
                  }
                </select>
              </div>
            </div>
          }
          @if (methods()?.length) {
            <div class="control is-expanded">
              <div class="select is-fullwidth is-small is-secondary">
                <select (change)="selectMethod($event)">
                  <option [ngValue]="undefined">Filter Model</option>
                  @for (term of methods(); track term) {
                    <option [value]="term['@id']">{{ term.name }}</option>
                  }
                </select>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="column is-narrow">
        <a
          class="button is-ghost is-small"
          [href]="csvContent()"
          [download]="downloadFilename()"
          ngbTooltip="Download as CSV"
          placement="bottom">
          <fa-icon [icon]="faDownload" />
        </a>
      </div>
    </div>
    @if (!selectedMethod()) {
      <p class="is-size-7">
        <i>Selecting a Model is recommended to avoid duplicated entries.</i>
      </p>
    }
  </div>
}

<div class="is-mt-1">
  @if (!loading() && noData()) {
    <p class="has-text-centered">
      <span>No breakdown available for</span>
      @if (selectedTerm()) {
        <span class="is-pl-1">{{ selectedTerm().name }}</span>
      }
      @if (selectedMethod()) {
        <span class="is-pl-1">({{ selectedMethod().name }})</span>
      }
      <span>.</span>
    </p>
  }
  <he-chart class="is-relative" [data]="chartData()" [config]="chartConfig()"></he-chart>
</div>
