@use 'bulma/sass/utilities/mixins' as mixins;

$table-dark-border: 1px 0px 0px;
$table-dark-border-right-color: #6c8093;

:host {
  display: block;
}

::ng-deep {
  .table {
    background-color: transparent;

    td {
      he-node-link {
        width: 190px;

        @include mixins.mobile {
          width: 150px;
        }
      }

      .open-node + he-node-link {
        width: 170px;

        @include mixins.mobile {
          width: 130px;
        }
      }

      &.has-border-right {
        box-shadow: $table-dark-border $table-dark-border-right-color;
      }
    }

    .has-sub-rows.is-open,
    .is-sub-row {
      > td:first-child::before {
        display: block;
        position: absolute;
        content: ' ';
        background-color: rgba($table-dark-border-right-color, 0.2);
        height: 100%;
        width: 1px;
        top: 0px;
        left: 12px;
      }
    }

    .has-sub-rows.is-open {
      > td:first-child::before {
        top: 25px;
      }
    }

    .popover-body {
      .table-container {
        max-height: 260px;
        overflow-y: auto;
      }
    }
  }
}
