@if (showOutdatedLogs() || isLatestVersion()) {
  <div class="is-px-3 is-pb-3">
    @if (!isExternal && logsUrl()) {
      <div class="has-text-right is-mb-2">
        <a class="is-size-7" [href]="logsUrl()" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt" />
          <span class="pl-2">Open Full Logs</span>
        </a>
      </div>
    }
    <he-data-table class="mb-1 is-small" [small]="true" maxHeight="320">
      <table class="table is-fullwidth is-narrow is-striped">
        <thead>
          <tr>
            <th class="width-auto has-border-right">
              @if (enableFilterByTerm()) {
                <div class="field">
                  <div class="control is-expanded has-icons-right">
                    <input
                      class="input search-input is-small"
                      [ngModel]="term()"
                      name="term"
                      placeholder="Select entry by name"
                      [ngbTypeahead]="suggestTerm"
                      [focusFirst]="true"
                      (focus)="typeaheadFocus($event)"
                      (selectItem)="term.set($event.item)"
                      container="body"
                      popupClass="is-small" />
                    <a class="icon is-small is-right" [class.is-hidden]="!term()" (click)="term.set('')">
                      <fa-icon [icon]="faTimes" />
                    </a>
                  </div>
                </div>
              }
            </th>
            @if (isBlankNodes()) {
              <th>
                <span class="is-pr-1">Units</span>
                <span>(per&nbsp;</span>
                <span>
                  @switch (functionalUnit()) {
                    @case (CycleFunctionalUnit['1 ha']) {
                      hectare
                    }
                    @default {
                      kg product
                    }
                  }
                </span>
                <span>)</span>
              </th>
            }
            <th>Original</th>
            <th>Recalculated</th>
            @if (isBlankNodes()) {
              <th>Difference</th>
            }
            @for (c of methodModelsCount() | times; track i; let i = $index) {
              <th>({{ i + 1 }})</th>
            }
          </tr>
        </thead>
        <tbody>
          @if (loading()) {
            <tr>
              <td class="has-text-centered" colspan="6">
                <div class="has-text-center py-3">
                  <fa-icon [icon]="faSpinner" animation="spin" size="lg" />
                </div>
              </td>
            </tr>
          } @else if (blankNodes().length === 0) {
            <tr>
              <td class="has-text-centered" colspan="6">
                <span>{{ noDataMessage() || 'No original data was provided and no gap filling occurred.' }}</span>
              </td>
            </tr>
          }
          @for (blankNode of blankNodes(); track trackByBlankNode($index, blankNode)) {
            <tr [class.has-sub-rows]="blankNode.canOpen" [class.is-open]="blankNode.isOpen">
              <td
                class="width-auto has-border-right is-nowrap"
                [attr.title]="$any(blankNode).term?.name || $any(blankNode).key">
                @if (blankNode.canOpen) {
                  <a class="is-inline-block is-align-top pr-2 open-node" (click)="blankNode.isOpen = !blankNode.isOpen">
                    <fa-icon [icon]="blankNode.isOpen ? faAngleDown : faAngleRight" />
                  </a>
                }
                @if ($any(blankNode).term) {
                  <he-node-link class="is-inline-block is-pre-wrap" [node]="$any(blankNode).term">
                    <span [innerHtml]="$any(blankNode).term.name | compound: $any(blankNode).term.termType"></span>
                  </he-node-link>
                }
                @if ($any(blankNode).key) {
                  @if (nodeKey() === 'completeness') {
                    <a [href]="schemaBaseUrl + '/Completeness#' + $any(blankNode).key" target="_blank">
                      <span>{{ $any(blankNode).key | keyToLabel }}</span>
                    </a>
                  }
                } @else {
                  <span>{{ $any(blankNode).key }}</span>
                }
              </td>
              @if (isBlankNodes()) {
                <td>
                  @if ($any(blankNode).term) {
                    <span
                      class="is-nowrap"
                      [innerHtml]="$any(blankNode).term.units | compound: $any(blankNode).term.termType"></span>
                  }
                </td>
              }
              <td>
                <ng-template #originalValueContent>
                  <span>{{ $any(blankNode).originalValue | precision: 3 | default: '-' }}</span>
                </ng-template>

                @if (blankNode.allParallel) {
                  @for (model of $any(blankNode).configModels[0]; track model.methodId) {
                    <div>
                      {{ $any(blankNode).originalValueByMethodId[model.methodId] | precision: 3 | default: '-' }}
                    </div>
                  }
                } @else {
                  <span
                    [class.trigger-popover]="!!$any(blankNode).original?.[0]?.methodModel"
                    [ngbPopover]="blankNodeOriginalValueDetails"
                    autoClose="outside"
                    popoverClass="is-narrow"
                    placement="left"
                    container="body"
                    [disablePopover]="!$any(blankNode).original?.[0]?.methodModel"
                    [popoverContext]="{ blankNode }">
                    <span pointer>
                      {{ $any(blankNode).originalValue | precision: 3 | default: '-' }}
                    </span>
                  </span>
                }
              </td>
              <td>
                @if (!blankNode.isOriginal || blankNode.isRecalculated) {
                  @if (blankNode.allParallel) {
                    @for (model of $any(blankNode).configModels[0]; track model.methodId) {
                      <div>
                        {{ $any(blankNode).recalculatedValueByMethodId[model.methodId] | precision: 3 | default: '-' }}
                      </div>
                    }
                  } @else {
                    <span>{{ blankNode.recalculatedValue | precision: 3 | default: '-' }}</span>
                  }
                } @else {
                  not recalculated
                }
              </td>
              @if (isBlankNodes()) {
                <td class="is-nowrap">
                  @if (blankNode.allParallel) {
                    @for (model of $any(blankNode).configModels[0]; track model.methodId) {
                      <div>
                        @if (
                          $any(blankNode).originalValueByMethodId[model.methodId] !== null &&
                          $any(blankNode).recalculatedValueByMethodId[model.methodId] !== null
                        ) {
                          <he-blank-node-value-delta
                            [value]="$any(blankNode).recalculatedValueByMethodId[model.methodId]"
                            [originalValue]="
                              $any(blankNode).originalValueByMethodId[model.methodId]
                            "></he-blank-node-value-delta>
                        } @else {
                          -
                        }
                      </div>
                    }
                  } @else {
                    @if ($any(blankNode).original.length && blankNode.isRecalculated) {
                      <he-blank-node-value-delta
                        [value]="blankNode.recalculatedValue"
                        [originalValue]="$any(blankNode).originalValue"></he-blank-node-value-delta>
                    } @else {
                      -
                    }
                  }
                </td>
              }
              <ng-container *ngTemplateOutlet="blankNodeModels; context: { data: blankNode }" />
            </tr>
            @for (subValue of $any(blankNode).keys; track trackBySubValue(subValue)) {
              <tr
                [class.is-hidden]="!blankNode.isOpen"
                [class.has-sub-rows]="$any(blankNode).subValues?.length"
                [class.is-sub-row]="blankNode.canOpen">
                <td class="width-auto has-border-right is-nowrap">
                  <span class="is-inline-block is-align-top pl-3 pr-1 field-node">Field:</span>
                  @if (blankNode.type) {
                    <a
                      class="is-inline-block is-pre-wrap"
                      [href]="schemaBaseUrl + '/' + blankNode.type + '#' + subValue.key"
                      target="_blank"
                      [title]="subValue.key">
                      <span>{{ subValue.key }}</span>
                    </a>
                  }
                  @if (!blankNode.type) {
                    <span class="is-inline-block is-align-top">{{ subValue.key }}</span>
                  }
                </td>
                @if (isBlankNodes()) {
                  <td></td>
                }
                <td>
                  @if (subValue.originalValue !== null) {
                    <span>
                      {{ subValue.originalValue | precision: 3 | default: '-' }}
                    </span>
                  } @else {
                    -
                  }
                </td>
                <td>
                  @if (subValue.isRecalculated || subValue.key === 'impactAssessment') {
                    <span>
                      {{ subValue.recalculatedValue | precision: 3 | default: '-' }}
                    </span>
                  } @else {
                    not recalculated
                  }
                </td>
                @if (isBlankNodes()) {
                  <td>-</td>
                }
                <ng-container *ngTemplateOutlet="blankNodeModels; context: { data: subValue }" />
              </tr>
            }
            @for (subValue of $any(blankNode).subValues; track trackBySubValue(subValue)) {
              @let term = subValue.term || termById(subValue.id);
              <tr [class.is-hidden]="!blankNode.isOpen" [class.is-sub-row]="blankNode.canOpen">
                <td class="width-auto has-border-right">
                  <span class="is-inline-block is-align-top pl-3">{{ subValue.key | keyToLabel }}</span>
                  @if (subValue.id) {
                    <span class="is-inline-block" class="is-inline-block is-align-top pr-1">:</span>
                    @switch (subValue.key) {
                      @case ('backgroundData') {
                        <span class="is-inline-block">{{ term?.name }}</span>
                      }
                      @default {
                        <he-node-link class="is-block pl-4" [node]="term" [attr.title]="term?.name">
                          <span [innerHtml]="term?.name | compound"></span>
                        </he-node-link>
                      }
                    }
                  }
                </td>
                @if (isBlankNodes()) {
                  <td>
                    @if (subValue.showUnits && $any(blankNode).term) {
                      <span
                        class="is-nowrap"
                        [innerHtml]="$any(blankNode).term.units | compound: $any(blankNode).term.termType"></span>
                    }
                  </td>
                }
                <td>
                  @if (subValue.originalValue !== null) {
                    <span>
                      {{ subValue.originalValue | precision: 3 | default: '-' }}
                    </span>
                  } @else {
                    -
                  }
                </td>
                <td>
                  @if (subValue.isRecalculated) {
                    <span>
                      {{ subValue.recalculatedValue | precision: 3 | default: '-' }}
                    </span>
                  } @else {
                    not recalculated
                  }
                </td>
                @if (isBlankNodes()) {
                  <td>-</td>
                }
                <ng-container *ngTemplateOutlet="blankNodeModels; context: { data: subValue }" />
              </tr>
            }
          }
        </tbody>
      </table>
    </he-data-table>
    <div class="is-size-7 is-italic">
      <div class="columns is-variable is-1 my-0">
        <div class="column is-narrow">
          <p>
            <a class="is-inline-block pr-2" (click)="showLegend.set(!showLegend())">
              <fa-icon [icon]="showLegend() ? faAngleDown : faAngleRight" />
            </a>
            <span class="is-inline-block">Legend:</span>
          </p>
          @if (showLegend()) {
            <ul class="content pl-2">
              @for (status of LogStatus | keyvalue; track status.value) {
                @if (logIcon[status.value]) {
                  <li class="has-text-{{ logColor[status.value] }}">
                    <fa-icon [icon]="logIcon[status.value]" />
                    <span class="pl-1">{{ status.value }}</span>
                  </li>
                }
              }
            </ul>
          }
        </div>
        @if (filteredType()) {
          <div class="column has-text-right">
            <label class="is-inline-block checkbox">
              <input
                type="checkbox"
                class="selector"
                [ngModel]="onlyRequired"
                (change)="onlyRequired.set($event.target.checked)"
                [disabled]="!!term()" />
              <span class="ml-2">
                Show only {{ filteredType() | pluralize }} included in the default HESTIA system boundary
              </span>
            </label>
          </div>
        }
      </div>
    </div>
  </div>
} @else {
  <div class="is-3 has-text-centered">
    <p class="is-mb-2">
      <fa-icon class="is-pr-2" [icon]="faExclamationTriangle" />
      <span>These logs might be incorrect as the calculations are outdated.</span>
    </p>
    <p class="is-underlined is-size-7"><a (click)="showOutdatedLogs.set(true)">View logs anyway.</a></p>
  </div>
}

<ng-template #blankNodeOriginalValueDetails let-blankNode="blankNode">
  <span class="is-pr-1">The original value was reported using:</span>
  <he-node-link
    class="is-inline-block"
    linkClass="is-dark"
    [node]="$any(blankNode).original[0].methodModel"
    [showExternalLink]="true">
    <span>{{ $any(blankNode).original[0].methodModel.name }}</span>
  </he-node-link>
</ng-template>

<ng-template #blankNodeModels let-data="data">
  <ng-template #notInSystemBoundary>
    <td [attr.colspan]="methodModelsCount()">
      <span>Not in HESTIA system boundary</span>
    </td>
  </ng-template>

  @if (isSystemBoundary(data)) {
    @for (configModel of methodModelsCount() | times; track configModelIndex; let configModelIndex = $index) {
      <td class="blank-node-index-{{ configModelIndex }}">
        @if (getModelsAt(data, configModelIndex); as models) {
          @if ($any(models) | isArray) {
            <div>
              @for (model of $any(models); track model.methodId) {
                <p>
                  <ng-container *ngTemplateOutlet="blankNodeModel; context: { model, data }" />
                </p>
              }
            </div>
          } @else {
            <ng-container *ngTemplateOutlet="blankNodeModel; context: { model: models, data }" />
          }
        } @else {
          -
        }
      </td>
    }
  } @else {
    -
  }
</ng-template>

<ng-template #blankNodeModel let-model="model" let-data="data">
  <span
    class="is-nowrap"
    [class.trigger-popover]="model.showLogs"
    [ngbPopover]="logDetails"
    autoClose="outside"
    popoverClass="is-narrow"
    triggers="manual"
    #p="ngbPopover"
    placement="left"
    container="body"
    (click)="p.isOpen() ? p.close() : model.showLogs ? p.open({ logs: model.logs }) : null">
    <span class="is-capitalized">{{ methodName(model) }}</span>
    @if (model.logs?.methodTier || model.model?.methodTier) {
      <span class="pl-1">[{{ model.logs?.methodTier || model.model?.methodTier }}]</span>
    }

    <span
      class="pl-1 has-text-{{ logColor[model.status] }} trigger-popover"
      [ngbPopover]="logStatusDetails"
      autoClose="outside"
      popoverClass="is-narrow"
      triggers="manual"
      #p1="ngbPopover"
      placement="left"
      container="body"
      (click)="$event.stopPropagation(); p1.isOpen() ? p1.close() : p1.open({ model, data })">
      <fa-icon [icon]="logIcon[model.status]" />
    </span>

    @if (model.model) {
      <span class="pl-1">
        (
        <ng-container *ngTemplateOutlet="docsLink; context: { $implicit: model.model }" />
        )
      </span>
    }
  </span>
</ng-template>

<ng-template #logDetails let-logs="logs">
  <he-node-logs-models-logs [logs]="logs" />
</ng-template>

<ng-template #logStatusDetails let-model="model" let-data="data">
  <he-node-logs-models-logs-status [nodeType]="nodeType()" [model]="model" [data]="" />
</ng-template>

<ng-template #docsLink let-model>
  <a [href]="model.apiDocsPath || model.docPath || model.path" target="_blank" (click)="$event.stopPropagation()">
    <span>Docs</span>
    <fa-icon class="ml-1" [icon]="faExternalLinkAlt" size="sm" />
  </a>
</ng-template>
