@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as v;

$option-padding: 0.5em 1em;
$option-hover-background-color: #e5f2f8;
$option-selected-background-color: v.$primary-lighter;

@mixin option-typography() {
  font-feature-settings: 'calt' off;
  line-height: 128.571%;
}

:host {
  display: flex;
  gap: 0.6em;

  align-items: center;
  padding: $option-padding;
  box-sizing: border-box;
  border-radius: 3px;
  border: transparent 1px solid;
  cursor: pointer;

  &:hover {
    background-color: $option-hover-background-color;
  }

  &.selected {
    background: $option-selected-background-color;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.active {
    border: var(--color-text-light, #bbcdd5) 1px dashed;
    background: $option-selected-background-color;
  }
}

.option-content {
  width: 100%;
  word-break: break-word;
  @include option-typography();
}
