<input (keyup.enter)="checkboxClicked($event)" *ngIf="isMultiple()" [checked]="isChecked" type="checkbox" />

<div class="has-text-secondary is-size-7 | option-content">
  <ng-content></ng-content>
</div>
