<div>
  <a (click)="toggle()">
    @if (loading) {
      <fa-icon [icon]="faSpinner" animation="spin" />
    }
    <fa-icon [icon]="open ? faMinus : faPlus" [class.is-hidden]="loading" />
    <he-node-link class="pl-2" [node]="term()" [showExternalLink]="true"></he-node-link>
  </a>
</div>

@if (!results || results.results?.length) {
  <ul class="ml-2" [class.is-hidden]="!open">
    @for (result of results?.results || []; track result) {
      <li>
        <he-terms-sub-class-of-content [term]="result"></he-terms-sub-class-of-content>
      </li>
    }
  </ul>
}
