svg-icon
  & > svg
    height: inherit
    width: inherit
    vertical-align: middle
  &[animation="spin"] > svg
    animation: spinner 2s linear infinite

@keyframes spinner
  to
    transform: rotate(360deg)
