@use 'bulma/sass/utilities/mixins' as mixins;
@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;
@use '@hestia-earth/ui-framework/src/styles/notification' as n;

he-sites-maps {
  height: 200px;
}

.external-link {
  color: bv.$secondary-hover;
}

$container-border-radius: 2 * bv.$radius;
$error-danger-color: #ffeced;
$error-warning-color: #fff5ec;

.files-form-container {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
  background-color: bv.$white;
}

.files-form-header {
  padding: 10px 12px;
  background-color: bv.$panel-heading-background-color;
  border-top-left-radius: bv.$radius;
  border-top-right-radius: bv.$radius;
}

.properties-container--title,
.property-container {
  padding: 6px 12px;
}

.property-container {
  flex: none;
  flex-grow: 1;
  min-width: 50%;
  max-width: 100%;
  border: 1px solid bv.$grey-lightest;

  &.is-error-danger {
    border-color: bv.$danger;
  }

  &.is-error-warning {
    border-color: bv.$warning;
  }
}

.properties-container {
  &--title {
    border-top: 1px solid bv.$panel-heading-background-color;
    border-bottom: 1px solid bv.$panel-heading-background-color;
    background: #f5f7f9;
  }

  .properties-container {
    border-radius: $container-border-radius;
    border: 1px solid bv.$panel-heading-background-color;
    margin: 4px 0;

    &--title {
      border-top: none;
    }
  }
}

.property-key,
.property-value {
  word-break: break-word;
}

.property-array-container {
  border-radius: $container-border-radius;
  border: 1px solid bv.$grey-lighter;
}

.property-array-number {
  .number-tags {
    border: 1px solid bv.$info;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    .number-tag {
      color: bv.$info;
    }
  }
}

.copy-button {
  visibility: hidden;

  .field-container:hover & {
    visibility: visible;
  }
}

.is-group-error-danger {
  background-color: n.$notification-danger;
}

.is-group-error-warning {
  background-color: n.$notification-warning;
}

.property-error {
  &.is-error-danger {
    background-color: $error-danger-color;

    .field-container + & {
      background-color: transparent;
      color: bv.$red !important;
    }
  }

  &.is-error-warning {
    background-color: $error-warning-color;

    .field-container + & {
      background-color: transparent;
      color: bv.$orange !important;
    }
  }

  &.is-error-danger,
  &.is-error-warning {
    svg-icon,
    fa-icon {
      width: 24px;
    }
  }
}

::ng-deep .property-tooltip {
  background-color: bv.$white;
  color: bv.$black;
  border: 1px solid bv.$grey-lighter;
  z-index: 11;
  max-width: 30vw;
}
