<div class="is-flex is-flex-direction-column is-align-items-flex-start is-align-self-stretch | files-form-container">
  <div
    class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center is-align-self-stretch is-gap-16 px-4 py-2 has-text-secondary | files-form-header"
    (click)="isOpen.set(!isOpen())"
    pointer>
    <div class="is-flex is-gap-8 is-align-items-center">
      @if (nodeProperty()) {
        <he-node-icon [type]="schemaType()" />
        <span class="has-text-weight-bold has-text-secondary is-size-5">{{ schemaType() }}</span>
        @if (nodeProperty().hasError || hasError()) {
          <svg-icon name="far-times-circle" class="has-text-danger is-flex is-align-items-center" />
          <span class="has-text-danger has-text-weight-bold is-italic">Error</span>
        } @else if (nodeProperty().hasWarning || hasWarning()) {
          <svg-icon name="exclamation-triangle" class="has-text-warning is-flex is-align-items-center" />
          <span class="has-text-warning has-text-weight-bold is-italic">Warning</span>
        }
      }
    </div>
    <div class="is-flex is-flex-direction-row is-align-items-center is-gap-16">
      @if (nodeUrl()) {
        <ng-container *ngTemplateOutlet="nodeLink; context: { url: nodeUrl(), nodeType: schemaType() }" />
      }
      <fa-icon [icon]="isOpen() ? faMinus : faPlus" />
    </div>
  </div>

  <div class="is-flex is-flex-direction-column is-align-items-flex-start is-align-self-stretch">
    @if (isOpen()) {
      @if (nodeProperty()?.error) {
        <ng-container
          *ngTemplateOutlet="propertyError; context: { property: nodeProperty(), classes: 'is-my-1 is-px-3' }" />
      }
    }

    <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-align-self-stretch">
      @for (property of properties(); track trackByProperty($index, property)) {
        <ng-container *ngTemplateOutlet="showProperty; context: { $implicit: property }" />
      }
    </div>

    @if (isOpen()) {
      <ng-container *ngTemplateOutlet="propertyMap; context: { $implicit: nodeProperty() }" />
    }
  </div>

  <ng-content />
</div>

<ng-template #propertyKeyTooltip let-property="property">
  <markdown [data]="property.schema.description" />
</ng-template>

<ng-template #propertyKey let-property="property">
  @if (property.schema?.description) {
    <span
      class="property-key trigger-popover"
      [ngbTooltip]="propertyKeyTooltip"
      [tooltipContext]="{ property }"
      tooltipClass="property-tooltip"
      placement="bottom-left"
      container="body">
      <span>{{ property.key }}</span>
    </span>
  } @else {
    <span>{{ property.key }}</span>
  }
</ng-template>

<ng-template #showProperty let-property>
  @if ((isOpen() || property.closedVisible) && !property.isHidden) {
    @if (property.properties.length) {
      <div class="is-flex is-flex-direction-column is-flex-wrap-wrap w-100 | properties-container">
        <div
          class="is-flex is-flex-direction-row is-justify-content-space-between is-gap-4 has-text-secondary w-100 | properties-container--title"
          (click)="property.isOpen = !property.isOpen"
          pointer
          [class.is-open]="property.isOpen"
          [class.is-group-error-danger]="property.hasError"
          [class.is-group-error-warning]="property.hasWarning">
          <div class="is-flex is-gap-8 has-text-weight-bold">
            <!-- @if (property.schemaType === SchemaType.Term) {
              <he-node-icon [type]="property.schemaType" />
            } -->
            <ng-container *ngTemplateOutlet="propertyKey; context: { property }" />
          </div>
          <fa-icon [icon]="property.isOpen ? faMinus : faPlus" />
        </div>
        @if (property.isOpen) {
          @if (property.error) {
            <ng-container *ngTemplateOutlet="propertyError; context: { property, classes: 'is-my-1 is-px-3' }" />
          }
          @if (property.isArray) {
            <div class="py-2 px-3 w-100">
              @for (prop2 of property.properties; track trackByProperty($index, prop2)) {
                @if (prop2.key) {
                  <div class="pt-2 my-4 | property-array-container" [id]="prop2.fullKey + '_' + prop2.id">
                    <div class="property-array-number ml-2">
                      <div class="is-flex is-justify-content-center is-align-items-center has-addons number-tags">
                        <span class="number-tag">{{ prop2.key }}</span>
                      </div>
                    </div>
                    @if (prop2.error) {
                      <ng-container
                        *ngTemplateOutlet="propertyError; context: { property: prop2, classes: 'is-my-1 is-px-3' }" />
                    }
                    <div class="p-3">
                      <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-align-self-stretch">
                        @for (prop3 of prop2.properties; track trackByProperty($index, prop3)) {
                          <ng-container *ngTemplateOutlet="showProperty; context: { $implicit: prop3 }" />
                        }
                      </div>
                    </div>
                  </div>
                }
              }
            </div>
          } @else {
            <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-align-self-stretch">
              @for (prop2 of property.properties; track trackByProperty($index, prop2)) {
                <ng-container *ngTemplateOutlet="showProperty; context: { $implicit: prop2 }" />
              }
            </div>
          }
        }
      </div>
    } @else {
      <div
        class="is-flex is-flex-direction-column is-gap-4 | property-container"
        [class.is-error-danger]="property.hasError"
        [class.is-error-warning]="property.hasWarning">
        <div
          class="is-flex is-flex-direction-row is-align-items-center is-justify-content-space-between is-gap-4 | field-container">
          @if (property.key) {
            <div class="is-flex is-align-items-center is-flex-wrap-wrap is-gap-4">
              <div class="is-flex has-text-secondary">
                <ng-container *ngTemplateOutlet="propertyKey; context: { property }" />
                <span>:</span>
              </div>

              <span class="is-flex is-size-7 | property-value">
                {{ property.value }}
              </span>

              <div class="copy-button">
                <he-clipboard [value]="property.value" [hideText]="true" [icon]="farClone"></he-clipboard>
              </div>
            </div>

            <div class="is-flex is-gap-8">
              @if (property.externalUrl?.url) {
                <a
                  [href]="property.externalUrl.url + (property.externalUrl.urlParamValue ? property.value : '')"
                  target="_blank"
                  [title]="property.externalUrl.title"
                  [ngClass]="{ 'is-info': property.key === 'type' }"
                  [attr.disabled]="property.externalUrl.urlParamValue && !property.value ? true : null">
                  <fa-icon [icon]="property.externalUrl.icon || faExternalLinkAlt" />
                </a>
              }
            </div>
          }
        </div>
        @if (property.hasError || property.hasWarning) {
          <ng-container *ngTemplateOutlet="propertyError; context: { property }" />
        }
      </div>
    }
  }
</ng-template>

<ng-template #propertyError let-property="property" let-classes="classes">
  @if (property.error) {
    <div
      class="is-flex is-flex-direction-row is-flex-wrap-wrap is-align-items-center is-gap-8 is-size-6 is-m-0 w-100 has-text-grey {{
        classes
      }} | property-error"
      [class.is-error-danger]="property.hasError"
      [class.is-error-warning]="property.hasWarning">
      @if (property.hasError) {
        <fa-icon class="has-text-danger is-py-1" [icon]="farCircleXmark" size="xl" />
      } @else {
        <svg-icon class="has-text-warning is-pt-1" name="exclamation-triangle" />
      }
      <div [innerHTML]="property.error.message"></div>
      @if (property.error.index >= 0) {
        @if (property.hasWarning) {
          <a (click)="resolveError(property)">
            <fa-icon class="pr-2" [icon]="faCheck" />
            <span>Resolved</span>
          </a>
        }
      }
    </div>
  }
</ng-template>

<ng-template #propertyMap let-property>
  @if (showMap()) {
    <div class="is-flex is-flex-direction-column is-flex-wrap-wrap w-100 | properties-container">
      <div
        class="is-flex is-flex-direction-row is-justify-content-space-between is-gap-4 w-100 | properties-container--title"
        (click)="mapVisible.set(!mapVisible())"
        pointer
        [class.is-open]="mapVisible()">
        <span class="is-size-6">View on Map</span>
        <fa-icon [icon]="mapVisible() ? faMinus : faPlus" />
      </div>
      @if (mapVisible()) {
        <he-sites-maps [sites]="[node()]" [showNotice]="false" />
      }
    </div>
  }
</ng-template>

<ng-template #nodeLink let-url="url" let-nodeType="nodeType">
  <a class="external-link" [href]="url" target="_blank">
    <span class="is-hidden-mobile">View</span>
    <span class="is-hidden-mobile is-pl-1">{{ nodeType }}</span>
    <fa-icon class="is-pl-2" [icon]="faExternalLinkAlt" />
  </a>
</ng-template>
