<div class="panel-block is-block">
  <div>
    <div class="content data-table-container">
      @for (node of nodes(); track node; let nodeIndex = $index) {
        <div class="list-select">
          <he-node-link class="is-inline-block" [node]="node" [showExternalLink]="true">
            <span>{{ nodeIndex + 1 }}. {{ node.name }}</span>
          </he-node-link>
          <a class="ml-2 has-text-danger is-size-7" (click)="remove(nodeIndex)">
            <fa-icon [icon]="faTimes" />
            <span class="pl-2">Remove</span>
          </a>
        </div>
      }
    </div>
  </div>
</div>
