<span #valueNode [class.is-hidden]="hideText()">{{ value() }}</span>

<span
  [class]="clipboardClass()"
  pointer
  (click)="!disabled() && onClick($event)"
  ngbTooltip="Copied!"
  triggers="manual"
  placement="bottom"
  container="body"
  #t="ngbTooltip">
  <fa-icon [icon]="icon()" [size]="size()" [rotate]="rotate()" />
</span>
