<app-node-suggest-form [nodeType]="nodeType"></app-node-suggest-form>

<app-node-list [nodeType]="nodeType"></app-node-list>

<he-impact-assessments-graph [impactAssessments]="nodes()" [dataState]="dataState"></he-impact-assessments-graph>
