@if (content()) {
  <span class="has-text-secondary" [ngbTooltip]="content()" placement="bottom" container="body">
    <ng-container *ngTemplateOutlet="iconTemplate() || defaultIconTemplate"></ng-container>
  </span>
}

<ng-template #defaultIconTemplate>
  <fa-icon [icon]="faQuestionCircle" size="sm" />
</ng-template>
