<div class="p-3">
  @if (termTypes().length > 1) {
    <div class="field has-addons pt-2 px-3">
      <div class="control">
        <span class="button is-small is-static is-secondary">Select a Term Type</span>
      </div>
      <div class="control is-expanded">
        <div class="select is-small is-fullwidth is-secondary">
          <select (change)="selectedTermType.set($event.target.value)">
            @for (termType of termTypes(); track termType) {
              <option [value]="termType">{{ termType | keyToLabel }}</option>
            }
          </select>
        </div>
      </div>
    </div>
  }

  <div class="is-mt-1">
    <he-chart class="is-relative" [data]="chartData()" [config]="chartConfig"></he-chart>
  </div>
</div>
