<div [style.bottom]="bottom()" class="shelf-dialog | is-fixed is-overflow-hidden">
  <header class="shelf-dialog__header | px-4 py-2 is-flex is-rounded has-text-white is-align-items-center">
    <div class="is-flex-grow-1">
      <ng-container [ngTemplateOutlet]="headerTemplate() ?? defaultTemplate" />
    </div>
    <button (click)="showContent.set(!showContent())" class="ml-3 has-text-white | dialog-btn">
      <svg-icon class="is-size-4" [name]="toggleIcon()" />
    </button>
    <button (click)="closed.emit()" class="ml-3 has-text-white | dialog-btn">
      <svg-icon class="is-size-4" name="far-close" />
    </button>
  </header>
  <div [class.max-h-0]="!showContent()" class="shelf-dialog__content | has-background-white is-overflow-hidden">
    <div>
      <div class="p-4">
        <ng-content />
      </div>
    </div>
  </div>
</div>

<ng-template #defaultTemplate>
  {{ title() }}
</ng-template>
