@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as v;
@use 'bulma/sass/utilities/mixins' as mixins;

.shelf-dialog {
  min-width: 360px;
  right: 10%;
  border-radius: 0.5em 0.5em 0 0;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
  z-index: 99;

  &__header {
    background: v.$secondary-hover;
  }

  &__content {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 125ms;

    & > * {
      overflow: hidden;
    }
  }

  .dialog-btn {
    background: transparent;
    border: none;
    width: 1.5rem;
    height: 1.5rem;

    fa-icon {
      font-size: 1.5rem;
    }
  }
}

.max-h-0 {
  grid-template-rows: 0fr;
}

@include mixins.mobile {
  .shelf-dialog {
    width: 100dvw;
    right: 0;
    border-radius: 0;
  }
}
