<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ title() }}</p>
      <button class="delete" aria-label="close" (click)="close()"></button>
    </header>
    <section class="modal-card-body">
      <p class="mb-2">Please select the type of issue from the list below to start:</p>

      <div class="field is-horizontal my-3">
        <div class="field-label is-normal">
          <label class="label" for="repository">Category</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <div class="select is-multiple is-fullwidth">
                <select
                  [ngModel]="repository()"
                  (change)="repository.set($event.target.value)"
                  name="repository"
                  required>
                  <option [ngValue]="undefined">Select from the list</option>
                  @for (repo of repositories(); track repo) {
                    <option [value]="repo">
                      @switch (repo) {
                        @case (Repository.glossary) {
                          Glossary of terms / lookup issues
                        }
                        @case (Repository.models) {
                          Calculation issues
                        }
                        @case (Repository.orchestrator) {
                          Orchestration issues
                        }
                        @case (Repository.aggregation) {
                          Aggregated Data issues
                        }
                        @case (Repository.community) {
                          UI/UX or API issues
                        }
                        @case (Repository.poorenemeck) {
                          Conversion from P&N Spreadsheet
                        }
                        @case (Repository.schema) {
                          Schema issues
                        }
                        @default {
                          Other issues
                        }
                      }
                    </option>
                  }
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      @if (repository()) {
        <div class="field is-horizontal my-3">
          <div class="field-label is-normal">
            <label class="label" for="template">Issue</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control is-expanded">
                <div class="select is-multiple is-fullwidth">
                  <select [ngModel]="template()" (change)="template.set($event.target.value)" name="template" required>
                    <option [value]="undefined">Select from the list</option>
                    @for (t of Template | keyvalue; track t) {
                      <option [value]="t.value">
                        @switch (t.value) {
                          @case (Template.bug) {
                            I found a bug
                          }
                          @case (Template.feature) {
                            I would like a new feature
                          }
                        }
                      </option>
                    }
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      }

      @if (repository() && template() && issueUrl()) {
        <p>
          <span>Please report the issue on Gitlab using</span>
          <a class="pl-1" [href]="issueUrl()" target="_blank">this link</a>
          .
        </p>
      }
    </section>
  </div>
</div>
