<he-popover [message]="message()" [content]="content()" [data]="data" [position]="position()" [class]="popoverClass()">
  <ng-content></ng-content>

  <ng-container actions>
    <button class="button is-small is-primary mr-2" (click)="$event.stopPropagation(); confirm()">
      <span>Confirm</span>
    </button>
  </ng-container>
</he-popover>
