@use './variables' as hv;

@import '@angular/cdk/overlay-prebuilt.css';
@import '@hestia-earth/ui-framework/src/styles';
@import './tags-input/styles';
@import './svg-icons/styles';

@import 'bulma-switch/src/sass/index';

// --- Bootstrap

.visually-hidden {
  display: none;
}

ngb-typeahead-window.dropdown-menu {
  background-color: $dropdown-content-background-color;
  border-radius: $dropdown-content-radius;
  box-shadow: $dropdown-content-shadow;
  margin-top: 2px;
  max-height: 360px;
  min-width: 300px;
  overflow-y: auto;
  padding-bottom: $dropdown-content-padding-bottom;
  padding-top: $dropdown-content-padding-top;
  width: 100%;

  &.is-small {
    max-width: 300px;
  }

  .dropdown-item {
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: $dropdown-item-hover-background-color;
      color: $dropdown-item-hover-color;
    }

    &.active {
      background-color: $dropdown-item-active-background-color;
      color: $dropdown-item-active-color;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

ngb-highlight {
  display: inline-block;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  width: 100%;
  white-space: pre-wrap;

  .ngb-highlight {
    display: inline !important;
  }
}

$tooltip-padding: 10px 18px;
$tooltip-padding-narrow: 8px 12px;

ngb-tooltip-window {
  background-color: $blue;
  border-radius: $radius-large;
  color: $white;
  font-size: $size-6;
  line-height: $size-5;
  padding: $tooltip-padding !important;
  max-width: 50vw;
  z-index: 1060;

  &.is-narrow {
    border-radius: $radius;
    font-size: $size-7;
    line-height: $size-6;
    padding: $tooltip-padding-narrow !important;
  }
}

$popover-border-width: 1px;
$popover-border-color: $blue;
$popover-header-bg: $white;
$popover-body-color: $blue;
$popover-arrow-width: 1rem;
$popover-arrow-height: 0.5rem;
$popover-arrow-border: $popover-border-color;

ngb-popover-window {
  font-size: $size-6;
  line-height: $size-5;
  max-width: 50vw;
  z-index: 1050;

  .popover-header {
    background-color: $popover-header-bg;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: $radius-large;
    border-top-right-radius: $radius-large;
    font-size: $size-5;
    margin-bottom: 0;
    padding: 0.5rem 0.75rem;

    + .popover-body {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .popover-body {
    background-color: $popover-body-color;
    border-radius: $radius-large;
    color: $white;
    padding: $tooltip-padding;
    overflow: visible;
  }

  &.is-narrow-width {
    max-width: 25vw;
  }

  &.is-narrow {
    font-size: $size-7;
    line-height: $size-6;

    .popover-header {
      font-size: $size-6;
    }

    .popover-body {
      border-radius: $radius;
      padding: $tooltip-padding-narrow;

      .table-container {
        max-height: 300px;
        overflow-y: auto;
      }
    }
  }

  .popover-arrow {
    display: block;
    width: $popover-arrow-width;
    height: $popover-arrow-height;

    &:before,
    &:after {
      position: absolute;
      display: block;
      content: '';
      border-color: transparent;
      border-style: solid;
      border-width: 0;
    }
  }

  &.bs-popover-top,
  &.bs-popover-auto[data-popper-placement^='top'] {
    > .popover-arrow {
      bottom: calc($popover-arrow-height * -1 - $popover-border-width);

      &:after {
        border-width: $popover-arrow-height calc($popover-arrow-width * 0.5) 0;
        bottom: $popover-border-width;
        border-top-color: $popover-body-color;
      }
    }
  }

  &.bs-popover-end,
  &.bs-popover-auto[data-popper-placement^='right'] {
    > .popover-arrow {
      left: calc($popover-arrow-height * -1 - $popover-border-width);
      width: $popover-arrow-height;
      height: $popover-arrow-width;

      &:after {
        border-width: calc($popover-arrow-width * 0.5) $popover-arrow-height calc($popover-arrow-width * 0.5) 0;
        left: $popover-border-width;
        border-right-color: $popover-body-color;
      }
    }
  }

  &.bs-popover-bottom,
  &.bs-popover-auto[data-popper-placement^='bottom'] {
    > .popover-arrow {
      top: calc($popover-arrow-height * -1 - $popover-border-width);

      &:after {
        border-width: 0 calc($popover-arrow-width * 0.5) $popover-arrow-height;
        top: $popover-border-width;
        border-bottom-color: $popover-body-color;
      }
    }

    .popover-header:before {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: $popover-arrow-width;
      margin-left: calc($popover-arrow-width * -0.5);
      content: '';
      border-bottom: $popover-border-width solid $popover-header-bg;
    }
  }

  &.bs-popover-start,
  &.bs-popover-auto[data-popper-placement^='left'] {
    > .popover-arrow {
      right: calc($popover-arrow-height * -1 - $popover-border-width);
      width: $popover-arrow-height;
      height: $popover-arrow-width;

      &:after {
        border-width: calc($popover-arrow-width * 0.5) 0 calc($popover-arrow-width * 0.5) $popover-arrow-height;
        right: $popover-border-width;
        border-left-color: $popover-body-color;
      }
    }
  }
}

// HESTIA

.search-form {
  input {
    + a {
      pointer-events: all !important;

      &:hover {
        color: $input-icon-active-color !important;
      }
    }
  }

  &.is-rounded {
    input {
      border-top-left-radius: $radius-large !important;
      border-bottom-left-radius: $radius-large !important;

      + a {
        pointer-events: all !important;

        &:hover {
          color: $input-icon-active-color !important;
        }
      }
    }

    button {
      border-top-right-radius: $radius-large !important;
      border-bottom-right-radius: $radius-large !important;
    }
  }
}

.search-input + a {
  pointer-events: all !important;

  &:hover {
    color: $input-icon-active-color !important;
  }
}

.copy-clipboard {
  position: absolute;
  right: 10px;
  top: 10px;
}

.trigger-popover {
  > span,
  > fa-icon {
    &:first-child {
      cursor: help !important;
    }
  }

  > span:first-child {
    text-decoration-color: $black;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: from-font;
    text-underline-offset: 2px;
  }

  > fa-icon:first-child {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1px;
      border-bottom: 1px dotted $black;
    }
  }
}

.col-sep {
  border-right: 1px solid #f1f3f4;
  display: inline-block;
  height: 100%;
  padding-left: 1px !important;
  padding-right: 0px !important;
  vertical-align: middle;
}

// content-screen

:root {
  --content-screen-padding-min-size: 1rem;
  --content-screen-padding-max-size: 100%;

  @include desktop-only {
    --content-screen-padding-container-width: #{$desktop - $container-offset};
  }

  @include widescreen-only {
    --content-screen-padding-container-width: #{$widescreen - $container-offset};
  }

  @include fullhd {
    --content-screen-padding-container-width: #{$fullhd - $container-offset};
  }
}

@mixin content-screen-padding($prop) {
  & {
    #{$prop}: var(--content-screen-padding-min-size);
  }

  @include desktop {
    #{$prop}: clamp(
      var(--content-screen-padding-min-size),
      ((100vw - var(--content-screen-padding-container-width)) / 2),
      var(--content-screen-padding-max-size)
    );
  }
}

.content-screen-padding {
  @include content-screen-padding('padding-inline-end');
  @include content-screen-padding('padding-inline-start');
}

.content-screen-padding-end {
  @include content-screen-padding('padding-inline-end');
}

.content-screen-padding-start {
  @include content-screen-padding('padding-inline-start');
}
