<div class="columns is-variable is-align-items-center is-2 is-m-0">
  <div class="column">
    @if (hasData() && selectedView() === View.table) {
      <button class="button is-small is-ghost" (click)="showDownload()">
        <fa-icon [icon]="faDownload" size="lg" />
      </button>
    }
  </div>
  @if (selectedView() === View.table) {
    <div class="column is-narrow">
      <he-search-extend
        class="is-secondary is-small"
        placeholder="Filter terms by name"
        (search)="filterTerm.set($event)" />
    </div>
  }
  @if (views()?.length > 1) {
    <div class="column is-narrow">
      <div class="field has-addons">
        @for (view of views(); track view) {
          <div class="control">
            <button
              class="button is-small"
              [class.is-selected]="selectedView() === view"
              (click)="selectedView.set(view)">
              <span class="icon is-small">
                <fa-icon [icon]="viewIcon[view]" aria-hidden="true" />
              </span>
              <span class="is-hidden-mobile">{{ view }}</span>
            </button>
          </div>
        }
      </div>
    </div>
  }
</div>

@if (isNodeKeyAllowed()) {
  @switch (selectedView()) {
    @case (View.table) {
      <div class="is-px-3 is-pb-3">
        @if (hasData()) {
          <he-data-table class="mb-1 is-small" [small]="true" maxHeight="320">
            <table class="table is-fullwidth is-narrow is-striped">
              <thead>
                @if (dataKeys().length > 1) {
                  <tr class="has-text-weight-bold">
                    <th class="width-auto"></th>
                    <th></th>
                    <th></th>
                    @for (dataKey of dataKeys(); track dataKey; let dataKeyLast = $last) {
                      @if (data()[dataKey]?.length) {
                        <th [attr.colspan]="data()[dataKey].length" [class.has-border-right]="!dataKeyLast">
                          @if (dataKey) {
                            <span>{{ dataKey | keyToLabel }}</span>
                          }
                        </th>
                      }
                    }
                  </tr>
                }
                <tr class="has-text-weight-semibold">
                  <th class="width-auto has-border-right is-py-0">
                    @if (enableFilterMethodModel()) {
                      <div class="select is-small">
                        <select (change)="updateSelectedMethodModel($event.target.value)">
                          <option [ngValue]="undefined">Filter Model</option>
                          @for (term of methodModels(); track term) {
                            <option [ngValue]="term">{{ term.name }}</option>
                          }
                        </select>
                      </div>
                    }
                  </th>
                  <th class="has-border-right"></th>
                  <th class="has-border-right"></th>
                  @for (dataKey of dataKeys(); track dataKey; let dataKeyLast = $last) {
                    @for (node of data()[dataKey]; track node.value.term.name; let nodeLast = $last) {
                      <th
                        [attr.title]="node.value.term.name"
                        [class.has-border-right]="dataKeys().length > 1 && !dataKeyLast && nodeLast">
                        <he-node-link [node]="node.value.term">
                          <span
                            [innerHtml]="
                              node.value.term.name | ellipsis: 30 | compound: node.value.term.termType
                            "></span>
                        </he-node-link>
                      </th>
                    }
                  }
                </tr>
                <tr class="is-italic has-text-weight-semibold">
                  <th class="width-auto has-border-right"></th>
                  <th class="has-border-right">
                    <a [href]="schemaBaseUrl + '/ImpactAssessment#functionalUnit'" target="_blank">Functional unit</a>
                  </th>
                  <th class="has-border-right">
                    <a [href]="schemaBaseUrl + '/ImpactAssessment#product'" target="_blank">Product</a>
                  </th>
                  @for (dataKey of dataKeys(); track dataKey; let dataKeyLast = $last) {
                    @for (node of data()[dataKey]; track node.value.term.name; let nodeLast = $last) {
                      <th
                        [attr.title]="node.value.term.units"
                        [class.has-border-right]="dataKeys().length > 1 && !dataKeyLast && nodeLast">
                        <span [innerHtml]="node.value.term.units | compound: node.value.term.termType"></span>
                        <he-terms-units-description class="is-inline-block is-ml-2" [term]="node.value.term" />
                      </th>
                    }
                  }
                </tr>
              </thead>
              <tbody>
                @for (
                  impactAssessment of impactAssessments();
                  track trackById(impactIndex, impactAssessment);
                  let impactIndex = $index
                ) {
                  <tr>
                    <td class="width-auto has-border-right" [attr.title]="impactName(impactAssessment)">
                      <he-node-link [node]="impactAssessment">
                        <span>{{ impactIndex + 1 }}. {{ impactName(impactAssessment) }}</span>
                      </he-node-link>
                    </td>
                    <td class="has-border-right" [attr.title]="impactAssessment.product?.term?.units">
                      <span>1 {{ impactAssessment.product?.term?.units }}</span>
                    </td>
                    <td class="has-border-right" [attr.title]="impactAssessment.product?.term?.name">
                      @if (impactAssessment.product?.term) {
                        <he-node-link [node]="impactAssessment.product.term">
                          <span>{{ impactAssessment.product.term.name | ellipsis: 30 }}</span>
                        </he-node-link>
                      }
                    </td>
                    @for (dataKey of dataKeys(); track dataKey; let dataKeyLast = $last) {
                      @for (node of data()[dataKey]; track node.value.term.name; let nodeLast = $last) {
                        <td
                          class="is-nowrap"
                          [class.has-border-right]="dataKeys().length > 1 && !dataKeyLast && nodeLast">
                          @if (node.value.values[impactAssessment['@id']]) {
                            <span
                              class="trigger-popover"
                              [ngbPopover]="details"
                              autoClose="outside"
                              popoverClass="is-narrow is-overflow-visible"
                              placement="left"
                              container="body"
                              [popoverContext]="{
                                data: node.value.values[impactAssessment['@id']],
                                impactAssessment
                              }">
                              <span pointer>
                                {{
                                  propertyValue(
                                    node.value.values[impactAssessment['@id']].value,
                                    node.value.term['@id']
                                  )
                                    | precision: 3
                                    | default: '-'
                                }}
                              </span>
                              <he-blank-node-state
                                class="ml-1"
                                [dataState]="dataState()"
                                [node]="node.value.values[impactAssessment['@id']].node"
                                key="value"
                                [state]="impactAssessment.aggregated ? 'aggregated' : undefined" />
                            </span>
                          } @else {
                            <span>-</span>
                          }
                        </td>
                      }
                    }
                  </tr>
                }
              </tbody>
            </table>
          </he-data-table>
          <he-blank-node-state-notice [dataState]="dataState()" />
        } @else {
          <div class="is-pt-3 has-text-centered">
            <span>No data available</span>
            <span class="is-pl-1" [class.is-hidden]="!filterTerm()">matching your search criteria</span>
            <span>.</span>
            @if (showSwitchToRecalculated()) {
              <span>
                Switch to
                <code>recalculated</code>
                version.
              </span>
            }
          </div>
        }
      </div>
    }
    @case (View.chart) {
      <he-impact-assessments-indicators-chart [key]="nodeKey()" [filterTermTypes]="filterTermTypes()" />
    }
    @case (View.breakdown) {
      <he-impact-assessments-indicator-breakdown-chart
        [impactAssessment]="selectedNode()"
        [indicators]="selectedRecalculatedValues()" />
    }
    @case (View.logs) {
      @if (impactAssessments().length > 1) {
        <div class="field has-addons pt-2 px-3">
          <div class="control">
            <span class="button is-small is-static is-secondary">Select an Impact Assessment</span>
          </div>
          <div class="control is-expanded">
            <div class="select is-small is-fullwidth is-secondary">
              <select (change)="selectIndex($event)">
                @for (value of impactAssessments(); track value; let i = $index) {
                  <option [value]="i">{{ i + 1 }}. {{ impactName(value) }}</option>
                }
              </select>
            </div>
          </div>
        </div>
      }
      @if (selectedNode()) {
        <he-node-logs-models
          [node]="selectedNode()"
          [nodeKey]="nodeKey()"
          [filterTermTypes]="filterTermTypes()"
          [originalValues]="selectedOriginalValues()"
          [recalculatedValues]="selectedRecalculatedValues()"
          [noDataMessage]="noDataMessage()" />
      }
    }
  }
}

<ng-template #details let-node="impactAssessment" let-data="data">
  <p>
    <b>
      @if (data.cycle) {
        <span>{{ cycleLabel(node.cycle) }}</span>
      }
      @if (!data.cycle) {
        <span>{{ data.name }}</span>
      }
    </b>
  </p>
  <he-node-value-details
    class="is-overflow-visible"
    [data]="data"
    [dataState]="dataState()"
    [nodeType]="node['@type']"
    [dataKey]="nodeKey()" />
</ng-template>
