@if (property().term) {
  @if (showTermName()) {
    <a class="pr-2" [routerLink]="['/', 'term', property().term['@id']]" target="_blank">
      <b>{{ property().term.name }}:</b>
    </a>
  }
  @if (property().key?.name) {
    <span class="pr-1">
      <span>{{ property().key.name }}</span>
      @if (hasKey('value')) {
        ,
        <span class="has-text-underline">value</span>
        :
      }
    </span>
  }
  @if (hasKey('value')) {
    <ng-container
      *ngTemplateOutlet="
        property().value.toString().indexOf('http') === 0 ? externalLink : defaultValue;
        context: { $implicit: property().value }
      "></ng-container>
    @if (hasKey('sd')) {
      <span class="px-2">±</span>
      <ng-container *ngTemplateOutlet="defaultValue; context: { $implicit: property().sd }"></ng-container>
    }
    @if (hasKey('min') && hasKey('max')) {
      <span class="is-pl-2">(</span>
      <ng-container *ngTemplateOutlet="defaultValue; context: { $implicit: property().min }"></ng-container>
      <span class="is-px-2">-</span>
      <ng-container *ngTemplateOutlet="defaultValue; context: { $implicit: property().max }"></ng-container>
      <span>)</span>
    }
  }
  @if (property().term.units) {
    <span class="is-ml-1" [innerHtml]="property().term.units | compound: property().term.termType"></span>
    <he-terms-units-description class="is-inline-block is-ml-2" [term]="property().term"></he-terms-units-description>
  }
}

<ng-template #defaultValue let-value>
  @if (isEmpty(value)) {
    <span>{{ 'N/A' }}</span>
  } @else {
    @if (isNumber(value)) {
      <span>{{ value | precision: 3 }}</span>
    } @else {
      <span>{{ value }}</span>
    }
  }
</ng-template>

<ng-template #externalLink let-value>
  <a [href]="value" target="_blank">
    <span>{{ value }}</span>
    <fa-icon class="is-ml-2" [icon]="faExternalLinkAlt" size="sm" />
  </a>
</ng-template>
