@if (hasValue()) {
  <a class="is-dark" [href]="schemaBaseUrl + '/' + type() + '#' + key()" target="_blank">
    <b>{{ key() }}</b>
  </a>
  <span class="pr-2">:</span>
  @if (isArray()) {
    <div class="is-overflow-y-auto is-pl-2 | array-container">
      @for (v of value(); track v) {
        @if (isBlankNode(v)) {
          <div>
            <a class="is-dark" [href]="valueLink(v.term)">{{ v.term.name || v.term['@id'] }}</a>
            <span>:</span>
            @if (!isUndefined(v.value)) {
              <span class="is-pl-2">
                <ng-container *ngTemplateOutlet="valueContent; context: { value: v.value }"></ng-container>
              </span>
            }
            @if (!isUndefined(v.min) || !isUndefined(v.max)) {
              <small class="is-pl-1">({{ minMaxValue(v.min, v.max) }})</small>
            }
            <he-blank-node-state
              class="pl-1"
              [node]="v"
              [nodeType]="nodeType()"
              [dataState]="dataState()"
              [dataKey]="dataKey()"
              key="value"
              linkClass="is-dark"></he-blank-node-state>
          </div>
        } @else {
          <p>
            <ng-container *ngTemplateOutlet="valueContent; context: { value: v }"></ng-container>
          </p>
        }
      }
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="valueContent; context: { value: value() }"></ng-container>
    <he-blank-node-state
      class="pl-1"
      [node]="node()"
      [nodeType]="nodeType()"
      [dataState]="dataState()"
      [dataKey]="dataKey()"
      [key]="key()"
      linkClass="is-dark"></he-blank-node-state>
  }
} @else if (!!defaultValue()) {
  <span>{{ defaultValue() }}</span>
}

<ng-template #valueContent let-v="value">
  <span class="is-inline-block is-nowrap" [innerHtml]="toString(v)"></span>
</ng-template>
