<div class="table-container">
  <table class="table is-dark is-fullwidth">
    <tbody>
      @if (requirements()) {
        @for (key of requirementKeys(); track key) {
          <ng-container *ngTemplateOutlet="logLine; context: { key, value: requirements()[key] }" />
        }
      }

      @if (logs()?.logs) {
        @for (key of logs().logs | keyvalue; track key) {
          <ng-container *ngTemplateOutlet="logLine; context: key" />
        }
      }
    </tbody>
  </table>
</div>

@if (logs()?.missingLookups?.length) {
  <div class="it-mt-2">
    <p>Data missing (might be optional):</p>
    <div class="table-container data-table-container">
      <table class="table is-dark is-fullwidth is-striped">
        <thead>
          <tr>
            <th class="has-text-white">
              <span>Filename</span>
            </th>
            <th class="has-text-white">
              <span>Column Title</span>
            </th>
            <th class="has-text-white">
              <span>Row (term.id)</span>
            </th>
          </tr>
        </thead>
        <tbody class="has-text-white">
          @for (data of logs().missingLookups; track dataIndex; let dataIndex = $index) {
            <tr>
              <td>{{ data.filename }}</td>
              <td>{{ data.column }}</td>
              <td>{{ data.termId }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}

<ng-template #sortColumn let-column="column" let-sorting="sorting">
  <a class="is-p-1 has-text-white" (click)="toggleSort(column, sorting)">
    @if (sorting.sortBy === column) {
      @if (sorting.sortOrder === 'asc') {
        <svg-icon name="sort-up" />
      } @else {
        <svg-icon name="sort-down" />
      }
    } @else {
      <svg-icon name="sort" />
    }
  </a>
</ng-template>

<ng-template #logLineArray let-value="value" let-sorting="sorting">
  <table class="table is-dark is-bordered is-striped">
    @if (value[0] | isObject) {
      <thead>
        <tr>
          @for (v of value[0] | keyvalue; track v.key) {
            <th class="has-text-white">
              <div class="is-nowrap">
                {{ v.key }}
                <ng-container *ngTemplateOutlet="sortColumn; context: { column: v.key, sorting }" />
              </div>
            </th>
          }
        </tr>
      </thead>
    }
    <tbody>
      @for (v of value | sortBy: sorting.sortBy : sorting.sortOrder; track i; let i = $index) {
        <tr>
          @if (v | isObject) {
            @for (vv of v | keyvalue; track vv.value) {
              <td>{{ vv.value }}</td>
            }
          } @else {
            <td>{{ v }}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</ng-template>

<ng-template #logLineValue let-key="key" let-value="value">
  @if (requirementLinkedNode(key, value); as linkedNode) {
    <he-node-link
      class="is-inline-block is-align-middle"
      linkClass="is-dark"
      [node]="linkedNode"
      [showExternalLink]="true" />
  } @else {
    <span class="is-inline-block is-align-middle">{{ value }}</span>
  }
</ng-template>

<ng-template #logLine let-key="key" let-value="value">
  <tr>
    <td class="has-border-right | copy-log">
      <span class="is-inline-block is-align-middle">
        @if (parseLogCompleteness(key); as completeness) {
          <span>Data completeness for</span>
          <code class="is-mx-1">{{ completeness.key }}</code>
          <span>must be</span>
          <code class="is-mx-1">{{ completeness.value }}</code>
        } @else {
          @switch (key) {
            @default {
              {{ key | keyToLabel }}
            }
            @case ('property_id') {
              Property Term &#64;id
            }
            @case ('product_id') {
              Product Term &#64;id
            }
            @case ('crop_product_id') {
              Crop Product Term &#64;id
            }
            @case ('input_id') {
              Input Term &#64;id
            }
            @case ('node_type_allowed') {
              <span>Is the current</span>
              <code class="is-mx-1">Node</code>
              <span>allowed to run this model</span>
            }
            @case ('siteType_allowed') {
              <span>Is the current</span>
              <code class="is-mx-1">siteType</code>
              <span>allowed to run this model</span>
            }
            @case ('product_id_allowed') {
              <span>Are any of the Product</span>
              <code class="is-mx-1">&#64;id</code>
              <span>allowed to run this model</span>
            }
            @case ('product_termType_allowed') {
              <span>Are any of the Product</span>
              <code class="is-mx-1">termType</code>
              <span>allowed to run this model</span>
            }
            @case ('input_id_allowed') {
              <span>Are any of the Input</span>
              <code class="is-mx-1">&#64;id</code>
              <span>allowed to run this model</span>
            }
            @case ('input_termType_allowed') {
              <span>Are any of the Input</span>
              <code class="is-mx-1">termType</code>
              <span>allowed to run this model</span>
            }
            <!-- Deprecated -->
            @case ('primary_product_id_allowed') {
              <span>Is the current primary product</span>
              <code class="is-mx-1">&#64;id</code>
              <span>allowed to run this model</span>
            }
            @case ('primary_product_termType_allowed') {
              <span>Is the current primary product</span>
              <code class="is-mx-1">termType</code>
              <span>allowed to run this model</span>
            }
            @case ('geospatial_data') {
              Has geospatial data necessary to run this model
            }
            @case ('contains_geospatial_data') {
              Has geospatial data necessary to run this model
            }
            @case ('current_size') {
              Current polygon area
            }
            @case ('max_area_size') {
              Maximum polygon area to run this model
            }
            @case ('below_max_area_size') {
              Polygon below the maximum area
            }
            @case ('region_factor') {
              Factor from region lookup
            }
            @case ('has_pesticides_inputs') {
              <span>Cycle contains</span>
              <code class="is-mx-1">pesticideAI</code>
              <span>Inputs</span>
            }
            @case ('all_pesticideAI_have_lookup_value') {
              <span>All</span>
              <code class="is-mx-1">pesticideAI</code>
              <span>Inputs have a lookup value</span>
            }
            @case ('has_crop_residue_burnt') {
              <code class="is-mr-1">aboveGroundCropResidueBurnt</code>
              <span>is present as Product</span>
            }
            @case ('liquid_slurry_sludge_P') {
              Liquid, Slurry, and Sludge P
            }
            @case ('no_cycle_inputs_feed') {
              <span>
                Cycle has
                <b>no</b>
                Input with
              </span>
              <code>isAnimalFeed=true</code>
            }
            @case ('has_cycle_inputs_feed') {
              <span>
                Cycle has
                <b>some</b>
                Input with
              </span>
              <code>isAnimalFeed=true</code>
            }
          }
        }
      </span>
      <he-clipboard
        class="is-inline-block is-align-middle"
        clipboardClass="is-size-7 is-p-1"
        [icon]="farClone"
        [value]="key"
        [hideText]="true" />
    </td>
    <td>
      @if (logValueArray(value); as valueArray) {
        <ng-container *ngTemplateOutlet="logLineArray; context: { value: valueArray, sorting: {} }" />
      } @else {
        <ng-container *ngTemplateOutlet="logLineValue; context: { key, value }" />
      }
    </td>
  </tr>
</ng-template>
