@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;
@use 'bulma/sass/utilities/mixins' as m;
@use '../../variables' as hv;

::ng-deep :root {
  --drawer-toggle-position: -20px;

  --sidenav-left-width: 256px;
  --sidenav-right-width: 256px;
  --content-transition-left-x: 0;
  --content-transition-right-x: 0;
}

:host-context {
  &[drawer-position='left'] {
    --sidenav-side-transform: 1;
    --sidenav-width: var(--sidenav-left-width);
    // overalp of menu on the content
    --content-transition-x: var(--content-transition-left-x);
    // direction the menu should move out of the screen
    --menu-transition-transform: -1;
  }

  &[drawer-position='right'] {
    // do not apply transform on the right side content, only width reduction
    --sidenav-side-transform: 0;
    --sidenav-width: var(--sidenav-right-width);
    // overalp of menu on the content
    --content-transition-x: var(--content-transition-right-x);
    // direction the menu should move out of the screen
    --menu-transition-transform: 1;

    aside {
      // right: 0;
      order: 1;

      .shell__menuContent {
        right: 0;
        box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.031372549);

        &--toggle {
          left: var(--drawer-toggle-position);
          border-radius: 3 * bv.$radius 0 0 3 * bv.$radius;
        }
      }
    }
  }
}

:host {
  position: relative;
  max-height: 100%;
  display: flex;
  justify-content: space-between;

  aside {
    position: sticky;
    top: var(--navbar-height);

    z-index: 10;
    height: calc(100vh - var(--navbar-height));

    .shell__menuContent {
      position: absolute;
      top: 0;
      box-shadow: 3px 3px 3px 0px #00000008;
      background-color: bv.$white;
      width: var(--sidenav-width);

      &--toggle {
        top: calc(50% - 24px);
        right: var(--drawer-toggle-position);
        background: bv.$panel-heading-background-color;
        border-radius: 0 9px 9px 0;
        border: none;
        width: 20px;
        height: 48px;
      }
    }
  }

  &.is-resizable {
    .shell__menuContent--toggle {
      &:active {
        cursor: col-resize;
      }
    }
  }
}

.shell__content--body {
  container-type: inline-size;
  transition: none;
}

.shell__content:not(.is-resizing) {
  .shell__content--body {
    transition:
      transform 0.3s ease-in-out,
      width 0.3s ease-in-out;
  }
}

.navigation-menu-dropdown {
  width: 300px;

  @include m.mobile {
    width: calc(100dvw - 3rem);
  }
}

.compact-header {
  position: sticky;
  top: calc(var(--navbar-height));
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;

  @include m.mobile {
    top: 0;
  }

  &--btn {
    display: block;

    background: bv.$panel-heading-background-color;
    border-radius: bv.$radius;
    color: bv.$blue;
    font-weight: 700;
    font-size: bv.$size-6;
    line-height: 21px;
    padding: 0.25rem 0.5rem;

    &__icon {
      margin-left: 0.25rem;
      font-size: 12px;
    }

    .show {
      .compact-header--btn__icon {
        transform: rotate(180deg);
      }
    }
  }
}

he-navigation-menu ::ng-deep {
  .menu {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}
