@if (visible()) {
  @if (isCompact()) {
    <div class="compact-header">
      <div [ngClass]="compactHeaderClass()">
        <div class="is-flex is-align-items-flex-start is-justify-content-space-between w-100">
          <div class="is-flex is-flex-grow-1 is-justify-content-space-between is-flex-direction-column">
            @if (drawerHeaderTemplate()) {
              <ng-container [ngTemplateOutlet]="drawerHeaderTemplate()" />
            }

            @if (drawerMenuHeaderTemplate()) {
              <ng-container [ngTemplateOutlet]="drawerMenuHeaderTemplate()" />
            }
          </div>

          @if (links()?.length > 0) {
            <div ngbDropdown #optionDd="ngbDropdown" container="body" placement="bottom-end">
              <button
                ngbDropdownToggle
                class="compact-header--btn button is-small is-no-shadow"
                aria-controls="drawer-menu"
                type="button">
                Menu

                <fa-icon
                  class="compact-header--btn__icon"
                  [icon]="optionDd.isOpen() ? faChevronUp : faChevronDown"
                  aria-hidden="true" />
              </button>

              <div ngbDropdownMenu id="drawer-menu">
                <div class="dropdown-content navigation-menu-dropdown">
                  <he-navigation-menu (closed)="optionDd.close()" [links]="links()" />
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  } @else {
    <aside>
      <div
        class="shell__menuContent | h-100"
        (@sideMenu.done)="animationDone($event)"
        [@sideMenu]="expanded() ? 'full' : 'hidden'">
        <div class="h-100 is-overflow-y-auto is-py-4 is-px-2">
          @if (drawerHeaderTemplate()) {
            <ng-container [ngTemplateOutlet]="drawerHeaderTemplate()" />
          }

          @if (links()?.length > 0) {
            <he-navigation-menu [links]="links()">
              @if (drawerMenuHeaderTemplate()) {
                <ng-container outer-content [ngTemplateOutlet]="drawerMenuHeaderTemplate()" />
              }
            </he-navigation-menu>
          }
        </div>
        <button
          (click)="toggleMenu()"
          (mousedown)="startResizing($event)"
          class="is-absolute is-overflow-hidden is-flex is-justify-content-center is-align-items-center | shell__menuContent--toggle"
          pointer>
          @if (resizable()) {
            <svg-icon name="drag" />
          } @else {
            <fa-icon [icon]="toggleIcon()" />
          }
        </button>
      </div>
    </aside>
  }
}

<div [class.is-resizing]="isHoldingToggle()" class="shell__content | h-100 w-100 is-flex">
  <div class="shell__content--body | w-100" [@reduceWidth]="reduceAnimation()">
    <div #contentContainer class="w-100" [className]="contentPaddingStyles()">
      <ng-content select="[drawer-content]"></ng-content>
    </div>
  </div>
</div>
