@use '@hestia-earth/ui-framework/src/styles/bulma-variables' as bv;

:host {
  display: block;
}

.model-parallel {
  border-left: 3px solid bv.$grey;
}

.dropdown-content {
  &.is-dropdown-filters {
    min-width: 250px;
  }
}
