<p>
  <i>
    The configuration below is a preview of the
    <a [href]="configUrl" target="_blank">JSON configuration file</a>
    used for the orchestration of the HESTIA's calculations.
  </i>
</p>
<p>
  <i>Note: not all models might be represented accurately.</i>
</p>

<div class="is-size-7 is-italic">
  <div class="columns is-mobile is-multiline is-vcentered is-variable is-1 my-0">
    <div class="column">
      <div class="pl-3 model-parallel my-3">
        <span>Models running in parallel</span>
      </div>
    </div>

    <div class="column is-narrow">
      <div ngbDropdown #optionDd="ngbDropdown" container="body" placement="bottom-end" autoClose="outside">
        <button
          ngbDropdownToggle
          class="button is-ghost"
          aria-haspopup="true"
          aria-controls="option-menu"
          ngbTooltip="Options"
          placement="bottom"
          container="body"
          [disableTooltip]="optionDd.isOpen()">
          <span class="icon is-small">
            <fa-icon [icon]="faCog" aria-hidden="true" />
          </span>
        </button>
        <div ngbDropdownMenu id="option-menu" role="menu">
          <div class="dropdown-content | is-dropdown-filters">
            <div class="dropdown-item">
              <div class="field">
                <div class="control is-expanded has-icons-right">
                  <input
                    type="text"
                    class="input search-input is-secondary is-small"
                    [ngModel]="search()"
                    name="collection"
                    placeholder="Filter by key, name or model"
                    (input)="search.set($event.target.value)" />
                  <a class="icon is-small is-right" (click)="search.set('')">
                    <fa-icon [icon]="faTimes" />
                  </a>
                </div>
              </div>

              <div class="field is-relative">
                <input
                  type="checkbox"
                  class="switch is-small is-rounded is-secondary"
                  [ngModel]="showAdvanced()"
                  id="showAdvanced"
                  (change)="showAdvanced.set($event.target.checked)" />
                <label class="is-size-7" for="showAdvanced">
                  <span>Show advanced data</span>
                </label>
              </div>

              <div class="field is-relative">
                <input
                  type="checkbox"
                  class="switch is-small is-rounded is-secondary"
                  [ngModel]="onlyGapFilled()"
                  id="onlyGapFilled"
                  (change)="onlyGapFilled.set($event.target.checked)" />
                <label class="is-size-7" for="onlyGapFilled">
                  <span>Show only gap-filled data</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-narrow">
      <div ngbDropdown #optionDd="ngbDropdown" container="body" placement="bottom-end">
        <button
          ngbDropdownToggle
          class="button is-ghost"
          aria-haspopup="true"
          aria-controls="display-menu"
          ngbTooltip="Display options"
          placement="bottom"
          container="body"
          [disableTooltip]="optionDd.isOpen()">
          <span class="icon is-small">
            <fa-icon [icon]="displayBy() === 'list' ? faList : faTable" aria-hidden="true" />
          </span>
        </button>
        <div ngbDropdownMenu id="display-menu" role="menu">
          <div class="dropdown-content">
            <a ngbDropdownItem [class.is-selected]="displayBy() === 'list'" (click)="displayBy.set('list')">
              <fa-icon [icon]="faList" aria-hidden="true" />
              <span class="pl-2">Display by Priority</span>
            </a>
            <a ngbDropdownItem [class.is-selected]="displayBy() === 'type'" (click)="displayBy.set('type')">
              <fa-icon [icon]="faTable" aria-hidden="true" />
              <span class="pl-2">Display by Type</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@if (displayBy() === 'list' && models()) {
  <div class="pl-3">
    <ng-container *ngTemplateOutlet="modelList; context: { $implicit: models() }" />
  </div>
}

@if (displayBy() === 'type' && groupedModels()) {
  <div class="tabs">
    <ul>
      @for (group of groupedModels() | keyvalue; track group.key) {
        <li [class.is-active]="selectedGroupedKey() === group.key">
          <a (click)="selectedGroupedKey.set(group.key)">
            <span class="pl-2">{{ group.key }} ({{ group.value.length }})</span>
          </a>
        </li>
      }
    </ul>
  </div>
  <div class="pl-3">
    <ng-container *ngTemplateOutlet="modelList; context: { $implicit: groupedModels()[selectedGroupedKey()] }" />
  </div>
}

<ng-template #termLink let-value>
  @if (termsById()[value]) {
    <he-node-link [node]="termsById()[value]" [showExternalLink]="true">
      <span>{{ termsById()[value].name }}</span>
    </he-node-link>
  } @else {
    <span>{{ value | keyToLabel }}</span>
  }
</ng-template>

<ng-template #modelList let-data>
  @for (v of data; track v) {
    <div>
      <ng-container *ngTemplateOutlet="model; context: { $implicit: v }" />
    </div>
  }
</ng-template>

<ng-template #model let-data>
  @if (isArray(data) && data.length) {
    <div class="pl-3 model-parallel">
      <ng-container *ngTemplateOutlet="modelList; context: { $implicit: data }" />
    </div>
    <hr />
  } @else if (!isArray(data)) {
    <div class="card mb-2 model-serie is-size-6">
      <div class="card-content p-3">
        <span class="is-capitalized">{{ data.key | keyToLabel }}</span>
        :
        @let link = findModelLink(data);
        @if (link) {
          <ng-container *ngTemplateOutlet="modelLink; context: { model: data.model, value: data.value, link }" />
        } @else {
          @let modelLink = findModelPathLink(data);
          @if (modelLink) {
            <ng-container
              *ngTemplateOutlet="modelPathLink; context: { model: data.model, value: data.value, link: modelLink }" />
          } @else {
            <span class="default-value">{{ data.value }}</span>
            <p>
              <span class="pr-1">Model:</span>
              <span class="pr-2">
                <ng-container *ngTemplateOutlet="termLink; context: { $implicit: data.model }" />
              </span>
            </p>
          }
        }
        @if (showAdvanced()) {
          <div>
            @if (data.runStrategy) {
              <div>
                <span class="pr-1">Run strategy:</span>
                <ng-container
                  *ngTemplateOutlet="strategiesLink; context: { strategy: data.runStrategy, type: 'run' }" />
                @if (data.runArgs) {
                  <div class="pl-3 is-size-7">
                    <p><b>Run arguments:</b></p>
                    <ng-container *ngTemplateOutlet="strategiesArgs; context: { $implicit: data.runArgs }" />
                  </div>
                }
              </div>
            }
            @if (data.mergeStrategy) {
              <div>
                <span class="pr-1">Merge strategy:</span>
                <ng-container
                  *ngTemplateOutlet="strategiesLink; context: { strategy: data.mergeStrategy, type: 'merge' }" />
                @if (data.mergeArgs) {
                  <div class="pl-3 is-size-7">
                    <p><b>Merge arguments:</b></p>
                    <ng-container *ngTemplateOutlet="strategiesArgs; context: { $implicit: data.mergeArgs }" />
                  </div>
                }
              </div>
            }
          </div>
        }
      </div>
    </div>
  }
</ng-template>

<ng-template #modelLinkKey let-model="model" let-link="link">
  <a [href]="modelKeyUrl(link, model)" target="_blank">{{ modelKeyName(link.modelKey) }}</a>
</ng-template>

<ng-template #modelLink let-model="model" let-link="link" let-value="value">
  @if (link.term) {
    <ng-container *ngTemplateOutlet="termLink; context: { $implicit: link.term }" />
  }

  @if (!link.term && !link?.modelKey) {
    <span class="default-value">{{ value }}</span>
  }

  @if (!link.term && link?.modelKey) {
    <ng-container *ngTemplateOutlet="modelLinkKey; context: { link, model }" />
  }

  <p class="model-link">
    <span class="pr-1">Model:</span>
    <span class="pr-2">
      <ng-container *ngTemplateOutlet="termLink; context: { $implicit: model }" />
    </span>

    <a class="is-size-7" [href]="link.docPath" target="_blank">
      <span class="pr-1">(View Docs)</span>
      <fa-icon [icon]="faExternalLinkAlt" />
    </a>
  </p>
</ng-template>

<ng-template #modelPathLink let-model="model" let-link="link" let-value="value">
  @if (!link?.modelKey) {
    <span class="default-value">{{ value }}</span>
  }

  @if (link?.modelKey) {
    <ng-container *ngTemplateOutlet="modelLinkKey; context: { link, model }" />
  }

  <p class="model-path-link">
    <span class="pr-1">Model:</span>
    <span class="pr-2">
      <ng-container *ngTemplateOutlet="termLink; context: { $implicit: model }" />
    </span>

    <a class="is-size-7" [href]="link.docPath" target="_blank">
      <span class="pr-1">(View Docs)</span>
      <fa-icon [icon]="faExternalLinkAlt" />
    </a>
  </p>
</ng-template>

<ng-template #strategiesLink let-strategy="strategy" let-type="type">
  <span class="pr-2 is-inline-block">
    <code>{{ strategy }}</code>
  </span>

  <a
    class="is-size-7"
    [href]="strategiesDocs + '/' + type + '/' + (type === 'merge' ? 'merge_' : '') + strategy + '.md'"
    target="_blank">
    <span class="pr-1">(View Docs)</span>
    <fa-icon [icon]="faExternalLinkAlt" />
  </a>
</ng-template>

<ng-template #strategiesArgs let-args>
  <div class="pl-2">
    @for (arg of args | keyvalue; track arg) {
      <p>
        <span class="has-text-underline">{{ arg.key }}</span>
        :
        <code>{{ arg.value | json }}</code>
      </p>
    }
  </div>
</ng-template>
