<app-node-suggest-form [nodeType]="nodeType" [multiple]="false"></app-node-suggest-form>

<app-node-list [nodeType]="nodeType"></app-node-list>

@if (nodes().length) {
  <div>
    <div class="card">
      <div class="card-content">
        <he-engine-models-stage-deep [node]="nodes()[0]" [expanded]="true" />
      </div>
    </div>
  </div>
}
